/* Icon 1 */
.HeadrnavBtn {
  transform: scale(55%) translateY(6px);
}

.nav-icon1 {
  width: 53px;
  height: 45px;
  display: block;
  position: relative;
  margin: 50px auto;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #000;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.nav-icon1 span:nth-child(1) {
  top: 0px;
}

.nav-icon1 span:nth-child(2) {
  top: 18px;
}

.nav-icon1 span:nth-child(3) {
  top: 36px;
}

.nav-icon1.open span:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
}

.nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.nav-icon1.open span:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg);
}

#navigationSec {
  width: 100%;
  height: 0vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: var(--main);
  transition: all 500ms;
}

#navigation {
  width: 100%;
  height: 100vh;
  color: var(--dark);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 100px;
}
#navigation header {
  justify-content: space-between;
}
#navigation header .content {
  display: flex;
}
#navigation header .content > div {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#navigation header .content > div:nth-child(1) {
  gap: 15px;
}
#navigation header .content > div:nth-child(1) .nav-link {
  position: relative;
  border-radius: 100px;
  overflow: hidden;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 40px;
  line-height: 50px;
  font-family: var(--Satoshi);
}
#navigation header .content > div:nth-child(1) .nav-link > .text {
  padding: 6px 16px;
  cursor: pointer;
  transition: all 300ms;
}
#navigation header .content > div:nth-child(1) .nav-link:hover > .text {
  transform: scale(0.75);
}
#navigation header .content > div:nth-child(1) .nav-link > .textbg {
  position: absolute;
  background-color: var(--sec);
  padding: 6px 16px;
  cursor: pointer;
  transition: all 300ms;
  border-radius: 100px;
  color: var(--light);
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
}
#navigation header .content > div:nth-child(1) .nav-link:hover > .textbg {
  top: 0%;
}
#navigation header .content > div:nth-child(2) {
  align-items: end;
  gap: 40px;
}
#navigation header .content > div:nth-child(2) .card {
  display: flex;
  max-width: 396px;
  max-height: 164px;
  align-items: center;
  border: 1px solid var(--gray-cd);
  padding: 15px;
  gap: 30px;
}
#navigation header .content > div:nth-child(2) .card:nth-child(2) {
  margin-right: 25%;
}
#navigation header .content > div:nth-child(2) .card h5 {
  font-size: 20px;
  line-height: 28px;
  font-family: var(--SatoshiM);
  margin-bottom: 10px;
}
#navigation header .content > div:nth-child(2) .card p {
  font-size: 16px;
  line-height: normal;
  max-width: 180px;
  font-family: var(--Satoshi);
}
#navigation header .content > div:nth-child(2) .card .animicon {
  width: 55px;
  height: 55px;
  margin-right: 10px;
}
#navigation .footer {
  color: var(--dark);
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 12vh;
  min-height: 65px;
  max-height: 100px;
  justify-content: space-between;
  white-space: nowrap;
  position: relative;
}
#navigation .footer .creator {
  font-size: 22px;
}
#navigation .footer .icons {
  display: flex;
  gap: 20px;
}
#navigation .footer .icons > div {
  background-color: var(--sec);
  border-radius: 100px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#navigation .footer .border-top {
  position: absolute;
  border-radius: 100px;
  width: 100%;
  left: 0%;
  top: 0;
  border-bottom: 1px solid var(--gray-c5);
}

#heroSec {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

#hero {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  color: var(--dark);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 100px;
  max-width: 1920px;
  margin: 0 auto;
}

#heroBg {
  -webkit-clip-path: circle(0% at 50% 50%);
          clip-path: circle(0% at 50% 50%);
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 100px;
}
#heroBg .nav-icon1 span {
  background-color: #fff !important;
}
#heroBg nav {
  color: var(--light);
}
#heroBg .head .headCon .circle {
  background-color: var(--dark);
}
#heroBg .head .headCon .detail > div:nth-child(1) a {
  color: inherit;
}
#heroBg .head .headCon .detail > div:nth-child(1) a > div > div {
  background-color: var(--light);
}

#marqueeWrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 200px;
  color: var(--light);
  max-width: 30vw;
  box-sizing: border-box;
  line-height: normal;
  vertical-align: middle;
  background-color: var(--sec);
}
#marqueeWrapper #marquee {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  white-space: nowrap;
}
#marqueeWrapper #marquee > div {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 15px;
  padding-top: 12px;
  position: relative;
}
#marqueeWrapper #marquee > div > span {
  display: inline-block;
  height: -moz-fit-content;
  height: fit-content;
  transform: translateY(22%);
  padding: 0 15px;
}
#marqueeWrapper #marquee #second {
  position: absolute;
  top: 0%;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  color: var(--dark);
  width: 100%;
  position: relative;
  top: 0;
  left: 0%;
  overflow: hidden;
  display: flex;
  align-items: center;
  min-height: 100px;
  height: 100px;
  justify-content: space-between;
  white-space: nowrap;
}
nav .logoimg {
  justify-content: left;
}
nav .logoimg img {
  width: 59px;
}
nav .border-bottom {
  position: absolute;
  border-radius: 100px;
  width: 100%;
  left: 0%;
  bottom: 0;
  border-bottom: 1px solid var(--gray-c5);
}
nav > div {
  flex: 1 1 0%;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
nav > div:nth-child(3) {
  justify-content: end;
}
nav > div:nth-child(3) button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
nav .nav-link {
  position: relative;
  border-radius: 100px;
  overflow: hidden;
}
nav .nav-link > .text {
  font-size: 16px;
  font-size: var(--SatoshiR);
  font-weight: 400 !important;
  padding: 4px 16px;
  cursor: pointer;
  transition: all 300ms;
}
nav .nav-link:hover > .text {
  transform: scale(0.75);
}
nav .nav-link > .textbg {
  position: absolute;
  background-color: var(--sec);
  font-size: 16px;
  padding: 4px 16px;
  cursor: pointer;
  transition: all 300ms;
  border-radius: 100px;
  color: var(--light);
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
}
nav .nav-link:hover > .textbg {
  top: 0%;
}
nav .line {
  height: 30px;
  width: 1px;
  background-color: var(--gray-c5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head .headCon {
  font-size: 7vw;
  line-height: 1;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 48px 0px;
  font-family: var(--NohemiL);
  font-weight: 300;
}
.head .headCon .circle {
  background-color: var(--dark);
  width: 5vw;
  border-radius: 100%;
  vertical-align: baseline;
  aspect-ratio: 1/1;
  display: inline-block;
}
.head .headCon > div:nth-child(1) {
  width: 100%;
}
.head .headCon .detail {
  width: 100%;
  display: flex;
  font-family: var(--Satoshi);
}
.head .headCon .detail > div:nth-child(1) {
  font-size: 16px;
  line-height: 22px;
  padding-left: 50%;
  flex: 1 1 0%;
}
.head .headCon .detail > div:nth-child(1) p {
  color: var(--gray-79);
  width: 80%;
  font-weight: 400 !important;
  min-width: 300px;
  max-width: 477px;
}
.head .headCon .detail > div:nth-child(1) a {
  font-size: 14px;
  line-height: 21px;
  margin-top: 16px;
  font-weight: 600;
  font-family: var(--SatoshiM);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.head .headCon .detail > div:nth-child(1) a > div {
  position: relative;
  padding-bottom: 4px;
}
.head .headCon .detail > div:nth-child(1) a > div > div {
  background-color: var(--dark);
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 100%;
  transition: all 300ms;
}
.head .headCon .detail > div:nth-child(1) a:hover > div > div {
  width: 0;
}
.head .headCon .detail > div:nth-child(1) a span {
  color: var(--dark);
  transition: all 300ms;
  height: 36px;
  border: 1px dashed var(--dark);
  background-color: var(--light);
  margin-left: 24px;
  padding: 4px 36px;
  border-radius: 100px;
  display: block;
}
.head .headCon .detail > div:nth-child(1) a span img {
  vertical-align: middle;
}
.head .headCon .detail > div:nth-child(1) a:hover span {
  border: 1px dashed var(--light);
}

@media (min-width: 1390px) {
  #navigation .footer {
    height: 16vh;
    min-height: 90px;
    max-height: 100px;
  }
  nav {
    height: 100px;
    min-height: 100px;
    max-height: 100px;
  }
  nav > div {
    gap: 16px;
  }
  nav .nav-link > .textbg, nav .nav-link > .text {
    font-size: 16px;
    line-height: 24px;
    padding: 4px 16px;
  }
  nav .line {
    height: 30px;
  }
  .head .headCon {
    line-height: 125px;
    padding: 48px 0px;
    font-weight: 300;
  }
  .head .headCon .circle {
    width: 70px;
    height: 70px;
  }
  .head .headCon .detail > div:nth-child(1) {
    padding-left: 50%;
  }
  .head .headCon .detail > div:nth-child(1) a span {
    margin-left: 24px;
    padding: 4px 24px;
  }
}
@media (min-width: 1536px) {
  #hero,
  #heroBg {
    padding: 0 120px;
  }
  #navigation {
    padding: 0 120px;
  }
  #navigation header .content > div:nth-child(1) {
    gap: 25px;
  }
  #navigation header .content > div:nth-child(1) .nav-link {
    font-size: 60px;
    line-height: 81px;
  }
  #navigation header .content > div:nth-child(1) .nav-link > .text {
    padding: 6px 16px;
  }
  #navigation header .content > div:nth-child(1) .nav-link > .textbg {
    padding: 6px 16px;
  }
  #navigation header .content > div:nth-child(2) {
    gap: 50px;
  }
  #navigation header .content > div:nth-child(2) .card {
    max-width: 396px;
    max-height: 164px;
    padding: 25px;
    gap: 80px;
  }
  #navigation header .content > div:nth-child(2) .card:nth-child(2) {
    margin-right: 25%;
  }
  #navigation header .content > div:nth-child(2) .card h5 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  #navigation header .content > div:nth-child(2) .card p {
    font-size: 22px;
    line-height: 30px;
    max-width: 213px;
  }
  #navigation .footer {
    height: 16vh;
    min-height: 110px;
    max-height: 133px;
    justify-content: space-between;
    white-space: nowrap;
    position: relative;
  }
  #navigation .footer .creator {
    font-size: 22px;
  }
  #navigation .footer .icons {
    gap: 20px;
  }
  #navigation .footer .icons > div {
    width: 34px;
    height: 34px;
  }
  nav {
    height: 133px;
    min-height: 133px;
    max-height: 133px;
  }
  nav > div {
    gap: 22px;
  }
  nav .logoimg img {
    width: 73px;
  }
  nav .nav-link > .textbg, nav .nav-link > .text {
    font-size: 22px;
    line-height: 32px;
    padding: 4px 22px;
  }
  nav .line {
    height: 30px;
  }
  .head .headCon {
    line-height: 165px;
  }
  .head .headCon .circle {
    width: 80px;
    height: 80px;
  }
  .head .headCon .detail > div:nth-child(1) {
    font-size: 22px;
    line-height: 32px;
    padding-left: 50%;
  }
  .head .headCon .detail > div:nth-child(1) p {
    width: 80%;
    max-width: 636px;
  }
  .head .headCon .detail > div:nth-child(1) a {
    font-size: 18px;
    line-height: 1;
  }
  .head .headCon .detail > div:nth-child(1) a > div {
    padding-bottom: 4px;
  }
  .head .headCon .detail > div:nth-child(1) a > div > div {
    bottom: -6px;
  }
  .head .headCon .detail > div:nth-child(1) a span {
    margin-left: 32px;
    padding: 6px 32px;
    height: 40px;
  }
}
@media (max-width: 750px) {
  .HeadrnavBtn {
    transform: scale(100%) translateY(0px);
  }
  .HeadrnavBtn .nav-icon1 {
    width: 53px;
    height: 45px;
    display: block;
    position: relative;
    margin: 50px auto;
    transform: scale(40%) rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  .HeadrnavBtn .nav-icon1 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #000;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  #navigationSec {
    width: 100%;
    height: 0vh;
    transition: height 0ms linear;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: transparent !important;
  }
  #navigationSec.open #mobileNav {
    background-color: rgba(0, 0, 0, 0.5019607843);
  }
  #navigationSec.open #mobileNav > div {
    -webkit-clip-path: circle(200% at 90% 9%);
            clip-path: circle(200% at 90% 9%);
  }
  #navigation {
    display: none;
  }
  #mobileNav {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    transition: all 800ms ease;
  }
  #mobileNav > div {
    transition: all 800ms ease;
    overflow: hidden;
    -webkit-clip-path: circle(0% at 90% 9%);
            clip-path: circle(0% at 90% 9%);
    background-color: var(--light);
    z-index: 100;
    position: fixed;
    right: 20px;
    top: 30px;
    border-radius: 24px;
    width: 264px;
    height: -moz-fit-content;
    height: fit-content;
    padding: 15px 24px;
  }
  #mobileNav > div .mobileNav-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #mobileNav > div .mobileNav-head h1 {
    font-family: var(--NohemiEL);
    color: var(--gray-cd);
    letter-spacing: 0.1ch;
    font-size: 24px;
  }
  #mobileNav > div .mobileNav-head button {
    border: none;
    outline: none;
    background: none;
    border-radius: 100px;
    padding: 10px;
    padding-right: 0;
  }
  #mobileNav > div .mobileNav-head button img {
    width: 30px;
  }
  #mobileNav > div .mobileNav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    padding-right: 10px;
  }
  #mobileNav > div .mobileNav-item:active div, #mobileNav > div .mobileNav-item:hover div {
    background-color: var(--sec);
  }
  #mobileNav > div .mobileNav-item p {
    cursor: pointer;
    text-decoration: none;
    font-family: var(--Satoshi);
    color: var(--black);
    font-size: 20px;
  }
  #mobileNav > div .mobileNav-item div {
    background-color: var(--light);
    width: 10px;
    height: 10px;
    border-radius: 30px;
    transition: all 500ms ease;
  }
  #heroSec {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: unset;
    position: relative;
    overflow: hidden;
  }
  #hero {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: unset;
    color: var(--dark);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 24px;
  }
  #heroBg {
    -webkit-clip-path: circle(0% at 50% 50%);
            clip-path: circle(0% at 50% 50%);
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--dark);
    color: var(--light);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 24px;
  }
  #heroBg nav {
    color: var(--light);
  }
  #heroBg .head .headCon .circle {
    background-color: var(--dark);
  }
  #heroBg .head .headCon .detail > div:nth-child(1) a {
    color: inherit;
  }
  #heroBg .head .headCon .detail > div:nth-child(1) a > div > div {
    background-color: var(--light);
  }
  #marqueeWrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 200px;
    color: var(--light);
    font-size: 40px;
    max-width: 208px;
    box-sizing: border-box;
    vertical-align: middle;
    background-color: var(--sec);
  }
  #marqueeWrapper #marquee {
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    white-space: nowrap;
  }
  #marqueeWrapper #marquee > div {
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-right: 15px;
    padding-top: 12px;
    position: relative;
  }
  #marqueeWrapper #marquee > div > span {
    display: inline-block;
    height: -moz-fit-content;
    height: fit-content;
    transform: translateY(22%);
    padding: 0 15px;
  }
  #marqueeWrapper #marquee #second {
    position: absolute;
    top: 0%;
  }
  header {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: unset;
    display: flex;
    flex-direction: column;
  }
  nav {
    color: var(--dark);
    width: 100%;
    position: relative;
    top: 0;
    left: 0%;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 12vh;
    min-height: 120px;
    max-height: 120px;
    justify-content: space-between;
    white-space: nowrap;
  }
  nav .logoimg {
    justify-content: left;
  }
  nav .logoimg img {
    width: 59px;
  }
  nav .border-bottom {
    position: absolute;
    border-radius: 100px;
    width: 100%;
    left: 0%;
    bottom: 0;
    border-bottom: 1px solid var(--gray-c5);
  }
  nav > div {
    flex: 1 1 0%;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }
  nav > div:nth-child(3) {
    justify-content: end;
  }
  nav > div:nth-child(3) button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #fff;
    border-radius: 100px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav > div:nth-child(3) button img {
    width: 35px;
  }
  nav .navlinkscenter {
    display: none !important;
  }
  nav .line {
    display: none;
  }
  .head {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .head .headCon {
    font-size: 60px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    padding: 48px 0px;
    font-family: var(--NohemiL);
    font-weight: 300;
  }
  .head .headCon #deskbr {
    display: none;
  }
  .head .headCon .circle {
    background-color: var(--dark);
    width: 34px;
    height: 34px;
    border-radius: 100%;
    vertical-align: baseline;
    aspect-ratio: 1/1;
    display: inline-block;
  }
  .head .headCon .detail {
    width: 100%;
    display: flex;
    font-family: var(--Satoshi);
  }
  .head .headCon .detail > div:nth-child(1) {
    font-size: 16px;
    line-height: 27px;
    padding-left: 0px;
    padding: 38px 0px;
  }
  .head .headCon .detail > div:nth-child(1) p {
    color: var(--gray-79);
    width: 100%;
    font-weight: 400 !important;
    min-width: 300px;
    max-width: 477px;
  }
  .head .headCon .detail > div:nth-child(1) a {
    font-size: 14px;
    line-height: 21px;
    margin-top: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }
  .head .headCon .detail > div:nth-child(1) a > div {
    position: relative;
    padding-bottom: 4px;
  }
  .head .headCon .detail > div:nth-child(1) a > div > div {
    background-color: var(--dark);
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 100%;
    transition: all 300ms;
  }
  .head .headCon .detail > div:nth-child(1) a:hover > div > div {
    width: 0;
  }
  .head .headCon .detail > div:nth-child(1) a span {
    color: var(--dark);
    transition: all 300ms;
    height: 36px;
    border: 1px dashed var(--dark);
    background-color: var(--light);
    margin-left: 24px;
    padding: 4px 36px;
    border-radius: 100px;
    display: block;
  }
  .head .headCon .detail > div:nth-child(1) a span img {
    vertical-align: middle;
  }
  .head .headCon .detail > div:nth-child(1) a:hover span {
    border: 1px dashed var(--light);
  }
}/*# sourceMappingURL=hero.css.map */