/* Icon 1 */
.HeadrnavBtn {
  height: 25px;
  width: 25px;
  position: relative;
  z-index: 100 !important;
}
.HeadrnavBtn #navAnimatedIcon {
  height: 25px;
  width: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  transition: all 500ms ease;
}
.HeadrnavBtn #navAnimatedIcon #hamburger-line1,
.HeadrnavBtn #navAnimatedIcon #hamburger-line2 {
  width: 100%;
  height: 2px;
  background-color: #000;
  border-radius: 2px;
  transition: all 500ms ease;
  transform-origin: center center;
}
.HeadrnavBtn #navAnimatedIcon.open {
  position: fixed;
  gap: 0;
}
.HeadrnavBtn #navAnimatedIcon.open #hamburger-line1 {
  transform: rotate(45deg);
}
.HeadrnavBtn #navAnimatedIcon.open #hamburger-line2 {
  transform: rotate(-45deg) translate(1px, -1px);
}

#mobileNavBtn {
  display: none;
}

#navigationSec.open {
  --localtransitiontime: 600ms;
}
#navigationSec.open #navigation header .content > div:nth-child(1) .nav-link {
  transition-delay: var(--localtransitiontime);
  opacity: 1;
}
#navigationSec.open #navigation header .content > div:nth-child(1) .nav-link:nth-child(2) {
  transition-delay: calc(var(--localtransitiontime) + 100ms);
}
#navigationSec.open #navigation header .content > div:nth-child(1) .nav-link:nth-child(3) {
  transition-delay: calc(var(--localtransitiontime) + 200ms);
}
#navigationSec.open #navigation header .content > div:nth-child(1) .nav-link:nth-child(4) {
  transition-delay: calc(var(--localtransitiontime) + 300ms);
}
#navigationSec.open #navigation header .content > div:nth-child(1) .nav-link:nth-child(5) {
  transition-delay: calc(var(--localtransitiontime) + 400ms);
}
#navigationSec.open #navigation header .content > div:nth-child(2) .card {
  transition-delay: var(--localtransitiontime);
  opacity: 1;
}
#navigationSec.open #navigation header .content > div:nth-child(2) .card:nth-child(2) {
  transition-delay: calc(var(--localtransitiontime) + 100ms);
}
#navigationSec.open #navigation header .content > div:nth-child(2) .card:nth-child(3) {
  transition-delay: calc(var(--localtransitiontime) + 200ms);
}
#navigationSec.open #navigation .footer {
  opacity: 1;
  transition-delay: calc(var(--localtransitiontime) + 400ms);
}

#navigationSec {
  width: 100%;
  height: 0vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: var(--main);
  transition: all 1s ease;
}

#navigation {
  width: 100%;
  height: 100vh;
  color: var(--dark);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 100px;
}
#navigation a.LinkhoverGroup {
  font-size: 20px;
  line-height: 20px;
  color: var(--black);
  text-decoration: none;
  gap: 20px;
}
#navigation a.LinkhoverGroup.mob-only {
  display: flex !important;
}
#navigation a.LinkhoverGroup > div.textonly {
  position: relative;
  overflow: hidden;
}
#navigation a.LinkhoverGroup > div.textonly > div {
  padding: 5px 20px;
}
#navigation a.LinkhoverGroup > div.textonly * {
  transition: all 300ms ease;
}
#navigation a.LinkhoverGroup > div.textonly .hiddenTag {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
}
#navigation a.LinkhoverGroup > div.icononly {
  position: relative;
  overflow: hidden;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
}
#navigation a.LinkhoverGroup > div.icononly * {
  transition: all 400ms ease;
}
#navigation a.LinkhoverGroup > div.icononly .hiddenTag {
  position: absolute;
  top: 100%;
  left: -100%;
}
#navigation a.LinkhoverGroup:hover > div.textonly .visibleTag {
  transform: translateY(-100%);
}
#navigation a.LinkhoverGroup:hover > div.textonly .hiddenTag {
  transform: translateY(-100%);
}
#navigation a.LinkhoverGroup:hover > div.icononly .visibleTag {
  transform: translate3d(100%, -100%, 0);
}
#navigation a.LinkhoverGroup:hover > div.icononly .hiddenTag {
  transform: translate3d(100%, -100%, 0);
}
#navigation header {
  justify-content: space-between;
}
#navigation header .content {
  display: flex;
}
#navigation header .content > div {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#navigation header .content > div:nth-child(1) {
  gap: 15px;
}
#navigation header .content > div:nth-child(1) .nav-link {
  opacity: 0;
  transition: opacity 1s ease;
  overflow: hidden;
}
#navigation header .content > div:nth-child(1) .nav-link > div {
  border-radius: 100px;
  overflow: hidden;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 40px;
  line-height: 50px;
  font-family: var(--Satoshi);
}
#navigation header .content > div:nth-child(1) .nav-link > div > .text {
  padding: 6px 16px;
  cursor: pointer;
  transition: all 300ms;
}
#navigation header .content > div:nth-child(1) .nav-link > div:hover > .text {
  transform: scale(0.75);
}
#navigation header .content > div:nth-child(1) .nav-link > div > .textbg {
  position: absolute;
  background-color: var(--sec);
  padding: 6px 16px;
  cursor: pointer;
  transition: all 300ms;
  border-radius: 100px;
  color: var(--light);
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
}
#navigation header .content > div:nth-child(1) .nav-link > div:hover > .textbg {
  top: 0%;
}
#navigation header .content > div:nth-child(2) {
  align-items: end;
  gap: 40px;
}
#navigation header .content > div:nth-child(2) .card {
  transition: opacity 1s ease;
  color: var(--black);
  text-decoration: none;
  opacity: 0;
  display: flex;
  max-width: 396px;
  max-height: 164px;
  align-items: center;
  border: 1px solid var(--gray-cd);
  padding: 15px;
  gap: 30px;
  cursor: pointer;
  position: relative;
}
#navigation header .content > div:nth-child(2) .card:nth-child(2) {
  margin-right: 25%;
}
#navigation header .content > div:nth-child(2) .card h5 {
  font-size: 20px;
  line-height: 28px;
  font-family: var(--SatoshiM);
  margin-bottom: 10px;
  pointer-events: none;
}
#navigation header .content > div:nth-child(2) .card p {
  font-size: 16px;
  line-height: normal;
  max-width: 180px;
  font-family: var(--Satoshi);
  pointer-events: none;
}
#navigation header .content > div:nth-child(2) .card .animicon {
  width: 55px;
  height: 55px;
  margin-right: 10px;
  pointer-events: none;
}
#navigation .footer {
  opacity: 0;
  transition: opacity 1s ease;
  color: var(--dark);
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 12vh;
  min-height: 65px;
  max-height: 100px;
  justify-content: space-between;
  white-space: nowrap;
  position: relative;
}
#navigation .footer .creator {
  font-size: 22px;
}
#navigation .footer .icons {
  display: flex;
  gap: 20px;
}
#navigation .footer .icons > a {
  background-color: var(--sec);
  border-radius: 100px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#navigation .footer .icons > a img {
  width: 22px;
  height: 22px;
}
#navigation .footer .border-top {
  position: absolute;
  border-radius: 100px;
  width: 100%;
  left: 0%;
  top: 0;
  border-bottom: 1px solid var(--gray-c5);
}

#heroSec {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

#hero {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  color: var(--dark);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 100px;
}

#heroBg {
  -webkit-clip-path: circle(0% at 50% 50%);
          clip-path: circle(0% at 50% 50%);
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 100px;
}
#heroBg .nav-icon1 span {
  background-color: #fff !important;
}
#heroBg nav {
  color: var(--light);
}
#heroBg .head .headCon .circle {
  background-color: var(--dark);
}
#heroBg .head .headCon .detail > div:nth-child(2) p {
  color: var(--gray-97) !important;
}
#heroBg .head .headCon .detail > div:nth-child(2) a {
  color: inherit;
}
#heroBg .head .headCon .detail > div:nth-child(2) a > div > div {
  background-color: var(--light) !important;
}

#marqueeWrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 200px;
  color: var(--light);
  max-width: 30vw;
  box-sizing: border-box;
  line-height: normal;
  vertical-align: middle;
  background-color: var(--sec);
}
#marqueeWrapper #marquee {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  white-space: nowrap;
}
#marqueeWrapper #marquee > div {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 15px;
  padding-top: 12px;
  position: relative;
}
#marqueeWrapper #marquee > div > span {
  display: inline-block;
  height: -moz-fit-content;
  height: fit-content;
  transform: translateY(22%);
  padding: 0 15px;
}
#marqueeWrapper #marquee #second {
  position: absolute;
  top: 0%;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  color: var(--dark);
  width: 100%;
  position: relative;
  top: 0;
  left: 0%;
  overflow: hidden;
  display: flex;
  align-items: center;
  min-height: 100px;
  height: 100px;
  justify-content: space-between;
  white-space: nowrap;
}
nav #navbtnplacer {
  opacity: 0;
  width: 25px;
}
nav .logoimg {
  justify-content: left;
}
nav .logoimg img {
  width: 59px;
}
nav .border-bottom {
  position: absolute;
  border-radius: 100px;
  width: 100%;
  left: 0%;
  bottom: 0;
  border-bottom: 1px solid var(--gray-c5);
}
nav > div {
  flex: 1 1 0%;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
nav > div:nth-child(3) {
  justify-content: end;
}
nav > div:nth-child(3) button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
nav .nav-link {
  position: relative;
  border-radius: 100px;
  overflow: hidden;
}
nav .nav-link > .text {
  font-size: 16px;
  font-size: var(--SatoshiR);
  font-weight: 400 !important;
  padding: 4px 16px;
  cursor: pointer;
  transition: all 300ms;
}
nav .nav-link:hover > .text {
  transform: scale(0.75);
}
nav .nav-link > .textbg {
  position: absolute;
  background-color: var(--sec);
  font-size: 16px;
  padding: 4px 16px;
  cursor: pointer;
  transition: all 300ms;
  border-radius: 100px;
  color: var(--light);
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
}
nav .nav-link:hover > .textbg {
  top: 0%;
}
nav .line {
  height: 30px;
  width: 1px;
  background-color: var(--gray-c5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head .headCon {
  font-size: 7vw;
  line-height: 1;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 48px 0px;
  font-family: var(--NohemiL);
  font-weight: 300;
}
.head .headCon .circle {
  background-color: var(--dark);
  width: 5vw;
  border-radius: 100%;
  vertical-align: baseline;
  aspect-ratio: 1/1;
  display: inline-block;
}
.head .headCon > div:nth-child(1) {
  width: 100%;
}
.head .headCon .detail {
  width: 100%;
  display: flex;
  font-family: var(--Satoshi);
}
.head .headCon .detail > div:nth-child(1) {
  flex: 1 1 47%;
  display: flex;
  font-family: var(--SatoshiM);
  align-items: flex-end;
  gap: 15px;
}
.head .headCon .detail > div:nth-child(1) > div {
  height: 75px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.head .headCon .detail > div:nth-child(1) svg {
  width: 40px;
  height: 75px;
  flex-shrink: 0;
}
.head .headCon .detail > div:nth-child(1) h2 {
  color: var(--black);
  font-size: 19px;
  font-weight: 500;
  line-height: 25px;
}
.head .headCon .detail > div:nth-child(1) p {
  color: var(--gray-5e);
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
.head .headCon .detail > div:nth-child(2) {
  font-size: 16px;
  line-height: 22px;
  flex: 1 1 53%;
}
.head .headCon .detail > div:nth-child(2) p {
  color: #5e5e5e !important;
  width: 80%;
  font-weight: 400 !important;
  min-width: 300px;
  max-width: 477px;
}
.head .headCon .detail > div:nth-child(2) a {
  font-size: 14px;
  line-height: 21px;
  margin-top: 16px;
  font-weight: 600;
  font-family: var(--SatoshiM);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.head .headCon .detail > div:nth-child(2) a > div {
  position: relative;
  padding-bottom: 4px;
}
.head .headCon .detail > div:nth-child(2) a > div > div {
  background-color: var(--dark);
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 100%;
  transition: all 300ms;
}
.head .headCon .detail > div:nth-child(2) a:hover > div > div {
  width: 0;
}
.head .headCon .detail > div:nth-child(2) a span {
  color: var(--dark);
  transition: all 300ms;
  height: 36px;
  border: 1px dashed var(--dark);
  background-color: var(--light);
  margin-left: 24px;
  padding: 4px 36px;
  border-radius: 100px;
  display: block;
}
.head .headCon .detail > div:nth-child(2) a span img {
  vertical-align: middle;
}
.head .headCon .detail > div:nth-child(2) a:hover span {
  border: 1px dashed var(--light);
}

@media (min-width: 1390px) {
  #navigation .footer {
    height: 16vh;
    min-height: 90px;
    max-height: 100px;
  }
  nav {
    height: 100px;
    min-height: 100px;
    max-height: 100px;
  }
  nav > div {
    gap: 16px;
  }
  nav .nav-link div > .textbg, nav .nav-link div > .text {
    font-size: 16px;
    line-height: 24px;
    padding: 4px 16px;
  }
  nav .line {
    height: 30px;
  }
  .head .headCon {
    line-height: 125px;
    padding: 48px 0px;
    font-weight: 300;
  }
  .head .headCon .circle {
    width: 70px;
    height: 70px;
  }
  .head .headCon .detail > div:nth-child(2) a span {
    margin-left: 24px;
    padding: 4px 24px;
  }
}
@media (min-width: 1536px) {
  /* Icon 1 */
  .HeadrnavBtn {
    height: 35px;
    width: 35px;
  }
  .HeadrnavBtn #navAnimatedIcon {
    height: 35px;
    width: 35px;
  }
  #hero,
  #heroBg {
    padding: 0 120px;
  }
  #navigation {
    padding: 0 120px;
  }
  #navigation header .content > div:nth-child(1) {
    gap: 25px;
  }
  #navigation header .content > div:nth-child(1) .nav-link div {
    font-size: 60px;
    line-height: 81px;
  }
  #navigation header .content > div:nth-child(1) .nav-link div > .text {
    padding: 6px 16px;
  }
  #navigation header .content > div:nth-child(1) .nav-link div > .textbg {
    padding: 6px 16px;
  }
  #navigation header .content > div:nth-child(2) {
    gap: 50px;
  }
  #navigation header .content > div:nth-child(2) .card {
    max-width: 396px;
    max-height: 164px;
    padding: 25px;
    gap: 80px;
  }
  #navigation header .content > div:nth-child(2) .card h5 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  #navigation header .content > div:nth-child(2) .card p {
    font-size: 22px;
    line-height: 30px;
    max-width: 213px;
  }
  #navigation .footer {
    height: 16vh;
    min-height: 110px;
    max-height: 133px;
    justify-content: space-between;
    white-space: nowrap;
    position: relative;
  }
  #navigation .footer .creator {
    font-size: 22px;
  }
  #navigation .footer .icons {
    gap: 20px;
  }
  #navigation .footer .icons > div {
    width: 34px;
    height: 34px;
  }
  nav {
    height: 133px;
    min-height: 133px;
    max-height: 133px;
  }
  nav #navbtnplacer {
    opacity: 0;
    width: 35px;
  }
  nav > div {
    gap: 22px;
  }
  nav .logoimg img {
    width: 73px;
  }
  nav .nav-link > .textbg, nav .nav-link > .text {
    font-size: 22px;
    line-height: 32px;
    padding: 4px 22px;
  }
  nav .line {
    height: 30px;
  }
  .head .headCon {
    line-height: 165px;
  }
  .head .headCon .circle {
    width: 80px;
    height: 80px;
  }
  .head .headCon .detail > div:nth-child(1) h2 {
    font-size: 22px;
    line-height: 28px;
  }
  .head .headCon .detail > div:nth-child(1) p {
    font-size: 20px;
    line-height: 28px;
  }
  .head .headCon .detail > div:nth-child(2) {
    font-size: 22px;
    line-height: 32px;
  }
  .head .headCon .detail > div:nth-child(2) p {
    width: 80%;
    max-width: 636px;
  }
  .head .headCon .detail > div:nth-child(2) a {
    font-size: 18px;
    line-height: 1;
  }
  .head .headCon .detail > div:nth-child(2) a > div {
    padding-bottom: 4px;
  }
  .head .headCon .detail > div:nth-child(2) a > div > div {
    bottom: -6px;
  }
  .head .headCon .detail > div:nth-child(2) a span {
    margin-left: 32px;
    padding: 6px 32px;
    height: 40px;
  }
}
@media (max-width: 750px) {
  .HeadrnavBtn {
    width: 48px;
    height: 48px;
    position: relative;
  }
  .HeadrnavBtn #navAnimatedIcon.open {
    position: absolute;
  }
  .HeadrnavBtn #mobileNavBtn {
    position: absolute;
    display: flex;
    border-radius: 24px;
    background-color: var(--light);
    overflow: hidden;
    z-index: 50;
    transition: all 1s ease;
  }
  .HeadrnavBtn #mobileNavBtn > div {
    transition: all 1s ease;
    padding: 15px 24px;
  }
  .HeadrnavBtn #mobileNavBtn > div .mobileNav-item,
  .HeadrnavBtn #mobileNavBtn > div .mobileNav-head {
    opacity: 0;
    transform: scale(0);
    transition: all 1s ease;
    transform-origin: top left;
  }
  .HeadrnavBtn #mobileNavBtn > div .mobileNav-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .HeadrnavBtn #mobileNavBtn > div .mobileNav-head h1 {
    font-family: var(--NohemiEL);
    color: var(--gray-cd);
    letter-spacing: 0.1ch;
    font-size: 24px;
  }
  .HeadrnavBtn #mobileNavBtn > div .mobileNav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    padding-right: 10px;
    color: var(--black);
  }
  .HeadrnavBtn #mobileNavBtn > div .mobileNav-item:active div, .HeadrnavBtn #mobileNavBtn > div .mobileNav-item:hover div {
    background-color: var(--sec);
  }
  .HeadrnavBtn #mobileNavBtn > div .mobileNav-item p {
    cursor: pointer;
    text-decoration: none;
    font-family: var(--Satoshi);
    color: var(--black);
    font-size: 20px;
  }
  .HeadrnavBtn #mobileNavBtn > div .mobileNav-item div {
    background-color: var(--light);
    width: 10px;
    height: 10px;
    border-radius: 30px;
    transition: all 500ms ease;
  }
  .HeadrnavBtn #navAnimatedIcon {
    width: 48px;
    height: 48px;
    padding: 10px;
    aspect-ratio: 1/1;
    z-index: 100;
    position: absolute;
    cursor: pointer;
    border-radius: 100px;
  }
  .HeadrnavBtn #mobileNavBtn.initial {
    height: 48px;
    width: 48px;
    top: 0;
    right: 0;
  }
  .HeadrnavBtn #mobileNavBtn.initial > div {
    height: 48px;
    width: 48px;
  }
  .HeadrnavBtn #mobileNavBtn.open {
    animation: who 1s forwards;
    top: -20px;
    right: -10px;
    padding: 15px 0px;
  }
  .HeadrnavBtn #mobileNavBtn.open > div {
    animation: who 1s forwards;
  }
  .HeadrnavBtn #mobileNavBtn.open > div .mobileNav-item,
  .HeadrnavBtn #mobileNavBtn.open > div .mobileNav-head {
    opacity: 1;
    transform: scale(1);
  }
  @keyframes who {
    0% {
      height: 48px;
      width: 48px;
    }
    100% {
      height: 350px;
      width: 264px;
    }
  }
  .HeadrnavBtn #mobileNavBtn.close {
    animation: whc 1s forwards;
    top: 0;
    right: 0;
  }
  .HeadrnavBtn #mobileNavBtn.close > div {
    animation: whc 1s forwards;
  }
  .HeadrnavBtn #mobileNavBtn.close > div .mobileNav-item,
  .HeadrnavBtn #mobileNavBtn.close > div .mobileNav-head {
    opacity: 0;
    transform: scale(0.2);
    padding: 0;
  }
  @keyframes whc {
    0% {
      height: 350px;
      width: 264px;
    }
    100% {
      height: 48px;
      width: 48px;
    }
  }
  #navigationSec {
    width: 100%;
    height: 0vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    opacity: 0;
    transition: height 0ms linear;
    transition: opacity 400ms ease;
  }
  #navigationSec.initial {
    opacity: 0;
    height: 0vh;
    background-color: rgba(0, 0, 0, 0.5019607843);
  }
  #navigationSec.open {
    animation: navigationSecAnimO 500ms ease forwards;
  }
  @keyframes navigationSecAnimO {
    0% {
      height: 0vh;
    }
    1% {
      opacity: 0;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5019607843);
    }
    100% {
      opacity: 1;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5019607843);
    }
  }
  #navigationSec.close {
    animation: navigationSecAnimC 500ms ease forwards;
  }
  @keyframes navigationSecAnimC {
    0% {
      height: 100vh;
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.5019607843);
    }
    99% {
      opacity: 0;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5019607843);
    }
    100% {
      height: 0vh;
    }
  }
  #navigation {
    display: none;
  }
  #mobileNav {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    transition: all 800ms ease;
  }
  #mobileNav > div {
    transition: all 800ms ease;
    overflow: hidden;
    -webkit-clip-path: circle(0% at 90% 9%);
            clip-path: circle(0% at 90% 9%);
    background-color: var(--light);
    z-index: 100;
    position: fixed;
    right: 20px;
    top: 30px;
    border-radius: 24px;
    width: 264px;
    height: -moz-fit-content;
    height: fit-content;
    padding: 15px 24px;
    color: var(--dark);
  }
  #mobileNav > div .mobileNav-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #mobileNav > div .mobileNav-head h1 {
    font-family: var(--NohemiEL);
    color: var(--gray-cd);
    letter-spacing: 0.1ch;
    font-size: 24px;
    margin-top: 8px;
  }
  #mobileNav > div .mobileNav-head button {
    border: none;
    outline: none;
    background: none;
    border-radius: 100px;
    padding-right: 0;
  }
  #mobileNav > div .mobileNav-head button img {
    width: 30px;
  }
  #mobileNav > div .mobileNav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    padding-right: 10px;
  }
  #mobileNav > div .mobileNav-item:active div, #mobileNav > div .mobileNav-item:hover div {
    background-color: var(--sec);
  }
  #mobileNav > div .mobileNav-item p {
    cursor: pointer;
    text-decoration: none;
    font-family: var(--Satoshi);
    color: var(--black);
    font-size: 20px;
  }
  #mobileNav > div .mobileNav-item div {
    background-color: var(--light);
    width: 10px;
    height: 10px;
    border-radius: 30px;
    transition: all 500ms ease;
  }
  #heroSec {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: unset;
    position: relative;
    overflow: hidden;
  }
  #hero {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: unset;
    color: var(--dark);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 24px;
  }
  #heroBg {
    -webkit-clip-path: circle(0% at 50% 50%);
            clip-path: circle(0% at 50% 50%);
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--dark);
    color: var(--light);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 24px;
  }
  #heroBg nav {
    color: var(--light);
  }
  #heroBg .head .headCon .circle {
    background-color: var(--dark);
  }
  #heroBg .head .headCon .detail > div:nth-child(2) a {
    color: inherit;
  }
  #heroBg .head .headCon .detail > div:nth-child(2) a > div > div {
    background-color: var(--light);
  }
  #marqueeWrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 200px;
    color: var(--light);
    font-size: 50px;
    max-width: 208px;
    box-sizing: border-box;
    vertical-align: middle;
    background-color: var(--sec);
  }
  #marqueeWrapper #marquee {
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    white-space: nowrap;
  }
  #marqueeWrapper #marquee > div {
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-right: 15px;
    padding-top: 12px;
    position: relative;
  }
  #marqueeWrapper #marquee > div > span {
    display: inline-block;
    height: -moz-fit-content;
    height: fit-content;
    transform: translateY(22%);
    padding: 0 15px;
  }
  #marqueeWrapper #marquee #second {
    position: absolute;
    top: 0%;
  }
  header {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: unset;
    display: flex;
    flex-direction: column;
  }
  nav {
    color: var(--dark);
    width: 100%;
    position: relative;
    top: 0;
    left: 0%;
    overflow: visible;
    display: flex;
    align-items: center;
    height: 12vh;
    min-height: 120px;
    max-height: 120px;
    justify-content: space-between;
    white-space: nowrap;
  }
  nav .logoimg {
    justify-content: left;
  }
  nav .logoimg img {
    width: 53px;
  }
  nav .border-bottom {
    position: absolute;
    border-radius: 100px;
    width: 100%;
    left: 0%;
    bottom: 0;
    border-bottom: 1px solid var(--gray-c5);
  }
  nav > div {
    flex: 1 1 0%;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }
  nav > div:nth-child(3) {
    justify-content: end;
  }
  nav > div:nth-child(3) button {
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav .navlinkscenter {
    display: none !important;
  }
  nav .line {
    display: none;
  }
  .head {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .head .headCon {
    font-size: 60px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    padding: 48px 0px;
    font-family: var(--NohemiL);
    font-weight: 300;
  }
  .head .headCon #deskbr {
    display: none;
  }
  .head .headCon .circle {
    background-color: var(--dark);
    width: 34px;
    height: 34px;
    border-radius: 100%;
    vertical-align: baseline;
    aspect-ratio: 1/1;
    display: inline-block;
  }
  .head .headCon .detail {
    width: 100%;
    display: flex;
    font-family: var(--Satoshi);
    flex-direction: column-reverse;
  }
  .head .headCon .detail > div.scrollerAnim {
    display: none;
    justify-content: center;
    padding: 40px 0;
  }
  .head .headCon .detail > div:nth-child(2) {
    font-size: 16px;
    line-height: 27px;
    padding: 38px 0px;
  }
  .head .headCon .detail > div:nth-child(2) p {
    color: var(--gray-79);
    width: 100%;
    font-weight: 400 !important;
    min-width: 300px;
    max-width: 477px;
  }
  .head .headCon .detail > div:nth-child(2) a {
    font-size: 14px;
    line-height: 21px;
    margin-top: 16px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }
  .head .headCon .detail > div:nth-child(2) a > div {
    position: relative;
    padding-bottom: 4px;
    font-weight: 400;
    font-family: var(--Satoshi);
  }
  .head .headCon .detail > div:nth-child(2) a > div > div {
    background-color: var(--dark);
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 100%;
    transition: all 300ms;
  }
  .head .headCon .detail > div:nth-child(2) a:hover > div > div {
    width: 0;
  }
  .head .headCon .detail > div:nth-child(2) a span {
    color: var(--dark);
    transition: all 300ms;
    height: 36px;
    border: 1px dashed var(--dark);
    background-color: var(--light);
    margin-left: 24px;
    padding: 4px 36px;
    border-radius: 100px;
    display: block;
  }
  .head .headCon .detail > div:nth-child(2) a span img {
    vertical-align: middle;
  }
  .head .headCon .detail > div:nth-child(2) a:hover span {
    border: 1px dashed var(--light);
  }
}/*# sourceMappingURL=hero.css.map */