/* Icon 1 */
.HeadrnavBtn {
  // transform: scale(55%) translateY(6px);
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 100 !important;

  #navAnimatedIcon {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  #navAnimatedIcon svg {
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    content-visibility: visible;
  }

  #navAnimatedIcon .changepath {
    transition: all 500ms ease;
  }

  #navAnimatedIcon.open #p1change {
    animation: iconanim 1s ease;
  }

  #navAnimatedIcon.open #p2change {
    animation: iconanim2 1s ease;
  }

  #navAnimatedIcon.open #p3change {
    animation: iconanim3 1s ease;
  }

  @keyframes iconanim {
    20% {
      transform: translateY(10%);
    }
  }

  @keyframes iconanim2 {
    20% {
      transform: scaleX(1.2);
    }
  }

  @keyframes iconanim3 {
    20% {
      transform: translateY(-10%);
    }
  }

  #navAnimatedIcon.close #p1change {
    animation: reverseIconanim 1s ease;
  }

  #navAnimatedIcon.close #p2change {
    animation: reverseIconanim2 1s ease;
  }

  #navAnimatedIcon.close #p3change {
    animation: reverseIconanim3 1s ease;
  }

  @keyframes reverseIconanim {
    20% {
      transform: translateY(10%);
    }
  }

  @keyframes reverseIconanim2 {
    20% {
      transform: scaleX(1.2);
    }
  }

  @keyframes reverseIconanim3 {
    20% {
      transform: translateY(-10%);
    }
  }
}

#mobileNavBtn {
  display: none;
}

#navigationSec.open {
  --localtransitiontime : 600ms;
  #navigation {
    header {
      .content {
        & > div {
          &:nth-child(1) {
            .nav-link > div {
              //hello
              transition-delay: var(--localtransitiontime);
              opacity: 1;

            }
            .nav-link:nth-child(2){
              div {transition-delay: calc(var(--localtransitiontime) + 100ms);}
            }
            .nav-link:nth-child(3){
              div {transition-delay: calc(var(--localtransitiontime) + 200ms);}
            }
            .nav-link:nth-child(4){
              div {transition-delay: calc(var(--localtransitiontime) + 300ms);}
            }
            .nav-link:nth-child(5){
              div {transition-delay: calc(var(--localtransitiontime) + 400ms);}
            }
          }
          &:nth-child(2) {
            .card {
              transition-delay: var(--localtransitiontime);
              opacity: 1;

              &:nth-child(2) {
                transition-delay: calc(var(--localtransitiontime) + 100ms);
              }
              &:nth-child(3) {
                transition-delay: calc(var(--localtransitiontime) + 200ms);
              }
            }
          }
        }
      }
    }

    .footer {
      opacity: 1;
      transition-delay: calc(var(--localtransitiontime) + 400ms);
    }
  }
}

#navigationSec {
  width: 100%;
  height: 0vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: var(--main);
  transition: all 1s ease;
  // transition: height 500ms cubic-bezier(1,0,.41,.44);
  // box-shadow: 0px 10px 20px 0px #00000030;
}

#navigation {
  width: 100%;
  height: 100vh;
  color: var(--dark);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 100px;

  a.LinkhoverGroup {
    font-size: 20px;
    line-height: 20px;
    color: var(--black);
    text-decoration: none;
    gap: 20px;

    &.mob-only {
      display: flex !important;
    }

    & > div.textonly {
      position: relative;
      overflow: hidden;

      & > div {
        padding: 5px 20px;
      }
      * {
        transition: all 300ms ease;
      }

      .hiddenTag {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 100%;
        left: 0;
      }
    }

    & > div.icononly {
      position: relative;
      overflow: hidden;
      display: flex;
      width: fit-content;
      height: fit-content;
      justify-content: center;
      align-items: center;

      * {
        transition: all 400ms ease;
      }

      .hiddenTag {
        position: absolute;
        top: 100%;
        left: -100%;
      }
    }

    &:hover {
      & > div.textonly {
        .visibleTag {
          transform: translateY(-100%);
        }

        .hiddenTag {
          transform: translateY(-100%);
        }
      }

      & > div.icononly {
        .visibleTag {
          transform: translate3d(100%, -100%, 0);
        }

        .hiddenTag {
          transform: translate3d(100%, -100%, 0);
        }
      }
    }
  }

  header {
    justify-content: space-between;

    .content {
      display: flex;

      & > div {
        flex: 1 1 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:nth-child(1) {
          gap: 15px;
          .nav-link {
            overflow: hidden;
            & > div {
              opacity: 0;
              transition: opacity 1s ease;
              //hello1
              border-radius: 100px;
              overflow: hidden;
              position: relative;
              width: fit-content;
              font-size: 40px;
              line-height: 50px;
              font-family: var(--Satoshi);

              & > .text {
                padding: 6px 16px;
                cursor: pointer;
                transition: all 300ms;
              }

              &:hover > .text {
                transform: scale(0.75);
              }

              & > .textbg {
                position: absolute;
                background-color: var(--sec);
                padding: 6px 16px;
                cursor: pointer;
                transition: all 300ms;
                border-radius: 100px;
                color: var(--light);
                top: 105%;
                left: 50%;
                transform: translateX(-50%);
              }

              &:hover > .textbg {
                top: 0%;
              }
            }
          }
        }

        &:nth-child(2) {
          align-items: end;
          gap: 40px;

          .card {
            transition: opacity 1s ease;
            color: var(--black);
            text-decoration: none;
            opacity: 0;
            display: flex;
            max-width: 396px;
            max-height: 164px;
            align-items: center;
            border: 1px solid var(--gray-cd);
            padding: 15px;
            gap: 30px;
            cursor: pointer;
            position: relative;

            &:nth-child(2) {
              margin-right: 25%;
            }

            h5 {
              font-size: 20px;
              line-height: 28px;
              font-family: var(--SatoshiM);
              margin-bottom: 10px;
              pointer-events: none;
            }
            p {
              font-size: 16px;
              line-height: normal;
              max-width: 180px;
              font-family: var(--Satoshi);
              pointer-events: none;
            }
            .animicon {
              width: 55px;
              height: 55px;
              margin-right: 10px;
              pointer-events: none;
            }
          }
        }
      }
    }
  }

  .footer {
    opacity: 0;
    transition: opacity 1s ease;
    color: var(--dark);
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 12vh;
    min-height: 65px;
    max-height: 100px;
    justify-content: space-between;
    white-space: nowrap;
    position: relative;

    .creator {
      font-size: 22px;
    }
    .icons {
      display: flex;
      gap: 20px;
      & > a {
        background-color: var(--sec);
        border-radius: 100px;
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 22px;
          height: 22px;
        }
      }
    }
    .border-top {
      position: absolute;
      border-radius: 100px;
      width: 100%;
      left: 0%;
      top: 0;
      border-bottom: 1px solid var(--gray-c5);
    }
  }
}

#heroSec {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

#hero {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  color: var(--dark);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 100px;
  // max-width: 1920px;
  // margin: 0 auto;
}

#heroBg {
  clip-path: circle(0% at 50% 50%);
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 100px;

  .nav-icon1 span {
    background-color: #fff !important;
  }

  nav {
    color: var(--light);
  }

  .head {
    .headCon {
      .circle {
        background-color: var(--dark);
      }

      .detail {
        & > div {
          &:nth-child(1) {
            a {
              color: inherit;

              & > div {
                & > div {
                  background-color: var(--light);
                }
              }
            }
          }
        }
      }
    }
  }
}

#marqueeWrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 200px;
  color: var(--light);
  // max-width: 475px;
  max-width: 30vw;
  box-sizing: border-box;
  line-height: normal;
  vertical-align: middle;
  background-color: var(--sec);

  #marquee {
    height: fit-content;
    width: fit-content;
    position: relative;
    white-space: nowrap;

    & > div {
      height: fit-content;
      width: fit-content;
      padding-right: 15px;
      padding-top: 12px;
      position: relative;

      & > span {
        display: inline-block;
        height: fit-content;
        transform: translateY(22%);
        padding: 0 15px;
      }
    }

    #second {
      position: absolute;
      top: 0%;
    }
  }
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  color: var(--dark);
  width: 100%;
  position: relative;
  top: 0;
  left: 0%;
  overflow: hidden;
  display: flex;
  align-items: center;
  // height: 12vh;
  min-height: 100px;
  height: 100px;
  justify-content: space-between;
  white-space: nowrap;

  .logoimg {
    justify-content: left;

    img {
      width: 59px;
    }
  }

  .border-bottom {
    position: absolute;
    border-radius: 100px;
    width: 100%;
    left: 0%;
    bottom: 0;
    border-bottom: 1px solid var(--gray-c5);
  }

  & > div {
    flex: 1 1 0%;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;

    &:nth-child(3) {
      justify-content: end;

      button {
        outline: none;
        border: none;
        cursor: pointer;
        background-color: transparent;
      }
    }
  }

  .nav-link {
    position: relative;
    border-radius: 100px;
    overflow: hidden;

    & > .text {
      font-size: 16px;
      font-size: var(--SatoshiR);
      font-weight: 400 !important;
      padding: 4px 16px;
      cursor: pointer;
      transition: all 300ms;
    }

    &:hover > .text {
      transform: scale(0.75);
    }

    & > .textbg {
      position: absolute;
      background-color: var(--sec);
      font-size: 16px;
      padding: 4px 16px;
      cursor: pointer;
      transition: all 300ms;
      border-radius: 100px;
      color: var(--light);
      top: 105%;
      left: 50%;
      transform: translateX(-50%);
    }

    &:hover > .textbg {
      top: 0%;
    }
  }

  .line {
    height: 30px;
    width: 1px;
    background-color: var(--gray-c5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.head {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .headCon {
    font-size: 7vw;
    line-height: 1;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 48px 0px;
    font-family: var(--NohemiL);
    font-weight: 300;

    .circle {
      background-color: var(--dark);
      width: 5vw;
      // height: 4rem;
      border-radius: 100%;
      vertical-align: baseline;
      aspect-ratio: 1/1;
      display: inline-block;
    }

    & > div:nth-child(1) {
      width: 100%;
    }

    .detail {
      width: 100%;
      display: flex;
      font-family: var(--Satoshi);

      // border: 1px solid red;
      & > div {
        
        &:nth-child(1){
          flex: 1 1 47%;
          display: flex;
          font-family: var(--SatoshiM);
          align-items: flex-end;
          gap: 15px;

          &>div{
            height: 75px;
            display: flex;
            justify-content: center;
            flex-direction: column;
          }
          svg{
            width: 40px;
            height: 75px;
            flex-shrink: 0;
          }
          h2{
            color: var(--black);
            font-size: 19px;
            font-weight: 500;
            line-height: 25px;
          }
          p{
            color: var(--gray-5e);
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;
          }
        }
        &:nth-child(2) {
          font-size: 16px;
          line-height: 22px;
          flex: 1 1 53%;

          p {
            color: #5e5e5e !important;
            width: 80%;
            font-weight: 400 !important;
            min-width: 300px;
            max-width: 477px;
          }

          a {
            font-size: 14px;
            line-height: 21px;
            margin-top: 16px;
            font-weight: 600;
            font-family: var(--SatoshiM);
            text-transform: uppercase;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: inherit;

            & > div {
              position: relative;
              padding-bottom: 4px;

              & > div {
                background-color: var(--dark);
                position: absolute;
                bottom: -2px;
                left: 50%;
                transform: translateX(-50%);
                height: 2px;
                width: 100%;
                transition: all 300ms;
              }
            }

            &:hover > div > div {
              width: 0;
            }

            span {
              color: var(--dark);
              transition: all 300ms;
              height: 36px;
              border: 1px dashed var(--dark);
              background-color: var(--light);
              margin-left: 24px;
              padding: 4px 36px;
              border-radius: 100px;
              display: block;

              img {
                vertical-align: middle;
              }
            }

            &:hover span {
              border: 1px dashed var(--light);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1390px) {
  .HeadrnavBtn {
    // transform: scale(55%) translateY(6px);
    height: 30px;
    width: 30px;

    #navAnimatedIcon.open{
      position: fixed;
      height: 40px;
      width: 40px;
    }
  }

  #navigation {
    .footer {
      height: 16vh;
      min-height: 90px;
      max-height: 100px;
    }
  }

  nav {
    height: 100px;
    min-height: 100px;
    max-height: 100px;

    & > div {
      gap: 16px;
    }

    .nav-link {
      div {
        & > .textbg,
        & > .text {
          font-size: 16px;
          line-height: 24px;
          padding: 4px 16px;
        }
      }
    }

    .line {
      height: 30px;
    }
  }

  .head {
    .headCon {
      // font-size: 100px;
      line-height: 125px;
      padding: 48px 0px;
      font-weight: 300;

      .circle {
        width: 70px;
        height: 70px;
      }

      .detail {
        & > div {
          &:nth-child(2) {
            a {
              span {
                margin-left: 24px;
                padding: 4px 24px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1536px) {
  .HeadrnavBtn {
    // transform: scale(55%) translateY(6px);
    height: 40px;
    width: 40px;

    #navAnimatedIcon.open{
      position: fixed;
      height: 40px;
      width: 40px;
    }
  }

  #hero,
  #heroBg {
    padding: 0 120px;
  }
  #navigation {
    padding: 0 120px;

    header {
      .content {
        & > div {
          &:nth-child(1) {
            gap: 25px;
            .nav-link {
              div {
                font-size: 60px;
                line-height: 81px;

                & > .text {
                  padding: 6px 16px;
                }

                & > .textbg {
                  padding: 6px 16px;
                }
              }
            }
          }

          &:nth-child(2) {
            gap: 50px;

            .card {
              max-width: 396px;
              max-height: 164px;
              padding: 25px;
              gap: 80px;

              h5 {
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 20px;
              }
              p {
                font-size: 22px;
                line-height: 30px;
                max-width: 213px;
              }
            }
          }
        }
      }
    }

    .footer {
      height: 16vh;
      min-height: 110px;
      max-height: 133px;
      justify-content: space-between;
      white-space: nowrap;
      position: relative;
      .creator {
        font-size: 22px;
      }
      .icons {
        gap: 20px;
        & > div {
          width: 34px;
          height: 34px;
        }
      }
    }
  }

  // #marqueeWrapper {
  //   // max-width: 645px;
  // }

  nav {
    height: 133px;
    min-height: 133px;
    max-height: 133px;

    & > div {
      gap: 22px;
    }

    .logoimg {
      img {
        width: 73px;
      }
    }

    .nav-link {
      & > .textbg,
      & > .text {
        font-size: 22px;
        line-height: 32px;
        padding: 4px 22px;
      }
    }

    .line {
      height: 30px;
    }
  }

  .head {
    .headCon {
      // font-size: 140px;
      line-height: 165px;

      .circle {
        width: 80px;
        height: 80px;
      }

      .detail {
        & > div {
          &:nth-child(1){
            h2{
              font-size: 22px;
              line-height: 28px;
            }
            p{
              font-size: 20px;
              line-height: 28px;
            }
          }
          &:nth-child(2) {
            font-size: 22px;
            line-height: 32px;

            p {
              width: 80%;
              max-width: 636px;
            }

            a {
              font-size: 18px;
              line-height: 1;
              & > div {
                padding-bottom: 4px;
                & > div {
                  bottom: -6px;
                }
              }

              span {
                margin-left: 32px;
                padding: 6px 32px;
                height: 40px;
              }
            }
          }
        }
      }
    }
  }
}

// ---------------------mobile

@media (max-width: 750px) {
  .HeadrnavBtn {
    width: 48px;
    height: 48px;
    // transform: scale(100%) translateY(0px);
    position: relative;

    #navAnimatedIcon.open{
      position: absolute;
    }

    #navAnimatedIcon svg {
      width: 100%;
      height: 100%;
      transform: translate3d(0, 0, 0);
      content-visibility: visible;
    }

    #navAnimatedIcon .changepath {
      transition: all 500ms ease;
    }

    #navAnimatedIcon.open #p1change {
      animation: iconanim 1s ease;
    }

    #navAnimatedIcon.open #p2change {
      animation: iconanim2 1s ease;
    }

    #navAnimatedIcon.open #p3change {
      animation: iconanim3 1s ease;
    }

    #navAnimatedIcon.close #p1change {
      animation: reverseIconanim 1s ease;
    }

    #navAnimatedIcon.close #p2change {
      animation: reverseIconanim2 1s ease;
    }

    #navAnimatedIcon.close #p3change {
      animation: reverseIconanim3 1s ease;
    }

    #mobileNavBtn {
      position: absolute;
      //   height:0px;
      //   width: 0px;
      display: flex;
      border-radius: 24px;
      background-color: var(--light);
      box-shadow: 0px 2px 10px 0px #00000020;
      overflow: hidden;
      z-index: 50;

      transition: all 1s ease;

      & > div {
        transition: all 1s ease;
        // width: 0px;
        // height: 0;
        padding: 15px 24px;
        .mobileNav-item,
        .mobileNav-head {
          opacity: 0;
          transform: scale(0);
          transition: all 1s ease;
          transform-origin: top left;
        }

        .mobileNav-head {
          display: flex;
          align-items: center;
          justify-content: space-between;

          h1 {
            font-family: var(--NohemiEL);
            color: var(--gray-cd);
            letter-spacing: 0.1ch;
            font-size: 24px;
          }
        }

        .mobileNav-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px 0;
          padding-right: 10px;
          color: var(--black);

          &:active,
          &:hover {
            div {
              background-color: var(--sec);
            }
          }
          p {
            cursor: pointer;
            text-decoration: none;
            font-family: var(--Satoshi);
            color: var(--black);
            font-size: 20px;
          }
          div {
            background-color: var(--light);
            width: 10px;
            height: 10px;
            border-radius: 30px;
            transition: all 500ms ease;
          }
        }
      }
    }

    #navAnimatedIcon {
      width: 48px;
      height: 48px;
      padding: 10px;
      aspect-ratio: 1/1;
      z-index: 100;
      position: absolute;
      cursor: pointer;
      // background-color: #fff;
      border-radius: 100px;
    }
  }

  .HeadrnavBtn {
    #navAnimatedIcon #changesvgM {
      transition: all 1000ms ease;
    }
    #mobileNavBtn.initial {
      height: 48px;
      width: 48px;
      top: 0;
      right: 0;
      & > div {
        height: 48px;
          width: 48px;
      }
    }

    #mobileNavBtn.open {
      animation: who 1s forwards;
      top: -20px;
      right: -10px;
      padding: 15px 0px;
      & > div {
        animation: who 1s forwards;
        .mobileNav-item,
        .mobileNav-head {
          opacity: 1;
          transform: scale(1);
        }
      }

      @keyframes who {
        0% {
          height: 48px;
          width: 48px;
        }
        100% {
          height: 350px;
          width: 264px;
        }
      }
    }

    #mobileNavBtn.close {
      animation: whc 1s forwards;
      top: 0;
      right: 0;
      & > div {
        animation: whc 1s forwards;
        .mobileNav-item,
        .mobileNav-head {
          opacity: 0;
          transform: scale(0.2);
          padding: 0;
        }
      }

      @keyframes whc {
        0% {
          height: 350px;
          width: 264px;
        }
        100% {
          height: 48px;
          width: 48px;
        }
      }
    }
  }

  #navigationSec {
    width: 100%;
    height: 0vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    opacity: 0;
    transition: height 0ms linear;
    transition: opacity 400ms ease;
  }
  #navigationSec.initial {
    opacity: 0;
    height: 0vh;
    background-color: #00000080;
  }
  #navigationSec.open {
    animation: navigationSecAnimO 500ms ease forwards;

    @keyframes navigationSecAnimO {
      0% {
        height: 0vh;
      }
      1% {
        opacity: 0;
        height: 100vh;
        background-color: #00000080;
      }
      100% {
        opacity: 1;
        height: 100vh;
        background-color: #00000080;
      }
    }
  }
  #navigationSec.close {
    animation: navigationSecAnimC 500ms ease forwards;

    @keyframes navigationSecAnimC {
      0% {
        height: 100vh;
        opacity: 1;
        background-color: #00000080;
      }
      99% {
        opacity: 0;
        height: 100vh;
        background-color: #00000080;
      }
      100% {
        height: 0vh;
      }
    }
  }

  #navigation {
    display: none;
  }

  #mobileNav {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    transition: all 800ms ease;
    & > div {
      transition: all 800ms ease;
      overflow: hidden;
      clip-path: circle(0% at 90% 9%);
      background-color: var(--light);
      z-index: 100;
      position: fixed;
      right: 20px;
      top: 30px;
      border-radius: 24px;
      width: 264px;
      height: fit-content;
      padding: 15px 24px;
      color: var(--dark);

      .mobileNav-head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
          font-family: var(--NohemiEL);
          color: var(--gray-cd);
          letter-spacing: 0.1ch;
          font-size: 24px;
          margin-top: 8px;
        }
        button {
          border: none;
          outline: none;
          background: none;
          border-radius: 100px;
          padding-right: 0;
          img {
            width: 30px;
          }
        }
      }

      .mobileNav-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        padding-right: 10px;

        &:active,
        &:hover {
          div {
            background-color: var(--sec);
          }
        }
        p {
          cursor: pointer;
          text-decoration: none;
          font-family: var(--Satoshi);
          color: var(--black);
          font-size: 20px;
        }
        div {
          background-color: var(--light);
          width: 10px;
          height: 10px;
          border-radius: 30px;
          transition: all 500ms ease;
        }
      }
    }
  }

  #heroSec {
    width: 100%;
    height: fit-content;
    min-height: unset;
    position: relative;
    overflow: hidden;
  }

  #hero {
    width: 100%;
    height: fit-content;
    min-height: unset;
    color: var(--dark);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 24px;
  }

  #heroBg {
    clip-path: circle(0% at 50% 50%);
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--dark);
    color: var(--light);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 24px;

    nav {
      color: var(--light);
    }

    .head {
      .headCon {
        .circle {
          background-color: var(--dark);
        }

        .detail {
          & > div {
            &:nth-child(1) {
              a {
                color: inherit;

                & > div {
                  & > div {
                    background-color: var(--light);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #marqueeWrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 200px;
    color: var(--light);
    font-size: 40px;
    max-width: 208px;
    box-sizing: border-box;
    vertical-align: middle;
    background-color: var(--sec);

    #marquee {
      height: fit-content;
      width: fit-content;
      position: relative;
      white-space: nowrap;

      & > div {
        height: fit-content;
        width: fit-content;
        padding-right: 15px;
        padding-top: 12px;
        position: relative;

        & > span {
          display: inline-block;
          height: fit-content;
          transform: translateY(22%);
          padding: 0 15px;
        }
      }

      #second {
        position: absolute;
        top: 0%;
      }
    }
  }

  header {
    width: 100%;
    height: fit-content;
    min-height: unset;
    display: flex;
    flex-direction: column;
  }

  nav {
    color: var(--dark);
    width: 100%;
    position: relative;
    top: 0;
    left: 0%;
    overflow: visible;
    display: flex;
    align-items: center;
    height: 12vh;
    min-height: 120px;
    max-height: 120px;
    justify-content: space-between;
    white-space: nowrap;

    .logoimg {
      justify-content: left;

      img {
        width: 53px;
      }
    }

    .border-bottom {
      position: absolute;
      border-radius: 100px;
      width: 100%;
      left: 0%;
      bottom: 0;
      border-bottom: 1px solid var(--gray-c5);
    }

    & > div {
      flex: 1 1 0%;
      display: flex;
      gap: 16px;
      justify-content: center;
      align-items: center;

      &:nth-child(3) {
        justify-content: end;

        button {
          outline: none;
          border: none;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .navlinkscenter {
      display: none !important;
    }

    .line {
      display: none;
    }
  }

  .head {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .headCon {
      font-size: 60px;
      line-height: 1.2;
      display: flex;
      align-items: center;
      padding: 48px 0px;
      font-family: var(--NohemiL);
      font-weight: 300;

      #deskbr {
        display: none;
      }

      .circle {
        background-color: var(--dark);
        width: 34px;
        height: 34px;
        border-radius: 100%;
        vertical-align: baseline;
        aspect-ratio: 1/1;
        display: inline-block;
      }

      .detail {
        width: 100%;
        display: flex;
        font-family: var(--Satoshi);
        flex-direction: column-reverse;

        // border: 1px solid red;
        & > div {

          &.scrollerAnim{
            display: none;
            justify-content: center;
            padding: 40px 0;
          }
          &:nth-child(2) {
            font-size: 16px;
            line-height: 27px;
            padding: 38px 0px;

            p {
              color: var(--gray-79);
              width: 100%;
              font-weight: 400 !important;
              min-width: 300px;
              max-width: 477px;
            }

            a {
              font-size: 14px;
              line-height: 21px;
              margin-top: 16px;
              font-weight: 600;
              text-transform: uppercase;
              display: flex;
              align-items: center;
              text-decoration: none;
              color: inherit;

              & > div {
                position: relative;
                padding-bottom: 4px;

                & > div {
                  background-color: var(--dark);
                  position: absolute;
                  bottom: -2px;
                  left: 50%;
                  transform: translateX(-50%);
                  height: 2px;
                  width: 100%;
                  transition: all 300ms;
                }
              }

              &:hover > div > div {
                width: 0;
              }

              span {
                color: var(--dark);
                transition: all 300ms;
                height: 36px;
                border: 1px dashed var(--dark);
                background-color: var(--light);
                margin-left: 24px;
                padding: 4px 36px;
                border-radius: 100px;
                display: block;

                img {
                  vertical-align: middle;
                }
              }

              &:hover span {
                border: 1px dashed var(--light);
              }
            }
          }
        }
      }
    }
  }
}
