#aboutUsDiscoverMore {
  padding-bottom: 0px;
  height: fit-content;
  position: relative;
  margin-bottom: 0vh !important;

  .discoverMoreWrapper {
    position: static !important;
    // top: -300vh;
  }
}

.FAQ {
  .FAQCon {
    display: flex;
    gap: 100px;
    padding-bottom: 0px;
    position: relative;
    & > div {
      &:nth-child(1) {
        flex-basis: 5%;
        flex-grow: 0;

        .FAQMenu {
          display: flex;
          flex-direction: column;
          gap: 30px;
          align-items: end;
          padding-right: 30px;
          border-right: 1px solid var(--gray-c5);
          position: sticky;
          top: 100px;
          margin-top: 100px;

          .hoverBtnAnim {
            position: relative;
            overflow: hidden;
            color: var(--dark);
            text-decoration: none;
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            border-radius: 100px;
            white-space: nowrap;
            font-family: var(--Satoshi);
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: fit-content;
            transition: color 0 none;

            & > .text {
              padding: 10px;
              transition: all 300ms;
            }

            & > .textbg {
              position: absolute;
              background-color: var(--sec);
              padding: 10px;
              transition: all 300ms;
              border-radius: 100px;
              color: var(--light);
              top: 105%;
              left: 50%;
              transform: translateX(-50%);
            }

            &.active {
              .text {
                transform: scale(0.75);
              }
              .textbg {
                top: 0%;
              }
            }
          }
        }
      }
      &:nth-child(2) {
        flex-basis: 100%;
        flex-grow: 1;

        .FAQGroup {
          padding-top: 100px;

          .FAQGroup_head {
            display: flex;
            justify-content: start;
            align-items: center;
            margin-bottom: 40px;
            button {
              display: none;
            }
            h2 {
              span {
                display: none;
              }
            }
          }
        }
        button {
          border: none;
          outline: none;
          background-color: transparent;
          padding: 10px;
          cursor: pointer;
        }
      }

      * {
        transition: all 0.5s ease;
      }

      .double {
        display: flex;
        gap: 32px;
      }

      h2 {
        color: var(--dark);
        font-family: var(--NohemiL);
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        line-height: normal;
      }

      h4 {
        color: var(--dark);
        font-family: var(--Satoshi);
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      p {
        color: var(--gray-79);
        font-family: var(--Satoshi);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 160% */
      }

      .quesCard {
        position: relative;
        background-color: transparent;
        padding: 0 30px;
        display: flex;
        gap: 30px;
        border-bottom: 1px solid var(--gray-c5);
        height: fit-content;
        cursor: pointer;
        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 0%;
          left: 0%;
          bottom: 0%;
          background-color: #fff;
          z-index: 0;
          transition: all 0.5s ease;
          transform-origin: top;
          border-radius: 12px;
        }
        .ques {
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 0px;
          margin: 30px 0;
          overflow: hidden;
          position: relative;
          z-index: 1;

          h4 {
            padding: 10px 0;
          }
          .pWrapper {
            max-height: 0px;
          }
          p {
            padding-top: 20px;
            height: fit-content;
            transition: all 0.7s ease;
            overflow: hidden;
          }
        }
        .btnWrapper {
          top: 40px;
          left: 90%;
          position: absolute;
          transform: translate(-50%, 0%) scale(1);
          pointer-events: none;
          opacity: 1;
          display: flex;

          button {
            width: 35px;
            height: 35px;
            border-radius: 100%;
            background-color: #fff;
            transition: all none !important;
            transition: background-color 0.3s ease !important;
            z-index: 10;
            border: none;
            outline: none;
            cursor: pointer;

            > div {
              position: absolute;
              top: 51%;
              left: 51%;
              width: 15px;
              height: 1px;
              background-color: #000;
              display: block;
              transform: translate(-50%, -50%) rotate(0deg);

              &:nth-child(2) {
                transform: translate(-50%, -50%) rotate(90deg);
              }
            }
          }
        }

        &:hover {
          .btnWrapper {
            transform: translate(-50%, 0%) scale(1);
            opacity: 1;
          }
        }
      }

      .quesCard.open {
        border-color: transparent !important;
        &::before {
          height: 100%;
        }
        .ques {
          gap: 0px;
          p {
            height: fit-content;
            // max-height: 300px;
          }
        }
        .btnWrapper {
          button {
            background-color: var(--sec);
            > div {
              background-color: #fff;
              transform: translate(-50%, 0%) rotate(0deg);
            }
          }
        }
      }
      .quesCard.close {
        &::before {
          height: 0%;
        }
        .ques {
          gap: 0px;
        }
        .btnWrapper {
          button {
            background-color: var(--light);
            > div {
              background-color: #000;
              transform: translate(-50%, 0%) rotate(0deg);

              &:nth-child(2) {
                transform: translate(-50%, 0%) rotate(90deg);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1700px) {
  .FAQ {
    .FAQCon {
      display: flex;
      gap: 75px;
      padding-bottom: 0px;
      position: relative;
      & > div {
        &:nth-child(1) {
          .FAQMenu {
            gap: 30px;
            top: 60px;
            margin-top: 60px;

            .hoverBtnAnim {
              font-size: 16px;
              line-height: 1;
            }
          }
        }
        &:nth-child(2) {
          .FAQGroup {
            padding-top: 60px;

            .FAQGroup_head {
              margin-bottom: 30px;
            }
          }
          button {
            padding: 10px;
            img {
              width: 15px;
            }
          }
        }

        * {
          transition: all 0.5s ease;
        }

        .double {
          display: flex;
          gap: 32px;
        }

        h2 {
          font-size: 30px;
          line-height: normal;
        }

        h4 {
          font-size: 18px;
          line-height: 1; /* 160% */
        }

        p {
          font-size: 15px;
          line-height: 23px; /* 160% */
        }

        .quesCard {
          background-color: transparent;
          padding: 0 22px;
          display: flex;
          gap: 0px;
          height: fit-content;
          &::before {
            border-radius: 8px;
          }
          .ques {
            margin: 22px 0;

            p {
              padding-top: 0;
            }
          }
          .btnWrapper {
            top: 25px;
            button {
              width: 30px;
              height: 30px;
              > div {
                width: 12px;
              }
            }
          }
        }

        .quesCard.open {
          .ques {
            gap: 12px;
          }
        }
        .quesCard.close {
          .ques {
            gap: 0px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) and (min-width: 501px) {
  .FAQ {
    .FAQCon {
      gap: 40px;
      & > div {
        &:nth-child(1) {
          .FAQMenu {
            gap: 10px;
            top: 60px;
            margin-top: 60px;
            padding-right: 10px;
            .hoverBtnAnim {
              font-size: 15px;
              line-height: 1;
            }
          }
        }
        &:nth-child(2) {
          .FAQGroup {
            padding-top: 60px;

            .FAQGroup_head {
              margin-bottom: 15px;
            }
          }
          button {
            padding: 10px;
            img {
              width: 15px;
            }
          }
        }

        * {
          transition: all 0.5s ease;
        }

        .double {
          display: flex;
          gap: 30px;
        }

        h2 {
          font-size: 22px;
          line-height: normal;
        }

        h4 {
          font-size: 14px;
          line-height: 1; /* 160% */
        }

        p {
          font-size: 12px;
          line-height: 18px; /* 160% */
          width: 90%;
        }

        .quesCard {
          background-color: transparent;
          padding: 0 16px;
          display: flex;
          gap: 0px;
          height: fit-content;
          &::before {
            border-radius: 6px;
          }
          .ques {
            margin: 16px 0;

            p {
              padding-top: 0;
            }
          }
          .btnWrapper {
            top: 24px;
            button {
              width: 25px;
              height: 25px;
              > div {
                width: 10px;
              }
            }
          }
        }

        .quesCard.open {
          .ques {
            gap: 0px;
          }
        }
        .quesCard.close {
          .ques {
            gap: 0px;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .FAQ {
    .FAQCon {
      display: flex;
      gap: 75px;
      padding-bottom: 0px;
      padding-top: 20px;
      position: relative;
      & > div {
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          .FAQGroup {
            margin-top: 0px;
            padding-top: 0;
            border-bottom: 1px solid var(--gray-c5);
            transition: border none;
            .FAQGroup_head {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 0px;
              padding: 30px 0;

              button {
                display: block;
              }

              .btnWrapper {
                left: unset;
                right: -5px;
                top: 45px;
                opacity: 1;
                transform: translate(-50%, 0%) scale(1);
                button {
                  width: 30px;
                  height: 30px;
                  > div {
                    width: 11px;
                    height: 1px;
                  }
                }
              }

              h2 {
                font-family: var(--Satoshi);
                font-size: 22px;
                line-height: normal;
                span {
                  display: unset;
                  color: var(--sec);
                  font-size: 7px;
                  line-height: 0px;
                  vertical-align: middle;
                  margin-right: 5px;
                }
              }
            }
            .questionsWrapper{
              max-height: 0;
              overflow: hidden;
              margin-top: 0px;
            }
            .questions {
              height: fit-content;
            }
          }

          .FAQGroup.open {
            border-bottom: 1px solid transparent;
            .FAQGroup_head {
              button {
                transform: rotate(180deg);
              }

              
            }
          }

          .FAQGroup.close {
            border-bottom: 1px solid var(--gray-c5);
            .questionsWrapper{
              max-height: 0px !important;
            }
            .FAQGroup_head {
              button {
                transform: rotate(0deg);
              }

              
            }
          }

          button {
            padding: 10px;
            img {
              width: 15px;
            }
          }
        }

        * {
          transition: all 0.5s ease;
        }

        .double {
          display: flex;
          gap: 0px;
          flex-direction: column;
        }

        h2 {
          font-size: 30px;
          line-height: normal;
        }

        h4 {
          font-size: 18px;
          line-height: 1; /* 160% */
        }

        p {
          font-size: 15px;
          line-height: 23px; /* 160% */
        }
      }
    }
  }
}
