#aboutUsDiscoverMore {
  padding-bottom: 120px;
  height: fit-content;
  position: relative;
  margin-bottom: -100vh;

  .spacer {
    height: 100vh;
  }

  .discoverMoreWrapper {
    position: sticky;
    // top: -300vh;
    height: fit-content;
  }
}

.FAQ {
    .FAQCon {
        display: flex;
        gap: 100px;
        padding-bottom: 80px;
        position: relative;
    & > div {
      &:nth-child(1) {
        flex-basis: 5%;
        flex-grow: 0;

        .FAQMenu{
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: end;
            padding-right: 30px;
            border-right: 1px solid var(--gray-c5);
            position: sticky;
            top: 100px;
            margin-top: 100px;

            .hoverBtnAnim {
                position: relative;
                overflow: hidden;
                color: var(--dark);
                text-decoration: none;
                border: none;
                outline: none;
                background-color: transparent;
                cursor: pointer;
                border-radius: 100px;
                white-space: nowrap;
                font-family: var(--Satoshi);
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                width: fit-content;
                transition: color 0 none;
            
                & > .text {
                    padding: 10px;
                    transition: all 300ms;
                }
            
                & > .textbg {
                    position: absolute;
                    background-color: var(--sec);
                    padding: 10px;
                    transition: all 300ms;
                    border-radius: 100px;
                    color: var(--light);
                    top: 105%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            
                &.active {
                    .text {
                        transform: scale(0.75);
                    }
                    .textbg {
                        top: 0%;
                    }
                }
            }
            
        }
      }
      &:nth-child(2) {
        flex-basis: 100%;
        flex-grow: 1;

        .FAQGroup{
            padding-top: 100px;

            .FAQGroup_head{
                display: flex;
                justify-content: start;
                align-items: center;
                margin-bottom: 40px;
                button{
                    display: none;
                }
                h2{
                    span{
                        display: none;
                    }
                }
            }

        }
        button {
            border: none;
            outline: none;
            background-color: transparent;
            padding: 10px;
            cursor: pointer;
          }
      }

      * {
        transition: all 0.5s ease;
      }

      .double{
        display: flex;
        gap: 32px;
      }

      h2 {
        color: var(--dark);
        font-family: var(--NohemiL);
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        line-height: normal;
      }

      h4 {
        color: var(--dark);
        font-family: var(--Satoshi);
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      p {
        color: var(--gray-79);
        font-family: var(--Satoshi);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 160% */
      }

      .quesCard {
        position: relative;
        background-color: transparent;
        padding: 0 30px;
        display: flex;
        gap: 30px;
        border-bottom: 1px solid var(--gray-c5);
        height: fit-content;
        cursor: pointer;
        &::before{
          position: absolute;
          content: "";
          width: 100%;
          height: 0%;
          left: 0%;
          bottom: 0%;
          background-color: #fff;
          z-index: -1;
          transition: all 0.7s ease;
        }
        .ques {
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 0px;
          margin: 30px 0;
          overflow: hidden;

          h4{
            padding: 10px 0;
          }
          p {
            height: fit-content;
            transform: translateY(110%);
            transition: all 0.7s ease;
            max-height: 0px;
            overflow: hidden;
          }
        }
        button {
          padding: 10px;
          margin: 30px 0;
          img {
            transform: rotate(0deg);
          }
        }
      }

      .quesCard.open {
        &::before{
          height: 100%;
        }
        .ques {
          gap: 20px;
          p {
            transform: translateY(0%);
            max-height: 300px;
          }
        }
        button {
          img {
            transform: rotate(180deg);
          }
        }
      }
      .quesCard.close {
        &::before{
          height: 0%;
        }
        .ques {
          gap: 0px;
          p {
            max-height: 0px;
            transform: translateY(110%);
          }
        }
        button {
          img {
            transform: rotate(0deg);
          }
        }
      }
    }
  }
}

@media (max-width: 1536px) {
    .FAQ {
        .FAQCon {
            display: flex;
            gap: 75px;
            padding-bottom: 80px;
            position: relative;
        & > div {
          &:nth-child(1) {
    
            .FAQMenu{
                gap: 30px;
                top: 60px;
                margin-top: 60px;
    
                .hoverBtnAnim {
                    font-size: 16px;
                    line-height: 1;
                }
                
            }
          }
          &:nth-child(2) {
    
            .FAQGroup{
                padding-top: 60px;
    
                .FAQGroup_head{
                    margin-bottom: 30px;
                }

            }
            button{
                padding: 10px;
                img{
                  width: 15px;
                }
              }
        
          }
    
          * {
            transition: all 0.5s ease;
          }
    
          .double{
            display: flex;
            gap: 32px;
          }
    
          h2 {
            font-size: 30px;
            line-height: normal;
          }
    
          h4{
            font-size: 18px;
            line-height: 1; /* 160% */
          }
    
          p{
            font-size: 15px;
            line-height: 23px; /* 160% */
          }
    
          .quesCard {
            background-color: transparent;
            padding: 0 22px;
            display: flex;
            gap: 0px;
            height: fit-content;
            .ques {
              margin: 22px 0;
            }
            button{
              margin: 22px 0;
            }
          }

          .quesCard.open {
            .ques {
              gap: 12px;
            }
          }
          .quesCard.close {
            .ques {
              gap: 0px;
            }
          }
        }
      }
    }
}

@media (max-width: 750px) {

    .FAQ {
        .FAQCon {
            display: flex;
            gap: 75px;
            padding-bottom: 80px;
            padding-top: 80px;
            position: relative;
        & > div {
          &:nth-child(1) {
            display: none;
          }
          &:nth-child(2) {
            .FAQGroup{
                margin-top: 30px;
                padding-top: 0;
                .FAQGroup_head{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 0px;
                    
                    button{
                        display: block;
                    }

                    h2{
                        span{
                            display: unset;
                            color: var(--sec);
                            font-size: 20px;
                            line-height: 30px;
                            vertical-align: middle;
                            margin-right: 5px;
                        }
                    }
                }
                .questions{
                    height:0;
                    overflow: hidden;
                    margin-top: 0px;
                }
            }
            
            .FAQGroup.active{
                .questions{
                    height: fit-content;
                    margin-top: 30px;

                }
            }
            button{
                padding: 10px;
                img{
                  width: 15px;
                }
              }
        
          }
    
          * {
            transition: all 0.5s ease;
          }
    
          .double{
            display: flex;
            gap: 0px;
            flex-direction: column;
          }
    
          h2 {
            font-size: 30px;
            line-height: normal;
          }
    
          h4{
            font-size: 18px;
            line-height: 1; /* 160% */
          }
    
          p{
            font-size: 15px;
            line-height: 23px; /* 160% */
          }
    
        }
      }
    }

}
