#perksSec {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;

    #perksHead {
        padding: 62px 100px;
        font-family: var(--Satoshi);
        font-weight: 400 !important;

        text-align: center;
        
        &>div:nth-child(1) {
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: fit-content;
        }
        
        &>div:nth-child(2) {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                font-size: 60px;
                line-height: 70px;
                font-family: var(--NohemiL);
                font-weight: 300 !important;
            }

            p {
                font-size: 18px;
                line-height: 27px;
                letter-spacing: -0.3px;
                max-width: 40ch;
                color: var(--gray-2f);
            }
        }
    }

    .perksRow {
        display: flex;
        gap: 0;
        padding: 0 100px;
        
        .perkCard {
            border: 1px solid var(--gray-c5);
            border-left: none;
            flex: 1 1 0%;
            display: flex;
            flex-direction: column;
            position: relative;
            align-items: center;
            text-align: center;
            padding: 40px 20px;
            gap: 25px;
            font-family: var(--Satoshi);
            
            &:last-child {
                border-right: none;
            }

            img,
            .animicon {
                width: 50px;
                height: 50px;
            }

            h1 {
                font-size: 28px;
                line-height: 100%;
                font-weight: 400 !important;
            }

            p {
                color: var(--gray-2f);
                font-size: 18px;
                line-height: 28px;
                max-width: 27ch;
            }
        }

    }

    #perksRef2 {
        .perkCard {
            border-top: none !important;
        }
    }

    .perksCarousel-wrapper {
        display: none;
    }
}


@media (min-width: 1700px) {
    #perksSec {
        #perksHead {
            padding: 82px 120px;

            &>div:nth-child(1) {
                font-size: 20px;
                margin-bottom: 35px;
            }

            &>div:nth-child(2) {
                gap: 10px;
                h1 {
                    font-size: 80px;
                    line-height: 95px;
                }

                p {
                    font-size: 24px;
                    line-height: 36px;
                }
            }
        }

        .perksRow {
            .perkCard {
                padding: 50px 30px;
                gap: 33px;

                img,
                .animicon {
                    width: 65px;
                    height: 65px;
                }

                h1 {
                    font-size: 42px;
                    line-height: 100%;
                }

                p {
                    font-size: 24px;
                    line-height: 40px;
                }
            }

        }

    }
}

@media (max-width: 1024px) and (min-width: 431px){
    #perksSec {
        height: fit-content;
        min-height: 0;
        #perksHead {
            padding: 60px;

            &>div:nth-child(2) {
                gap: 10px;
                h1 {
                    font-size: 42px;
                    line-height: 50px;
                }

                p {
                    font-size: 15px;
                    line-height: 21px;
                }
            }
        }

        .perksRow {
            padding: 0 60px;
            .perkCard {
                padding: 30px 15px;
                gap: 27px;

                img,
                .animicon {
                    width: 32px;
                    height: 32px;
                }

                h1 {
                    font-size: 19px;
                    line-height: 100%;
                }

                p {
                    font-size: 13px;
                    line-height: 20px;
                }
            }

        }

    }
}

// ---------------mobile


@media (max-width: 430px) {
    #perksSec {
        width: 100%;
        min-height: unset;
        position: relative;
        overflow: hidden;

        #perksHead {
            padding: 40px 24px;
            font-family: var(--Satoshi);
            font-weight: 400 !important;
            text-align: left;

            &>div:nth-child(1) {
                font-size: 16px;
                line-height: 21px;
                margin-bottom: 30px;
                justify-content: flex-start;
            }
            
            &>div:nth-child(2) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;

                h1 {
                    width: 80%;
                    font-size: 36px;
                    line-height: 41px;
                    font-family: var(--Satoshi);
                    font-weight: 300 !important;
                }

                p {
                    width: 95%;
                    font-size: 16px;
                    line-height: 27px;
                    letter-spacing: -0.3px;
                    max-width: 392px;
                    margin-top: 20px;
                    margin-right: 0;
                }
            }
        }

        .perksRow {
            display: none;
        }

        .perksCarousel-wrapper {
            display: block;
            padding-bottom: 100px;
            padding-left: 20px;

            .perksCarousel {
                display: flex;
                gap: 20px;
                transition: transform 300ms ease;
                // aspect-ratio: 1.72;

                .perkCard-mb {
                    transition: transform 500ms ease;
                    border: 1px solid var(--gray-c5);
                    background-color: var(--main);
                    aspect-ratio: 1.72;
                    width: 80%;
                    display: flex;
                    flex-wrap: nowrap;
                    flex-shrink: 0;
                    flex-direction: column;
                    justify-content: center;
                    position: relative;
                    padding: 20px 15px;
                    gap: 25px;
                    font-family: var(--Satoshi);
                    border-radius: 8px;

                    img,
                    .animicon {
                        width: 40px;
                        height: 40px;
                    }

                    h1 {
                        font-size: 18px;
                        color: var(--black);

                        line-height: 14px;
                        font-family: var(--SatoshiR);
                    }

                    p {
                        font-size: 16px;
                        line-height: 24px;
                        color: var(--black) !important;
                        opacity: .6;

                    }
                }
            }

            .perksCarousel-buttons {
                display: flex;
                padding-top: 30px;
                gap: 20px;

                button {
                    cursor: pointer;
                    background-color: var(--dark);
                    color: var(--light);
                    width: 37px;
                    height: 37px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100px;
                    text-align: center;
                    outline: none;
                    border: none;
                    transition: all 500ms ease;

                    svg {
                        width: 17px;
                        height: 17px;
                    }

                    &:hover {
                        transform: scale(1.2);
                    }

                    &:nth-child(1) {
                        background-color: var(--gray-d4) !important;
                    }

                }
            }
        }
    }
}