#workSec {
  width: 100%;
  height: 100vh;
}
#workSec #animatedlineM {
  display: none;
}

.work {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
.work .workhead {
  height: -moz-fit-content;
  height: fit-content;
  padding: 0px 100px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.work .workhead > div:nth-child(1) {
  display: flex;
  align-items: center;
}
.work .workhead > div:nth-child(2) {
  padding-right: 5px;
}
.work .workGrid {
  height: 100%;
  font-size: 20px;
  display: flex;
}
.work .workGrid > div {
  flex: 1 1 0%;
}
.work .workGrid .workdetail {
  max-height: 100%;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
}
.work .workGrid .workdetail #detailRef {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.work .workGrid .workdetail #detailRef > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  padding-top: 120px;
  padding-bottom: 100px;
  padding-left: 100px;
  position: absolute;
}
.work .workGrid .workdetail #detailRef > div.open h2, .work .workGrid .workdetail #detailRef > div.open ul {
  opacity: 1;
}
.work .workGrid .workdetail #detailRef > div h2 {
  transition: opacity 200ms ease;
  opacity: 0;
  font-size: 60px;
  font-family: var(--NohemiL);
  font-weight: 300 !important;
  transition-delay: 100ms;
}
.work .workGrid .workdetail #detailRef > div ul {
  transition: opacity 200ms ease;
  opacity: 0;
  width: -moz-fit-content;
  width: fit-content;
  font-family: var(--Satoshi);
  font-size: 16px;
  list-style: disc;
  list-style-position: inside;
}
.work .workGrid .workdetail #detailRef > div ul li {
  padding: 20px 0px;
  padding-left: 16px;
  padding-right: 32px;
  border-top: 1px solid var(--gray-c5);
}
.work .workGrid .workdetail #detailRef > div ul li:last-child {
  border-bottom: 1px solid var(--gray-c5);
}
.work .workGrid .workdetail #detailRef > div ul li span {
  position: relative;
  left: -12px;
}
.work .workGrid .workdetail #detailRef > div .stickybutton {
  transition: opacity 0ms ease;
  position: relative;
  z-index: 10;
  opacity: 1;
  transition-delay: 0ms;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--SatoshiR);
  width: 96px;
  height: 96px;
}
.work .workGrid .workdetail #detailRef > div .stickybutton > a {
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
}
.work .workGrid .workdetail #detailRef > div .stickybutton > a #magneticBtn {
  margin: 0px;
  padding: 0px;
  display: flex;
  border-radius: 50%;
}
.work .workGrid .workdetail #detailRef > div .stickybutton > a #magneticBtn > div {
  overflow: hidden;
  position: relative;
  width: 96px;
  aspect-ratio: 1/1;
  background-color: var(--sec);
  border-radius: 200px;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  font-size: 16px;
  align-items: center;
  color: var(--light);
  text-align: center;
}
.work .workGrid .workdetail #detailRef > div .stickybutton > a #magneticBtn > div .Btnfirst {
  width: 96px;
  height: -moz-fit-content;
  height: fit-content;
}
.work .workGrid .workdetail #detailRef > div .stickybutton > a #magneticBtn > div .Btnsecond {
  width: 96px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
}
.work .workGrid .workimage {
  max-height: 100%;
  height: 100%;
}
.work .workGrid .workimage #imgRef {
  position: relative;
  height: 100%;
  z-index: 10;
}
.work .workGrid .workimage #imgRef #animatedline {
  position: absolute;
  left: -25%;
  height: 380%;
  min-width: 100%;
  z-index: -1;
}
.work .workGrid .workimage #imgRef > div {
  height: 100%;
  display: flex;
  align-items: end;
  padding-right: 100px;
  padding-bottom: 100px;
}
.work .workGrid .workimage #imgRef > div img {
  aspect-ratio: 1072/646;
  width: 50vw;
}
.work .workflex {
  display: none;
}
.work .morework {
  display: none;
}

@media (min-width: 1536px) {
  .work .workhead {
    padding: 0px 120px;
    padding-top: 60px;
  }
  .work .workGrid .workdetail #detailRef > div {
    padding-top: 160px;
    padding-bottom: 120px;
    padding-left: 120px;
  }
  .work .workGrid .workdetail #detailRef > div h2 {
    font-size: 80px;
    font-weight: 300 !important;
  }
  .work .workGrid .workdetail #detailRef > div ul {
    font-size: 22px;
  }
  .work .workGrid .workdetail #detailRef > div ul li {
    padding: 30px 0px;
    padding-left: 16px;
    padding-right: 32px span;
    padding-right-left: -12px;
  }
  .work .workGrid .workdetail #detailRef > div .stickybutton > a #magneticBtn > div {
    width: 132px;
    font-size: 22px;
  }
  .work .workGrid .workdetail #detailRef > div .stickybutton > a #magneticBtn > div .Btnfirst {
    width: 132px;
  }
  .work .workGrid .workdetail #detailRef > div .stickybutton > a #magneticBtn > div .Btnsecond {
    width: 132px;
  }
  .work .workGrid .workimage #imgRef > div {
    padding-right: 120px;
    padding-bottom: 120px;
  }
  .work .workGrid .workimage #imgRef > div img {
    width: 1072px;
  }
}
@media (max-width: 750px) {
  #workSec {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    position: relative;
  }
  #workSec #animatedlineM {
    display: block;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100% - 400px);
    width: 100%;
    z-index: 5;
  }
  .work {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
    padding-top: 120px;
  }
  .work .topborder {
    position: absolute;
    top: 0;
    border-radius: 100px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid var(--gray-c5);
    width: calc(100% - 48px);
    display: block;
  }
  .work .workhead {
    font-family: var(--Satoshi);
    font-size: 16px;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0px 24px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .work .workhead #workcounter {
    display: none;
  }
  .work .workGrid {
    display: none;
  }
  .work .workflex {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .work .workflex .work-card {
    position: relative;
    z-index: 10;
  }
  .work .workflex .work-card .work-card-head,
  .work .workflex .work-card .work-card-detail {
    display: flex;
  }
  .work .workflex .work-card .work-card-head > div:nth-child(1),
  .work .workflex .work-card .work-card-detail > div:nth-child(1) {
    flex-grow: 1;
  }
  .work .workflex .work-card .work-card-head {
    padding: 10px 0;
  }
  .work .workflex .work-card .work-card-head h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    font-family: var(--Satoshi);
  }
  .work .workflex .work-card .work-card-head p {
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    font-family: var(--Satoshi);
  }
  .work .workflex .work-card .work-card-img {
    width: 100%;
    padding: 15px 0;
  }
  .work .workflex .work-card .work-card-img img {
    width: 100%;
  }
  .work .workflex .work-card .work-card-detail {
    padding: 10px 0;
  }
  .work .workflex .work-card .work-card-detail ul {
    width: 100%;
    font-family: var(--Satoshi);
    font-size: 16px;
    list-style: disc;
    list-style-position: inside;
  }
  .work .workflex .work-card .work-card-detail ul li {
    padding: 20px 0px;
    padding-left: 16px;
    padding-right: 32px;
    border-top: 1px solid var(--gray-c5);
  }
  .work .workflex .work-card .work-card-detail ul li:last-child {
    border-bottom: 1px solid var(--gray-c5);
  }
  .work .workflex .work-card .work-card-detail .stickybutton {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .work .workflex .work-card .work-card-detail .stickybutton > a {
    cursor: pointer;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
  }
  .work .workflex .work-card .work-card-detail .stickybutton > a .magneticBtn {
    margin: -30px;
    padding: 30px;
    display: inline-block;
    border-radius: 50%;
  }
  .work .workflex .work-card .work-card-detail .stickybutton > a .magneticBtn > div {
    overflow: hidden;
    position: relative;
    width: 96px;
    aspect-ratio: 1/1;
    background-color: var(--sec);
    border-radius: 200px;
    display: flex;
    white-space: nowrap;
    justify-content: center;
    font-size: 16px;
    align-items: center;
    color: var(--light);
    text-align: center;
    font-family: var(--Satoshi);
  }
  .work .workflex .work-card .work-card-detail .stickybutton > a .magneticBtn > div .Btnfirst {
    width: 96px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .work .morework {
    display: block;
    padding-top: 20px;
  }
  .work .morework a {
    font-size: 14px;
    line-height: 21px;
    margin-top: 16px;
    font-family: var(--Satoshi);
    font-weight: unset;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    color: inherit;
    width: -moz-fit-content;
    width: fit-content;
  }
  .work .morework a > div {
    position: relative;
    padding-bottom: 4px;
  }
  .work .morework a > div > div {
    background-color: var(--dark);
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 100%;
    transition: all 300ms;
  }
  .work .morework a:hover > div > div {
    width: 0;
  }
  .work .morework a span {
    color: var(--dark);
    transition: all 300ms;
    height: 36px;
    border: 1px dashed var(--dark);
    background-color: var(--light);
    margin-left: 24px;
    padding: 4px 30px;
    border-radius: 100px;
    display: block;
  }
  .work .morework a span img {
    vertical-align: middle;
  }
  .work .morework a:hover span {
    border: 1px dashed var(--light);
  }
}/*# sourceMappingURL=work.css.map */