#workSec {
  width: 100%;
  height: 100vh;

  #animatedlineM {
    display: none;
  }
}

.work {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;

  .workhead {
    height: fit-content;
    padding: 0px 100px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    & > div:nth-child(1) {
      display: flex;
      align-items: center;
    }
    & > div:nth-child(2) {
      padding-right: 5px;
    }
  }

  .workGrid {
    height: 100%;
    font-size: 20px;
    display: flex;

    & > div {
      flex: 1 1 0%;
    }

    .workdetail {
      max-height: 100%;
      height: 100%;
      width: fit-content;

      #detailRef {
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;

        & > div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          min-height: 100%;
          padding-top: 120px;
          padding-bottom: 100px;
          padding-left: 100px;
          position: absolute;
          gap: 30px;
          max-width: 40vw;

          & {
            & > * {
              opacity: 0;
            }
          }

          img {
            display: block;
            width: 48px;
            object-fit: contain;
          }

          h2 {
            transition: opacity 200ms ease;
            font-size: 60px;
            font-family: var(--NohemiL);
            font-weight: 300 !important;
            transition-delay: 100ms;
          }

          ul {
            transition: opacity 200ms ease;
            width: fit-content;
            font-family: var(--Satoshi);
            color: #000;
            list-style: none;
            display: flex;
            gap: 10px;
            row-gap: 25px;
            flex-wrap: nowrap;

            li {
              span {
                border-radius: 50px;
                background: #e2e2e2;
                padding: 10px 30px;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                white-space: nowrap;
              }
            }
          }

          p {
            color: #2f2f2f;
            font-size: 18px;
            font-family: var(--Satoshi);
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            max-width: 32.5ch;
          }

          .worktabletControls{
            display: flex;
            gap: 20px;

            & > *:not(.worktablet){
              display: none;
            }
          }

          .worktablet {
            width: fit-content;
            border: 1px dashed var(--dark);
            border-radius: 200px;
            padding: 8px 15px;
            padding-right: 40px;
            display: flex;
            align-items: center;
            background-color: var(--light);
            span {
              display: inline-block;
              width: 21px;
              height: 21px;
              border-radius: 100px;
              background-color: var(--dark);
              margin-right: 30px;
            }

            h2 {
              font-family: var(--SatoshiM) !important;
              font-size: 14px;
              line-height: 120%;
            }

            p {
              font-weight: 400 !important;
              font-size: 14px;
              line-height: 120%;
              font-family: var(--Satoshi);
              text-transform: capitalize;
              color: rgba(0, 0, 0, 0.8);
            }
          }

          &.open {
            & > * {
              opacity: 1;
            }
          }
        }
      }
    }

    .workimage {
      max-height: 100%;
      height: 100%;

      #imgRef {
        position: relative;
        height: 100%;
        z-index: 10;

        #animatedline {
          position: absolute;
          left: -25%;
          height: 380%;
          min-width: 100%;
          z-index: -1;
          pointer-events: none;
          opacity: 0;
        }

        & > div {
          height: 100%;
          display: flex;
          align-items: center;
          padding-right: 100px;
          padding-top: 50px;
          
          & > div{
            position: relative;
          }

          img {
            aspect-ratio: 1072/646;
            width: 50vw;
            max-width: 50vw;
          }

          .stickybutton {
            transition: opacity 0ms ease;
            position: absolute;
            z-index: 100;
            right: 12%;
              bottom: -35px;
            transition-delay: 0ms;
            width: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: var(--SatoshiR);
            width: 96px;
            height: 96px;

            & > a {
              cursor: pointer;
              width: fit-content;
              text-decoration: none;
              #magneticBtn {
                margin: 0px;
                padding: 0px;
                display: flex;
                border-radius: 50%;

                & > div {
                  overflow: hidden;
                  position: relative;
                  width: 96px;
                  aspect-ratio: 1/1;
                  background-color: var(--sec);
                  border-radius: 200px;
                  display: flex;
                  white-space: nowrap;
                  justify-content: center;
                  font-size: 16px;
                  align-items: center;
                  color: var(--light);
                  text-align: center;

                  .Btnfirst {
                    width: 96px;
                    height: fit-content;
                  }
                  .Btnsecond {
                    width: 96px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .workflex {
    display: none;
  }

  .morework {
    display: none;
  }
}

@media (max-width: 1300px) and (min-width: 1025px) {
  .work {
    .workGrid {
   

      .workimage {
        #imgRef {
          & > div {
            img {
              width: 1072px;
              max-width: 40vw;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1700px) {
  .work {
    .workhead {
      padding: 0px 120px;
      padding-top: 60px;
    }

    .workGrid {
      .workdetail {
        #detailRef {
          & > div {
            padding-top: 160px;
            padding-bottom: 120px;
            padding-left: 120px;
            gap: 35px;

            img {
              width: 64px;
            }

            h2 {
              font-size: 80px;
              font-weight: 300 !important;
            }

            ul {
              row-gap: 40px;
              li {
                span {
                  padding: 14px 40px;
                  font-size: 22px;
                }
              }
            }

            p {
              font-size: 24px;
            }

            .worktablet {
              padding: 13px 20px;
              padding-right: 50px;
              span {
                width: 28px;
                height: 28px;
              }

              p,
              h2 {
                font-size: 18px;
              }
            }
          }
        }
      }

      .workimage {
        #imgRef {
          & > div {
            padding-right: 120px;
            padding-top: 60px;
            img {
              width: 1072px;
            }

            .stickybutton {
              width: 132px;
              height: 132px;

              right: 12%;
              bottom: -50px;

              & > a {
                #magneticBtn {
                  // margin: -30px;
                  // padding: 30px;

                  & > div {
                    width: 132px;
                    font-size: 22px;

                    .Btnfirst {
                      width: 132px;
                    }
                    .Btnsecond {
                      width: 132px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) and (min-width: 501px) {
  #workSec {
    width: 100%;
    height: fit-content;
    overflow: hidden;
  }

  .work {
    height: fit-content;
    padding-bottom: 60px;
    .workhead {
      padding: 0px 60px;
      padding-top: 60px;
    }

    .workGrid {
      height: fit-content;

      .workdetail {
        height: fit-content;
        #detailRef {
          height: fit-content;
          & > div {
            position: static;
            padding-top: 120px;
            padding-bottom: 0px;
            padding-left: 60px;
            gap: 25px;

            *{
              opacity: 1;
            }

            img {
              width: 40px;
            }

            h2 {
              font-size: 42px;
            }

            ul {
              row-gap: 30px;
              li {
                span {
                  padding: 10px 10px;
                  font-size: 13px;
                }
              }
            }

            p {
              font-size: 14px;
            }

            .worktabletControls{
              display: flex;
              align-items: center;
              gap: 10px;
  
              & > *:not(.worktablet){
                display: unset;
              }

              button {
                cursor: pointer;
                background-color: var(--dark);
                color: var(--light);
                width: 25px;
                height: 25px;
                display: none !important;
                justify-content: center;
                align-items: center;
                border-radius: 100px;
                text-align: center;
                outline: none;
                border: none;
                transition: all 500ms ease;
    
                svg {
                  width: 15px;
                  height: 15px;
                }
    
                &:hover {
                  transform: scale(1.2);
                }
    
                &:nth-child(2) {
                  background-color: var(--gray-d4) !important;
                }
              }

            }

            .worktablet {
              padding: 9px 15px;
              padding-right: 30px;

              span {
                width: 15px;
                height: 15px;
              }

              p,
              h2 {
                font-size: 10px;
              }
            }
          }
        }
      }

      .workimage {
        flex: 1 1 0% !important;
        display: flex;
        max-height: 100%;
        height: auto;

        #imgRef {
          flex: 1;
          height: auto;
          max-width: 50vw;
          display: flex;
          flex-direction: column;

          & > div {
            padding-right: 60px;
            padding-top: 100px;

            img {
          max-width: 100%;
              width: 560px;
            }

            .stickybutton {
              width: 22px;
              height: 72px;

              right: 22%;
              bottom: -25px;

              & > a {
                #magneticBtn {
                  // margin: -30px;
                  // padding: 30px;

                  & > div {
                    width: 72px;
                    font-size: 11px;

                    .Btnfirst {
                      width: 72px;
                    }
                    .Btnsecond {
                      width: 72px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// -----------------mobile

@media (max-width: 500px) {
  #workSec {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    position: relative;

    #animatedlineM {
      display: block;
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      height: calc(100% - 400px);
      width: 100%;
      z-index: 9;
      pointer-events: none;
      opacity: 0;
    }
  }

  .work {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px 24px;
    padding-top: 120px;

    .topborder {
      position: absolute;
      top: 0;
      border-radius: 100px;
      left: 50%;
      transform: translateX(-50%);
      border-bottom: 1px solid var(--gray-c5);
      width: calc(100% - 48px);
      // 2xlw-[calc(100%-256px)]
      display: block;
    }

    .workhead {
      font-family: var(--Satoshi);
      font-size: 16px;
      height: fit-content;
      padding: 0px 24px;
      padding-top: 50px;
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      // 2xl:px-32

      // .dot{
      //     display: inline-block;
      //     width: 12px;
      //     height: 12px;
      //     border-radius: 100px;
      //     background-color: var(--dark);
      //     margin-right: 8px;
      // }

      #workcounter {
        display: none;
      }
    }
    .workGrid {
      display: none;
    }
    .workflex {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-bottom: 50px;

      .head-logo {
        img {
          width: 46px;
          display: block;
        }
      }

      .work-card {
        .work-card-head {
          display: flex;
          align-items: center;
          & > div:nth-child(1) {
            flex-grow: 1;
          }
        }

        .work-card-head {
          padding: 10px 0;
          h2 {
            font-weight: 400;
            font-size: 36px;
            line-height: 40px;
            font-family: var(--Satoshi);
          }
          p {
            font-weight: 400;
            font-size: 18px;
            line-height: 40px;
            font-family: var(--Satoshi);
          }
        }

        .work-card-img {
          width: 100%;
          padding: 15px 0;
          position: relative;
          z-index: 15;
          img {
            width: 100%;
            max-width: unset;
          }

          .stickybutton {
            padding-left: 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & > a {
              cursor: pointer;
              width: fit-content;
              text-decoration: none;
              position: absolute;
              right: 10%;
              bottom: -15px;

              .magneticBtn {
                margin: 0px;
                padding: 0px;
                display: inline-block;
                border-radius: 50%;

                & > div {
                  overflow: hidden;
                  position: relative;
                  width: 82px;
                  aspect-ratio: 1/1;
                  background-color: var(--sec);
                  border-radius: 200px;
                  display: flex;
                  font-weight: 200;
                  white-space: nowrap;
                  justify-content: center;
                  font-size: 13px;
                  align-items: center;
                  color: var(--light);
                  text-align: center;
                  font-family: var(--Satoshi);
                  .Btnfirst {
                    width: 96px;
                    height: fit-content;
                  }
                }
              }
            }
          }
        }

        .work-card-detail {
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding: 10px 0;
          padding-top: 40px;
          //  img{
          //   display: block;
          //   width: 48px;
          //   object-fit: contain;
          // }

          // h2 {
          //   transition: opacity 200ms ease;
          //   font-size: 60px;
          //   font-family: var(--NohemiL);
          //   font-weight: 300 !important;
          //   transition-delay: 100ms;
          // }

          ul {
            transition: opacity 200ms ease;
            width: fit-content;
            font-family: var(--Satoshi);
            color: #000;
            list-style: none;
            display: flex;
            gap: 5px;
            row-gap: 15px;
            flex-wrap: wrap;

            li {
              span {
                border-radius: 100px;
                background: #e2e2e2;
                padding: 5px 12px;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                white-space: nowrap;
              }
            }
          }

          p {
            color: #2f2f2f;
            font-size: 16px;
            font-family: var(--Satoshi);
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            max-width: 90%;
          }

          .worktablet {
            width: fit-content;
            border: 1px dashed var(--dark);
            border-radius: 200px;
            padding: 5px 8px;
            padding-right: 30px;
            display: flex;
            align-items: center;
            background-color: var(--light);
            white-space: nowrap;
            span {
              display: inline-block;
              width: 15px;
              height: 15px;
              border-radius: 100px;
              background-color: var(--dark);
              margin-right: 15px;
            }

            h2 {
              font-family: var(--SatoshiM) !important;
              font-size: 12px;
              line-height: 120%;
            }

            p {
              font-weight: 400 !important;
              font-size: 12px;
              line-height: 120%;
              font-family: var(--Satoshi);
              text-transform: capitalize;
              color: rgba(0, 0, 0, 0.8);
            }
          }
        }
      }
      .morework {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .btnRounded{
          margin-top: 0 !important;
          padding: 16px 20px;
        }
        & > img{
          width: 65px;
          display: block;
        }
      }
    }
  }
}
