#workSec {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding-top: 30px;
}

.work {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;

    .topborder{
        position: absolute;
        top: 0;
        border-radius: 100px;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 1px solid var(--gray-c5);
        width: calc(100% - 128px);
        // 2xlw-[calc(100%-256px)]
        display: block;
    }

    .workhead{
        font-family: var(--Satoshi);
        font-size: 16px;
        height: fit-content;
        padding: 0px 64px;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        // 2xl:px-32

        .dot{
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 100px;
            background-color: var(--dark);
            margin-right: 8px;
        }
    }

    .workGrid{
        height: 100%;
        font-size: 20px;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(3, 1fr);  

        .workdetail{
            grid-row: span 2;
            grid-column: span 3 ;
            width: 100%;

            #detailRef{
                height: 100%;
                width: fit-content;
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row-reverse;

                &>div{
                    flex: 1 1 0%;
                    padding-left: 64px;
                    // 2xl:pl-32
                    // m14:pt-12
                    padding-top: 112px;
                    width: 40vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    // m14:justify-center m14:gap-16 2xl:gap-28
                    height: 100%;

                    h2{
                        font-size: 60px;
                        font-family: var(--NohemiL);
                        font-weight: 300 !important;
                        // m14:text-[60px] 2xl:text-[80px]
                    }

                    ul{
                        width: fit-content;
                        font-family: var(--Satoshi);
                        font-size: 16px;
                        // 2xl:text-[22px]
                        list-style: disc;
                        list-style-position: inside;

                        li{
                            padding: 20px 0px;
                            padding-left: 16px;
                            padding-right: 32px;
                            border-top: 1px solid var(--gray-c5);
                            
                            &:last-child{
                                border-bottom: 1px solid var(--gray-c5);

                            }

                            span{
                                position: relative;
                                left: -12px;
                            }
                        }
                    }
                }
            }
        }

        .stickybutton{
            grid-row: span 1 ;
            grid-column: span 3 ;
            padding-left: 64px;
            padding-bottom: 30;
            grid-row-start: 3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: var(--SatoshiR);


            &>a{
                cursor: pointer;
                width: fit-content;
                text-decoration: none;
             
                #magneticBtn {
                    margin: -30px;
                    padding: 30px;
                    display: inline-block;
                    border-radius: 50%;

                    &>div{
                        overflow: hidden;
                        position: relative;
                            width: 96px;
                            aspect-ratio: 1/1;
                            background-color: var(--sec);
                            border-radius: 200px;
                            display: flex;
                            white-space: nowrap;
                            justify-content: center;
                            font-size: 16px;
                            align-items: center;
                            color: var(--light);
                            text-align: center;
                            
                            .Btnfirst {
                                width: 96px;
                                height: fit-content;
                            }
                            .Btnsecond {
                                width: 96px;
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                left:100%;
                            }
                  }
                  
            }
            }
        }

        .workimage{
            grid-row: span 3;
            grid-column: span 5;
            max-height: 100%;
            height: 100%;

            #imgRef{
                width: 100%;
                height: 100%;
                z-index: 10;
                padding-bottom: 20px;

                &>div{
                    padding: 30 0px;
                    height: 100%;
                    display: flex;
                    justify-content: end;
                    align-items: end;
                    padding-right: 64px;
                    padding-bottom: 40px;

                    img{
                        aspect-ratio: 1088/656;
                        width: 85%;
                    }
                }
            }
        }
    }
}

@media (min-width: 1390px) {
   .work{
    .topborder{
        width: calc(100% - 128px);
        // 2xlw-[calc(100%-256px)]
    }

    .workhead{
        font-size: 20px;
        padding-left: 100px !important;
        padding-right: 100px !important;
        // 2xl:px-32

    }

    .workGrid{
        font-size: 20px;
        .workdetail{
            #detailRef{
                &>div{
                    // 2xl:pl-32
                    padding-top: 40px;
                    width: 40vw;
                    gap: 64px;
                    padding-left: 100px !important;
                    justify-content: center;
                    // 2xl:gap-28

                    h2{
                        font-size: 60px;
                        // 2xl:text-[80px]
                    }

                    ul{
                        font-size: 16px;
                        // 2xl:text-[22px]

                        li{
                            padding-left: 16px;
                            padding-right: 32px;
                           
                            span{
                                left: -12px;
                            }
                        }
                    }
                }
            }
        }

        .stickybutton{
            padding-bottom: 30px;
            padding-left: 100px !important;
            justify-content: start;

            &>a{
             
                #magneticBtn {
                    margin: -30px;
                    padding: 30px;

                    &>div{
                            width: 96px;
                            font-size: 16px;
                  }
                  
            }
            }
        }

        .workimage{
            #imgRef{
                &>div{
                    padding: 30px 0px;
                    padding-right: 100px !important;
                    // 2xl:pr-32 
                    padding-bottom: 40px !important;
                    // 2xl:pb-32 m14:pb-16

                    img{
                        min-width: 815px;
                        width: 815px;
                        min-height: 495px;
                        height: 495px;
                        // 2xl:w-[1088px]
                    }
                }
            }
        }
    }
   }
}

@media (min-width: 1536px) {
    #workSec {
        padding-top: 40px;
    }

    
   .work{
    .topborder{
        width: calc(100% - 256px);
    }

    .workhead{
        font-size: 20px;
        padding-left: 120px !important;
        padding-right: 120px !important;

    }

    .workGrid{
        font-size: 20px;
        .workdetail{
            #detailRef{
                &>div{
                    padding-top: 60px;
                    width: 40vw;
                    gap: 92px;
                    padding-left: 120px !important;
                    justify-content: center;

                    h2{
                        font-size: 80px;
                    }

                    ul{
                        font-size: 22px;

                        li{
                            padding: 30px 0px;
                            padding-left: 16px;
                            padding-right: 32px;
                           
                            span{
                                left: -12px;
                            }
                        }
                    }
                }
            }
        }

        .stickybutton{
            padding-bottom: 30px;
            padding-left: 120px !important;
            justify-content: start;

            &>a{
             
                #magneticBtn {
                    margin: -30px;
                    padding: 30px;

                    &>div{
                            width: 132px;
                            font-size: 22px;

                            .Btnfirst {
                                width: 132px;
                            }
                            .Btnsecond {
                                width: 132px;
                            }
                  }
                  
            }
            }
        }

        .workimage{
            #imgRef{
                &>div{
                    padding: 30px 0px;
                    padding-right: 120px !important;
                    padding-bottom: 120px !important;

                    img{
                        width: 1088px;
                        height: 656px;
                    }
                }
            }
        }
    }
   }
}
