.pricingSec {
  margin-top: 20px;
  margin-bottom: 60px;
  overflow: hidden;

  .pricingHead {
    padding: 60px 0;
    display: flex;
    align-items: center;

    h1 {
      flex: 0 1 60%;
      color: #000;
      font-family: var(--NohemiL);
      font-size: 60px;
      font-style: normal;
      font-weight: 300;
      line-height: 71.25px; /* 118.75% */
    }
    p {
      flex: 0 1 40%;
      color: #2f2f2f;
      font-family: var(--Satoshi);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px; /* 150% */
      max-width: 33ch;
    }
  }

  .pricingCardCon {
    display: flex;
    gap: 32px;
    .pricingCard {
      flex: 1;
      border-radius: 8px;
      background: #e2e2e2;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 25px;

      font-style: normal;
      line-height: 1;

      .pricingCardHead {
        display: flex;
        gap: 15px;
        justify-content: space-between;
        font-family: var(--Satoshi);

        .animicon {
          width: 48px;
          height: 48px;
          transform-origin: top right;
        }
        h1 {
          color: #000;
          font-size: 30px;
          margin-bottom: 15px;
          font-weight: 400;
        }

        p {
          color: #2f2f2f;
          font-size: 15px;
          font-weight: 400;
          line-height: normal;
        }
      }

      .pricingCardPrice {
        display: flex;
        flex-direction: column;
        gap: 15px;

        h2 {
          color: #000;
          font-family: var(--Nohemi);
          font-size: 26px;
          letter-spacing: 1px;
          margin: 10px 0;
          font-weight: 400;

          small {
            color: #000;
            font-family: var(--Satoshi);
            font-size: 16px;
          }
        }

        p {
          color: #2f2f2f;
          font-family: var(--Satoshi);
          font-weight: 400;
          font-size: 16px;
        }
      }

      .pricingCardBtn {
        text-align: center;

        .btnRounded {
          padding: 14px;
          width: 100%;
          margin: 0;
          justify-content: center;
        }
        p {
          font-weight: 400;
          margin: 0 auto;
          width: fit-content;
          color: #2f2f2f;
          font-size: 14px;
          font-family: var(--Satoshi);
          padding: 10px 4px;
          border-bottom: 1px solid #494949;
        }
      }

      .divider {
        width: 100%;
        border-bottom: 1px solid #c5c5c5;
      }

      ul {
        list-style: none;

        li {
          display: flex;
          align-items: center;
          gap: 10px;
          color: #2f2f2f;
          font-family: var(--Satoshi);
          font-size: 15px;
          padding: 10px 0;
          img {
            display: block;
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }
}

@media (min-width: 1536px) {
  .pricingSec {
    margin-top: 40px;
    margin-bottom: 90px;
    .pricingHead {
      padding: 80px 0;

      h1 {
        font-size: 80px;
        line-height: 95px; /* 118.75% */
      }
      p {
        font-size: 24px;
        line-height: 36px; /* 150% */
      }
    }

    .pricingCardCon {
      .pricingCard {
        border-radius: 12px;
        padding: 30px;
        gap: 25px;
        .pricingCardHead {
          gap: 70px;
          .animicon {
            width: 65px;
            height: 65px;
          }
          h1 {
            font-size: 40px;
            margin-bottom: 25px;
          }

          p {
            font-size: 18px;
          }
        }

        .pricingCardPrice {
          gap: 15px;

          h2 {
            font-size: 36px;
            letter-spacing: 1px;
            margin: 15px 0;

            small {
              font-size: 20px;
            }
          }

          p {
            font-size: 18px;
          }
        }

        .pricingCardBtn {
          .btnRounded {
            padding: 18px;
          }
          p {
            font-size: 16px;
            padding: 10px 4px;
          }
        }

        ul {
          li {
            gap: 15px;
            font-size: 18px;
            padding: 15px 0;
            img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .pricingSec {
    margin-top: 10px;
    margin-bottom: 60px;
    .pricingHead {
      padding: 45px 0;

      h1 {
        font-size: 42px;
        line-height: 50px; /* 118.75% */
      }
      p {
        font-size: 12px;
        line-height: 20px; /* 150% */
      }
    }

    .pricingCardCon {
      gap: 20px;
      .pricingCard {
        border-radius: 8px;
        padding: 20px;
        gap: 15px;
        .pricingCardHead {
          gap: 20px;
          .animicon {
            width: 35px;
            height: 35px;
          }
          h1 {
            font-size: 22px;
            margin-bottom: 12px;
          }

          p {
            font-size: 12px;
          }
        }

        .pricingCardPrice {
          gap: 15px;

          h2 {
            font-size: 20px;
            letter-spacing: 1px;
            margin: 0;

            small {
              font-size: 12px;
            }
          }

          p {
            font-size: 12px;
          }
        }

        .pricingCardBtn {
          .btnRounded {
            padding: 10px;
          }
          p {
            font-size: 12px;
            padding: 7px 2px;
          }
        }

        ul {
          li {
            gap: 6px;
            font-size: 12px;
            padding: 8px 0;
            img {
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .pricingSec {
    margin-top: 10px;
    margin-bottom: 40px;
    .pricingHead {
      padding: 45px 0;
      flex-direction: column;
      align-items: flex-start;
      
      h1 {
        font-family: var(--Satoshi);
        font-size: 36px;
        line-height: 41px; /* 118.75% */
        margin-bottom: 25px;
      }
      p {
        font-size: 16px;
        line-height: 27px; /* 168.75% */
        letter-spacing: -0.3px;
      }
    }

    .pricingCardCon {
      gap: 20px;
      position: relative;

      .pricingCard {
        border-radius: 8px;
        padding: 20px;
        gap: 15px;
        position: relative;
        transition: all 0.5s ease;
        z-index: 1;
        overflow: hidden;

        &:nth-child(2),
        &:nth-child(3){
            position: absolute;
            opacity: 0;
        }

        &.open{
            opacity: 1;
            z-index: 10;
        }
        &.close{
            opacity: 0;
        }

        .pricingCardTab {
          display: flex;
          justify-content: space-between;
          padding-bottom: 15px;
          gap: 4px;

          button {
            padding: 14px 16px;
            color: #000;
            background-color: #fff;
            text-align: center;
            font-family: var(--Satoshi);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 1;
            transition: all 0.5s ease;
            position: relative;
            border-radius: 100px;
            outline: none;
            border: none;

            &:after{
                content: " ";
                position: absolute;
                left: 50%;
                top: 99%;
                transform: translateX(-50%);
                opacity: 0;
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 10px solid #000;
            }

            &.active{
                color: #fff;
                background-color: #000;
                &:after{
                    opacity: 1;
                }
            }
          }


        }
        .pricingCardHead {
          gap: 10px;
          .animicon {
            width: 45px;
            height: 45px;
          }
          h1 {
            font-size: 30px;
            margin-bottom: 15px;
          }

          p {
            font-size: 15px;
          }
        }

        .pricingCardPrice {
          gap: 15px;

          h2 {
            font-size: 25px;
            letter-spacing: 1px;
            margin: 0;

            small {
              font-size: 16px;
            }
          }

          p {
            font-size: 16px;
          }
        }

        .pricingCardBtn {
          .btnRounded {
            padding: 14px;
          }
          p {
            font-size: 14px;
            padding: 10px 2px;
          }
        }

        ul {
          li {
            gap: 10px;
            font-size: 12px;
            padding: 12px 0;
            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}
