@media (max-width: 1536px) {
  #aboutUsHeader .aboutUsMain > div h1 {
    font-size: 108px;
    line-height: 125px;
  }
  #aboutUsHeader .aboutUsMain > div p {
    max-width: 35ch;
    font-size: 16px;
    line-height: 22px;
  }
  #aboutUsHeader .aboutUsMain > div img {
    width: 180px;
    height: 173px;
  }
  #aboutUsAboutUs .imagecon {
    padding-top: 150px;
    gap: 32px;
  }
  #aboutUsAboutUs .imagecon > div p {
    font-size: 25px;
    line-height: 37.5px; /* 137.5% */
    padding-bottom: 54px;
  }
  #aboutUsAboutUs .imagecon > div p span {
    font-size: 25px;
    line-height: 37.5px;
  }
  #aboutUsAboutUs .imagecon > div img {
    padding-top: 30px;
  }
  #aboutUsAboutUs .detailcon {
    gap: 138px;
    padding: 84px 0;
  }
  #aboutUsAboutUs .detailcon > div {
    gap: 100px;
  }
  #aboutUsAboutUs .detailcon > div .detailbox h3 {
    font-size: 20px;
    margin-bottom: 25px;
  }
  #aboutUsAboutUs .detailcon > div .detailbox p {
    font-size: 16px;
    line-height: 22px; /* 145.455% */
  }
  #aboutUsAboutUs .detailcon > div .detailbox p span {
    font-size: 16px;
    line-height: 12px;
  }
  #aboutUsFounders {
    padding-bottom: 100px;
  }
  #aboutUsFounders .heading {
    padding-top: 35px;
    padding-bottom: 20px;
  }
  #aboutUsFounders .heading h1 {
    font-size: 60px;
    line-height: 70px; /* 118.75% */
  }
  #aboutUsFounders .heading h1 span {
    font-size: 60px;
    line-height: 70px;
  }
  #aboutUsFounders .imagecon {
    gap: 32px;
  }
  #aboutUsFounders .imagecon .imagecard {
    gap: 5px;
  }
  #aboutUsFounders .imagecon .imagecard:nth-child(1) {
    padding-top: 100px;
  }
  #aboutUsFounders .imagecon .imagecard h3 {
    font-size: 24px;
  }
  #aboutUsFounders .imagecon .imagecard .rotateHoverEffect {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 20px;
  }
  #aboutUsFounders .imagecon .imagecard .rotateHoverEffect > div.text p {
    font-size: 16px;
    line-height: 20px; /* 127.273% */
  }
  #aboutUsFounders .imagecon .imagecard .rotateHoverEffect > div.icon {
    height: 18px;
    width: 18px;
  }
  #aboutUsFounders .imagecon .imagecard > img {
    margin-top: 15px;
    max-width: 604px;
    max-height: 511px;
  }
  #aboutUsDiscoverMore {
    padding-bottom: 100px;
  }
  #aboutUsDiscoverMore .discoverMoreWrapper .heading {
    padding: 50px 0;
  }
  #aboutUsDiscoverMore .discoverMoreWrapper .heading h1 {
    font-size: 60px;
    line-height: 70px;
  }
  #aboutUsDiscoverMore .discoverMoreWrapper .discoverCardCon {
    -moz-column-gap: 32px;
         column-gap: 32px;
    row-gap: 60px;
  }
  #aboutUsDiscoverMore .discoverMoreWrapper .discoverCardCon .discoverCard .imageCon {
    margin-bottom: 25px;
  }
  #aboutUsDiscoverMore .discoverMoreWrapper .discoverCardCon .discoverCard .imageCon > div {
    width: 110px;
  }
  #aboutUsDiscoverMore .discoverMoreWrapper .discoverCardCon .discoverCard .imageCon > div img {
    width: 54px;
  }
  #aboutUsDiscoverMore .discoverMoreWrapper .discoverCardCon .discoverCard .themeheading .themetitle {
    font-size: 20px;
  }
  #aboutUsDiscoverMore .discoverMoreWrapper .discoverCardCon .discoverCard p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
  }
}/*# sourceMappingURL=smallscreen.css.map */