.ContactUsSec {
  form {
    padding-top: 100px;
    padding-bottom: 100px;

    .inputGroup {
      display: flex;
      gap: 30px;
      padding-bottom: 50px;

      & > * {
        flex: 1;
      }

      .inputDiv {
        border-bottom: 1px solid var(--gray-c5);

        label {
          display: flex;
          align-items: center;
          gap: 15px;

          font-family: var(--Satoshi);
          font-weight: 300;
          font-size: 22px;
          color: var(--gray-2f);

          .mand {
            display: block;
            width: 15px;
          }
          .opt {
            color: #999797;
          }
          .ico {
            display: block;
            width: 30px;
          }
          .title {
            margin-left: 5px;
          }
        }

        input:not([type="radio"]):not([type="checkbox"]),
        textarea {
          background-color: transparent;
          border: none;
          outline: none;
          padding: 40px 50px;
          min-width: 0;
          width: 100%;

          font-family: var(--Satoshi);
          font-weight: 300;
          font-size: 28px;
          color: #000;
          line-height: 130%;
          resize: none;

          &::placeholder {
            color: #757575;
          }
        }

        .checkboxGroup {
          display: flex;
          padding: 50px 5px;
          justify-content: space-between;
          flex-wrap: wrap;

          label {
            color: #000;
            cursor: pointer;
          }

          .checkbox {
            cursor: pointer;
            display: flex;
            gap: 16px;
            position: relative;
            display: block;
            align-items: center;
            padding-left: 35px;
            margin-bottom: 10px;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            input {
              position: absolute;
              opacity: 0;
              left: 0;
              z-index: 10;
              top: 50%;
              transform: translateY(-50%);
              cursor: pointer;
              height: 25px;
              width: 25px;
            }

            /* Create a custom checkbox */
            .checkmark {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
              height: 25px;
              width: 25px;
              background-color: #e2e2e2;
              border: 1px solid #c5c5c5;
              border-radius: 4px;
            }

            /* On mouse-over, add a grey background color */
            &:hover input ~ .checkmark {
              background-color: #ccc;
            }

            /* When the checkbox is checked, add a blue background */
            & input:checked ~ .checkmark {
              background-color: var(--sec);
              border: 1px solid var(--sec);
            }

            /* Create the checkmark/indicator (hidden when not checked) */
            .checkmark:after {
              content: "";
              position: absolute;
              display: none;
            }

            /* Show the checkmark when checked */
            & input:checked ~ .checkmark:after {
              display: block;
            }

            /* Style the checkmark/indicator */
            & .checkmark:after {
              left: 8px;
              top: 4px;
              width: 5px;
              height: 10px;
              border: solid white;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }
}

#ui-datepicker-div {
  display: none;
  background-color: #fff;
  border: 1px solid #c5c5c5;
  border-radius: 8px;
  padding: 0.5rem;
  margin-top: -75px;
  font-size: 18px;

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  .ui-datepicker-calendar thead th {
    padding: 0.25rem 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: #2f2f2f;
  }
  .ui-datepicker-calendar tbody td {
    width: 2.5rem;
    text-align: center;
    padding: 0;
  }
  .ui-datepicker-calendar tbody td a {
    display: block;
    border-radius: 200px;
    line-height: 2.4rem;
    transition: 0.3s all;
    color: #2f2f2f;
    font-size: 1rem;
    text-decoration: none;
  }
  .ui-datepicker-calendar tbody td a:hover {
    background-color: #ff262620;
  }
  .ui-datepicker-calendar tbody td a.ui-state-active {
    background-color: var(--sec);
    color: white;
  }
  .ui-datepicker-header a.ui-corner-all {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    border-radius: 0.25rem;
    transition: 0.3s all;
  }
  .ui-datepicker-header a.ui-corner-all:hover {
    background-color: #eceff1;
  }
  .ui-datepicker-header a.ui-datepicker-prev {
    left: 0;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: 50%;
    transform: rotate(180deg);
  }
  .ui-datepicker-header a.ui-datepicker-next {
    right: 0;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: 50%;
  }
  .ui-datepicker-header a > span {
    display: none;
  }
  .ui-datepicker-title {
    text-align: center;
    line-height: 2rem;
    margin-bottom: 0.25rem;
    font-size: 0.95rem;
    font-weight: 500;
    padding-bottom: 0.25rem;
  }
  .ui-datepicker-week-col {
    color: #78909c;
    font-weight: 400;
    font-size: 0.75rem;
  }
}

.time-picker {
  position: relative;
  display: inline-block;
  .time-picker-wrapper {
    position: absolute;
    top: 100%;
    margin-top: -75px;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    padding: 20px 40px;
    padding-right: 20px;

    p {
      color: #999797;
      font-size: 18px;
      font-weight: 300;
      font-family: var(--Satoshi);
      text-align: center;
      padding-bottom: 30px;
    }
    small {
      color: #000;
      font-size: 16px;
      font-weight: 300;
      font-family: var(--Satoshi);
      text-align: center;
      width: 100%;
      display: block;
    }
    .time-picker-popup {
      overflow-y: auto;
      max-height: 210px;
      padding-right: 15px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      div {
        padding: 15px;
        width: 265px;
        text-align: center;
        cursor: pointer;
        border: 1px solid #e2e2e2;
        border-radius: 6px;
        transition: all 0.3s ease;

        font-family: var(--Satoshi);
        font-size: 22px;
        font-weight: 300;
        line-height: 1;

        &:hover {
          background-color: #ff262620;
        }
        &.selected {
          background-color: var(--sec);
          color: white;
        }
      }

      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: transparent;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #e2e2e2;
        transition: background 300ms ease !important;
        border-radius: 100vh;

        &:hover {
          background: #cfcfcf !important;
        }
      }
    }
  }
}

.formFooter {
  display: flex;
  justify-content: space-between;
  .icons {
    display: flex;
    gap: 20px;

    img {
      width: 35px;
      height: 35px;
    }

    a {
      gap: 20px;
      background-color: var(--sec);
      border-radius: 100px;
      width: 22px;
      height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.mob-only {
        display: flex !important;
      }

      & > div.icononly {
        position: relative;
        overflow: hidden;
        display: flex;
        width: fit-content;
        height: fit-content;
        justify-content: center;
        align-items: center;

        * {
          transition: all 400ms ease;
        }

        .hiddenTag {
          position: absolute;
          top: 100%;
          left: -100%;
        }
      }

      &:hover {
        & > div.icononly {
          .visibleTag {
            transform: translate3d(100%, -100%, 0);
          }

          .hiddenTag {
            transform: translate3d(100%, -100%, 0);
          }
        }
      }
    }
  }
  .btnRounded {
    margin-top: 0 !important;
  }
}

@media (max-width: 1700px) {
  .ContactUsSec {
    form {
      padding-top: 60px;
      padding-bottom: 60px;
      .inputGroup {
        gap: 30px;
        padding-bottom: 40px;

        .inputDiv {
          label {
            gap: 10px;
            font-size: 16px;

            .mand {
              width: 12px;
            }
            .ico {
              width: 25px;
            }
          }

          input:not([type="radio"]):not([type="checkbox"]),
          textarea {
            padding: 35px 40px;
            font-size: 21px;
          }

          .checkboxGroup {
            padding: 40px 5px;

            .checkbox {
              gap: 12px;
              padding-left: 20px;
              margin-bottom: 10px;
              font-size: 18px;

              input {
                height: 15px;
                width: 15px;
              }

              .checkmark {
                height: 15px;
                width: 15px;
              }

              & .checkmark:after {
                left: 4px;
                top: 2px;
                width: 3px;
                height: 6px;
                border-width: 0 2px 2px 0;
              }
            }
          }
        }
      }
    }
  }

  #ui-datepicker-div {
    transform: scale(0.9);
    transform-origin: left top;
    margin-top: -65px;
  }

  .time-picker {
    transform: scale(0.8);
    transform-origin: left top;
    .time-picker-wrapper {
      margin-top: -60px;
    }
  }

  .formFooter {
    .icons {
      gap: 20px;
      img {
        width: 22px;
        height: 22px;
      }
      a {
        width: 34px;
        height: 34px;
      }
    }
  }
}

@media (max-width: 1024px) and (min-width: 501px) {
  .ContactUsSec {
    form {
      padding-top: 40px;
      padding-bottom: 40px;

      .inputGroup {
        gap: 20px;
        padding-bottom: 32px;

        .inputDiv {
          label {
            gap: 6px;
            font-size: 12px;

            .mand {
              width: 9px;
            }
            .ico {
              width: 18px;
            }
          }

          input:not([type="radio"]):not([type="checkbox"]),
          textarea {
            padding: 25px 30px;
            font-size: 16px;
          }

          .checkboxGroup {
            padding: 30px 3px;

            .checkbox {
              gap: 6px;
              padding-left: 20px;
              margin-bottom: 10px;
              font-size: 13px;

              input,
              .checkmark {
                height: 12px;
                width: 12px;
              }

              & .checkmark:after {
                left: 3px;
                top: 2px;
                width: 2px;
                height: 4px;
                border-width: 0 1px 1px 0;
              }
            }
          }
        }
      }
    }
  }

  #ui-datepicker-div {
    transform: scale(0.8);
    transform-origin: left top;
    margin-top: -50px;
  }

  .time-picker {
    transform: scale(0.7);
    transform-origin: left top;
    .time-picker-wrapper {
      margin-top: -45px;
    }
  }

  .formFooter {
    .icons {
      gap: 20px;
      img {
        width: 15px;
        height: 15px;
      }
      a {
        width: 22px;
        height: 22px;
      }
    }
  }
}

@media (max-width: 500px) {
  .ContactUsSec {
    form {
      padding-top: 60px;
      padding-bottom: 40px;

      .inputGroup {
        gap: 20px;
        padding-bottom: 32px;
        flex-direction: column;

        .inputDiv {
          margin-bottom: 30px;

          label {
            gap: 6px;
            font-size: 15px;

            .mand {
              width: 12px;
            }
            .ico {
              width: 25px;
            }
          }

          input:not([type="radio"]):not([type="checkbox"]),
          textarea {
            padding: 40px 40px;
            font-size: 22px;
          }

        }
      }
    }
  }
  
}
