#aboutSec{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: var(--main);
}

.aboutus{
    height: 100vh;
    width: 100%;
    position: relative;
    // 2xl:px-32
    padding:64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .abouthead{
        font-family: var(--Satoshi);
        font-size: 20px;
        height: fit-content;
        display: flex;
        align-items: center;
        // .dot{
        //     display: inline-block;
        //     width: 12px;
        //     height: 12px;
        //     border-radius: 100px;
        //     background-color: var(--dark);
        //     margin-right: 8px;
        // }
    }

    .bottomborder{
        position: absolute;
        bottom: 0px;
        border-radius: 100px;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 1px solid var(--gray-c5);
        width: calc(100% - 128px);
        // 2xlw-[calc(100%-256px)]
        display: block;
    }
}

#aboutRef{
    width: fit-content;
    font-size: 60px;
    font-family: var(--NohemiL);
    display: flex;
    flex-wrap: nowrap;
    margin: 30px 0px;
    margin-top: 70px;
    
    .pc-aboutus{
        display: block;
    }
    .mobile-aboutus{
        display: none;
    }

    .scrollerWrapper{
        display: flex;
        flex-wrap: nowrap;
        white-space:nowrap;
        align-items: center;
        margin-top: 16px;
        // 2xl mt-8

        .scrollerItem{
            flex-shrink: 0;

            &>div{
                vertical-align: middle;
                display: inline-block;
                margin: 0px 25px;
                
                img{
                    width: 80px;
                    height: 80px;
                }

                .animicon{
                    width: 80px;
                    height: 80px;
                }
            }
        }
    }
}

.aboutdetail{
    max-height: 42vh;
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse;
    padding: 40px 0;
    gap: 50px;

    .animiconlist{
        display: none !important    ;
    }
    
    &>div:nth-child(1){
        flex: 0 1 40%;
        height: fit-content;
        display: flex;
        justify-content: start;
        
        p{
            color: var(--gray-2f) !important;
            font-family: var(--Satoshi);
            font-size: 18px;
            font-weight: 400 !important;
            line-height: 27px;
            max-width: 33ch;
        }
    }
    
    &>div:nth-child(3){
        flex: 0 1 60%;
        height: 100%;
        display: flex;
        align-items: end;
        
        img{
            width: 176px;
            height: 176px;
        }
    }
}

@media (min-width: 1390px) {
    

.aboutdetail{
    padding: 60px 0;
    gap: 0px;
}
}

@media (min-width: 1700px) {
    
.aboutus{
    padding:64px 120px;

    .bottomborder{
        width: calc(100% - 240px);
    }
}

#aboutRef{
    margin-top: 85px;
    margin-bottom: 40px;
    font-size: 80px;
    .scrollerWrapper{
        margin-top: 32px;
        .scrollerItem{
            &>div{
                margin: 0px 30px;
                img{
                    width: 108px;
                    height: 108px;
                }
                .animicon{
                    width: 108px;
                    height: 108px;
                }
            }
        }
    }
}

.aboutdetail{
    padding-bottom: 40px;
    &>div:nth-child(1){
        p{
            font-size: 24px;
            line-height: 36px;
        }
    }

    &>div:nth-child(3){
        img{
            width: 256px;
            height: 256px;
        }
        margin-bottom: 60px;
    }
}
}

@media (max-width: 1024px) and (min-width: 501px) {
    
    #aboutSec{
        height: fit-content;
    }
    
    .aboutus{
        padding: 60px;
        height: fit-content;
    
        .bottomborder{
            width: calc(100% - 120px);
        }
    }
    
    #aboutRef{
        margin-top: 60px;
        margin-bottom: 40px;
        font-size: 42px;
        .scrollerWrapper{
            flex-wrap: wrap;
            margin-top: 32px;
            row-gap: 20px;
            .scrollerItem{
                &>div{
                    margin: 0px 20px;
                    .animicon,
                    img{
                        width: 55px;
                        height: 55px;
                    }
                }
            }
        }
    }
    
    .aboutdetail{
        padding-bottom: 0px;
        gap: 0;
        &>div:nth-child(1){
            flex: 1;
            p{
                font-size: 15px;
                line-height: 21px;
            }
        }
        
        &>div:nth-child(3){
            flex: 1;
            img{
                width: 120px;
                height: 120px;
            }
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 500px) {
    
    #aboutSec{
        width: 100%;
        height: fit-content;
        overflow: hidden;
        background-color: var(--main);
    }
    
    .aboutus{
        height: fit-content;
        width: 100%;
        position: relative;
        // 2xl:px-32
        padding:50px 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .bottomborder{
            position: absolute;
            bottom: 0px;
            border-radius: 100px;
            left: 50%;
            transform: translateX(-50%);
            border-bottom: 1px solid var(--gray-c5);
            width: calc(100% - 48px);
            // 2xlw-[calc(100%-256px)]
            display: block;
        }

        .abouthead{
            font-family: var(--Satoshi);
            font-size: 20px;
            height: fit-content;
    
            // .dot{
            //     display: inline-block;
            //     width: 12px;
            //     height: 12px;
            //     border-radius: 100px;
            //     background-color: var(--dark);
            //     margin-right: 8px;
            // }
        }
    }
    
    #aboutRef{
        width: 100%;
        font-size: 36px;
        font-weight: 400 !important;
        line-height: 41px;
        font-family: var(--Satoshi);
        text-transform: unset;
        display: flex;
        flex-wrap: nowrap;
        margin-top: 55px;
        margin-top: 40px;
        
        .pc-aboutus{
            display: none;
        }
        .mobile-aboutus{
            display: flex;
            width: 100%;
            align-items: center; 
            white-space: nowrap;           
        }

    }
    
    .aboutdetail{
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        padding-top:20px;
        padding-bottom: 0;
        gap: 50px;
    max-height: unset;


    
        &>div:nth-child(1){
            flex: 1 1 0%;
            height: fit-content;
            display: flex;
            justify-content: end;
    
            p{
                max-width: 100%;
                font-family: var(--Satoshi);
                font-size: 16px;
                font-weight: 400 !important;
                line-height: 27px;
            }
        }
    
        &>div:nth-child(2).animiconlist{
            display: flex !important;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 20px;
            .animicon{
                width: 60px;
                height: 60px;
                &:nth-child(even){
                    margin-bottom: 20px;
                }
            }
        }

        &>div:nth-child(3){
            height: 100%;
            width: fit-content;
            display: flex;
            align-items: end;
            // m14:h-64 2xl:mb-16
            
            img{
                width: 132px;
                height: 132px;
            }
        }
    }
    
    }