
#processSec {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    color: var(--light);
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    
    .proc-marquee-wrap {
        width: 100%;
        overflow: hidden;
        padding: 24px 0px;
        // m14py-10
    
        .proc-marquee-con{
            width: 100%;
            color: var(--light);
            line-height: 1;
            vertical-align: bottom;
            font-size: 60px;
            // m14:text-[54px]
            font-weight: 300;
            display: flex;
            flex-wrap: nowrap;
            font-family: var(--NohemiL);
    
            #proc-marquee{
                flex:1 1 0%;
                flex-shrink: 0;
                min-width: fit-content;
                width: fit-content;
                height: fit-content;
                position: relative;
                white-space: nowrap;
    
                #proc-marquee-first{
                    width: fit-content;
                    display: flex;
                    flex-wrap: nowrap;
                    height: fit-content;
                    padding-top: 12px;
                    align-items: center;
                }
                #proc-marquee-fourth,
                #proc-marquee-second,
                #proc-marquee-third{
                    width: 100%;
                    display: flex;
                    flex-wrap: nowrap;
                    height: fit-content;
                    position: absolute;
                    top: 0%;
                    padding-top: 12px;
                    align-items: center;
                }
    
                img.arrowRef{
                    margin: 0px 48px;
                    height: 50px;
                    width: 50px;
                    vertical-align: middle;
                    margin-bottom: 10px;

                }
            }
        }
    }

    .proc-cards-wrap{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        padding: 80px 100px;
        overflow: visible;

        &>div{
            display: flex;
            justify-content: center;

            .card-icon{
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 0 0 33%;
                width: 33%;
                padding-right: 50px;
                img, .animicon{
                    width: 190px;
                    height: 190px;
                    // width: 190px;
                }
            }

            .card-grid{
                flex: 1 1 67%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 32px;
                // m14:gap-y-16 m14:gap-x-32
                // gap: 64px 128px;
                align-content: end;
                
                .process-card{
                    background-color: #141414;
                    // max-height: 250px;
                    border-radius: 9px;
                    height: 100%;
                    grid-column: span 1 / span 1;
                    grid-row: span 1 / span 1;
                    position: relative;
                    overflow: hidden;
                    padding: 32px 20px ;
                    
                    &>div:nth-child(1){
                        position: absolute;
                        top: 30px;
                        right: 30px;
                        width:fit-content;
                        height: fit-content;
                        z-index: 10;

                        &>span{
                            border: 1px solid var(--light);
                            color: var(--light);
                            aspect-ratio: 1/1;
                            font-size: 12px;
                            height: 20px;
                            // font-size: 20px;
                            border-radius: 100px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            line-height: normal;
                            transition: all 500ms ease;
                        }
                    }
                    &>div:nth-child(2){
                        position: relative;
                        z-index: 10;

                        h1{
                            text-transform: capitalize;
                            color: var(--light);
                            font-family: var(--Satoshi);
                            font-size: 22px;
                            line-height: 100%;
                            // 2xl:text-[24px]
                            font-weight: 400;
                            padding-bottom: 25px;
                            transition: all 500ms ease;
                        }

                        p{
                            color: var(--gray-97);
                            font-family: var(--Satoshi);
                            font-size: 15px;
                            line-height: 21px;
                            // 2xl:text-[18px] 2xl:leading-[28px]
                            transition: all 500ms ease;
                        }
                    }
                    &>div:nth-child(3){
                        transition: all 500ms ease;
                        position: absolute;
                        height: 0%;
                        width: 100%;
                        background-color: var(--light);
                        left: 0;
                        bottom: 0;

                    }

                    &.active>div:nth-child(1){
                        &>span{
                            border: 1px solid var(--dark);
                            color: var(--dark);
                        }
                    }
                    &.active>div:nth-child(2){
                        h1{
                            color: var(--dark);
                        }

                        p{
                            color: #2F2F2F;
                        }
                    }
                    &.active>div:nth-child(3){
                        height: 100%;
                    }
                }
            }
        }
    }

    .proc-cards-wrap-mob{
        display: none;
     }
}

@media (min-width: 1390px){
    #processSec {
        .proc-marquee-wrap {
            padding-top: 40px;
            padding-bottom: 40px;
            
            // .proc-marquee-con{
            //     font-family: var(--NohemiL);
            //     font-size: 40px;
            // }
        }
    }
}

@media (min-width: 1700px){
    #processSec {
        .proc-marquee-wrap {
            .proc-marquee-con{
                font-size: 80px;

                #proc-marquee{
                    
                    #proc-marquee-first{
                        padding-top: 12px;
                    }
                    #proc-marquee-fourth,
                    #proc-marquee-second,
                        #proc-marquee-third{
                        padding-top: 12px;
                    }
        
                    img.arrowRef{
                        // margin: 0px 48px;
                        margin: 0px 56px;
                        height: 66px;
                        width: 66px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    
        .proc-cards-wrap{
            padding: 100px 120px;
            &>div{
                .card-icon{
                    padding-right: 100px;
                    img,.animicon{
                        width: 250px;
                        height: 250px;
                    }
                }
    
                .card-grid{
                    .process-card{
                        max-height: 250px;
                        padding: 42px 30px;
                        &>div:nth-child(1){
                            top: 40px;
                            &>span{
                                font-size: 16px;
                                height: 26px;
                            }
                        }
                        &>div:nth-child(2){
    
                            h1{
                                font-size: 30px;
                                padding-bottom: 30px;
                            }
    
                            p{
                                font-size: 19px;
                                line-height: 29px;
                            width: 90%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) and (min-width: 431px){
    #processSec {
        height: fit-content;
        .proc-marquee-wrap {
            .proc-marquee-con{
                font-size: 28px;

                #proc-marquee{
                    
                    #proc-marquee-first{
                        padding-top: 12px;
                    }
                    #proc-marquee-fourth,
                    #proc-marquee-second,
                        #proc-marquee-third{
                        padding-top: 12px;
                    }
        
                    img.arrowRef{
                        // margin: 0px 48px;
                        margin: 0px 20px;
                        height: 32px;
                        width: 32px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    
        .proc-cards-wrap{
            padding: 60px;
            &>div{
                .card-icon{
                    padding-right: 40px;
                    img,.animicon{
                        width: 140px;
                        height: 140px;
                    }
                }
    
                .card-grid{
                    .process-card{
                        max-height: unset;
                        padding: 15px;
                        &>div:nth-child(1){
                            top: 14px;
                            &>span{
                                font-size: 9px;
                                height: 14px;
                                line-height: 13px;
                            }
                        }
                        &>div:nth-child(2){
    
                            h1{
                                font-size: 17px;
                                padding-bottom: 12px;
                            }
    
                            p{
                                font-size: 13px;
                                line-height: 18px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1300px) and (min-width: 1025px) {
    #processSec {
        .proc-marquee-wrap {
            .proc-marquee-con{
                font-size: 40px;
        
                #proc-marquee{
                    img.arrowRef{
                        margin: 0px 32px;
                        height: 32px;
                        width: 32px;
                    }
                }
            }
            
        }
        .proc-cards-wrap{
            padding-top: 20px;
            padding-bottom: 20px;
    
            
            &>div{
                .card-icon{
                    flex: 0 0 25%;
                    width: 25%;
                    img, .animicon{
                        width: 140px;
                        height: 140px;
                    }
                }
    
                .card-grid{
                    flex: 1 1 75%;
                }
            }
        }
    }
}

// -----------------mobile

@media (max-width: 430px) {
    
#processSec {
    width: 100%;
    height: fit-content;
    position: relative;
    overflow: hidden;
    color: var(--light);
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    
    .proc-marquee-wrap {
        font-size: 30px;
        width: 100%;
        overflow: hidden;
        padding: 24px 0px;
        // m14py-10
    
        .proc-marquee-con{
            width: 100%;
            color: var(--light);
            line-height: 1;
            vertical-align: bottom;
            font-size: 30px;
            letter-spacing: 0.1ch;
            // m14:text-[54px]
            display: flex;
            flex-wrap: nowrap;
            font-family: var(--Nohemil);
    
            #proc-marquee{
                flex:1 1 0%;
                flex-shrink: 0;
                min-width: fit-content;
                width: fit-content;
                height: fit-content;
                position: relative;
                white-space: nowrap;
    
                #proc-marquee-first{
                    width: fit-content;
                    display: flex;
                    flex-wrap: nowrap;
                    height: fit-content;
                    padding-top: 12px;
                }
                #proc-marquee-fourth,
                #proc-marquee-second,
                    #proc-marquee-third{
                    width: 100%;
                    display: flex;
                    flex-wrap: nowrap;
                    height: fit-content;
                    position: absolute;
                    top: 0%;
                    padding-top: 12px;
                }

                img.arrowRef{
                    height: 30px;
                        width: 30px;
                    margin: 0px 14px;
                    margin-bottom: 0px;
                }
            }
        }
    }

    .proc-cards-wrap{
       display: none;
    }

    .proc-cards-wrap-mob{
        display: flex;
        flex-direction: column;
        padding: 60px 40px;
        gap: 40px;

        .process-card{
            position: relative;
            padding: 20px;
            border-radius: 8px;
            overflow: hidden;

            &>div:nth-child(1){
                position: relative;
                z-index: 10;
                display: flex;
                color: var(--dark);
                padding-bottom: 12px;

                &>div:nth-child(1){
                    flex-grow: 1;
                }

                img, .animicon{
                    width: 50px;
                    height: 50px;
                }

              span{
                    border: 1px solid var(--dark);
                    aspect-ratio: 1/1;
                    font-size: 12px;
                    height: 20px;
                    border-radius: 100px;
                    margin-right: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    line-height: normal;
                    transition: all 500ms ease;
                }

                h1{
                    padding-top: 12px;
                    text-transform: capitalize;
                    font-family: var(--SatoshiM);
                    font-size: 20px;
                    line-height: normal;
                    transition: all 500ms ease;
                }

            }
            &>div:nth-child(2){
                position: relative;
                z-index: 10;
                p{
                    color: var(--gray-2f);
                    font-family: var(--Satoshi);
                    font-size: 16px;
                    font-weight: 100;
                    line-height: 24px;
                    letter-spacing: -0.3px;
                    width: 90%;
                    transition: all 500ms ease;
                }
            }
            &>div:nth-child(3){
                transition: all 500ms ease;
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: var(--light);
                left: 0;
                bottom: 0;

            }

        }
     }
}
}