#ideasSec {
    width: 100%;
    // height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark);
    color: var(--light);
    padding-bottom: 20px;
    border-radius: 50px;

    #ideasCon {
        display: flex;
        flex-direction: column;
        padding: 60px 100px;
        padding-bottom: 10px;

        h1 {
            font-size: 60px;
            line-height: 70px;
            font-family: var(--NohemiL);
            font-weight: 300 !important;
        }

        .ideasproducts {
            margin-top: 60px;
            padding-top: 40px;
            border-top: 1px solid var(--gray-97);
            color: var(--gray-97);
            font-family: var(-Satoshi);
            font-weight: 400 !important;

            p {
                font-size: 24px;
                line-height: 32px;
            }

            .tabsflex {
                margin-top: 30px;
                display: flex;
                flex-wrap: wrap;
                gap: 30px;

                .mob-only {
                    display: none !important;
                }

                a.LinkhoverGroup {
                    border: 1px solid var(--light);
                    font-weight: 400;
                    margin-bottom: 15px;
                    border-radius: 100px;
                    padding: 25px;
                    color: var(--light);
                    cursor: pointer;
                    font-size: 25px;
                    text-decoration: none;
                    line-height: 32px;
                    font-family: var(--Satoshi);
                    display: flex;
                    align-items: center;
                    gap: 30px;
        
                    &>div:nth-child(1) {
                        position: relative;
                        overflow: hidden;
        
                        * {
                            transition: all 300ms ease;
                        }
        
                        .hiddenTag {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 100%;
                            left: 0;
                        }
                    }
        
                    &>div:nth-child(2) {
                        position: relative;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 30px;
                        width: 30px;
        
                        * {
                            transition: all 400ms ease;
                        }
        
                        img {
                            fill: #fff;
                            height: 30px;
                            width: 30px;
                            padding: 4px;
                        }
        
                        .hiddenTag {
                            position: absolute;
                            top: 100%;
                            left: -100%;
                        }
                    }
        
                    &:hover {
                        &>div:nth-child(1) {
                            .visibleTag {
                                transform: translateY(-100%);
                            }
        
                            .hiddenTag {
                                transform: translateY(-100%);
                            }
                        }
        
                        &>div:nth-child(2) {
                            .visibleTag {
                                transform: translate3d(100%, -100%, 0)
                            }
        
                            .hiddenTag {
                                transform: translate3d(100%, -100%, 0)
                            }
                        }
                    }
                }
            }
        }
    }

    .idea-marquee-wrap {
        width: 100%;
        overflow: hidden;
        padding: 24px 0px;
        // m14py-10

        .idea-marquee-con {
            width: 100%;
            color: var(--light);
            line-height: normal;
            vertical-align: bottom;
            font-size: 40px;
            // m14:text-[54px]
            display: flex;
            flex-wrap: nowrap;
            font-family: var(--NohemiL);

            #idea-marquee {
                flex: 1 1 0%;
                flex-shrink: 0;
                min-width: fit-content;
                width: fit-content;
                height: fit-content;
                position: relative;
                white-space: nowrap;

                #idea-marquee-first {
                    width: fit-content;
                    display: flex;
                    flex-wrap: nowrap;
                    height: fit-content;
                    align-items: center;
                    padding-top: 12px;
                }

                #idea-marquee-second,
                #idea-marquee-third {
                    width: 100%;
                    display: flex;
                    flex-wrap: nowrap;
                    height: fit-content;
                    position: absolute;
                    align-items: center;
                    top: 0%;
                    padding-top: 12px;
                }

                img {
                    margin: 0px 48px;
                    height: 50px;
                    width: 50px;
                }
            }
        }
    }
}

#footer {
    width: 100%;
    height: fit-content;
    position: relative;
    overflow: hidden;
    background-color: var(--main);

    .footerCon {
        width: 80%;
        margin: 60px auto;
        display: flex;

        &>div:nth-child(1) {
            width: 40%;
            text-align: left;
            align-items: flex-start;
        }

        &>div {
            width: 20%;
            display: flex;
            flex-direction: column;
            text-align: left;
            align-items: center;
        }

        &>div>div {
            display: flex;
            flex-direction: column;
            width: fit-content;
            gap: 5px;

        }

        a.LinkhoverGroup {
            font-weight: 400;
            margin-bottom: 15px;
            color: var(--black);
            cursor: pointer;
            font-size: 20px;
            text-decoration: none;
            line-height: 25px;
            font-family: var(--Satoshi);
            display: flex;
            align-items: center;
            gap: 10px;

            &>div:nth-child(1) {
                position: relative;
                overflow: hidden;

                * {
                    transition: all 300ms ease;
                }

                .hiddenTag {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 100%;
                    left: 0;
                }
            }

            &>div:nth-child(2) {
                position: relative;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 21px;
                width: 21px;

                * {
                    transition: all 400ms ease;
                }

                img {
                    fill: #000;
                    height: 21px;
                    width: 21px;
                    padding: 4px;
                }

                .hiddenTag {
                    position: absolute;
                    top: 100%;
                    left: -100%;
                }
            }

            &:hover {
                &>div:nth-child(1) {
                    .visibleTag {
                        transform: translateY(-100%);
                    }

                    .hiddenTag {
                        transform: translateY(-100%);
                    }
                }

                &>div:nth-child(2) {
                    .visibleTag {
                        transform: translate3d(100%, -100%, 0)
                    }

                    .hiddenTag {
                        transform: translate3d(100%, -100%, 0)
                    }
                }
            }
        }

        h1 {
            font-size: 28px;
            line-height: 32px;
            font-family: var(--NohemiL);
            padding-bottom: 30px;
            font-weight: 300 !important;

        }

        p {
            font-size: 24px;
            line-height: 32px;
            font-family: var(--Satoshi);
            font-weight: 400;
            padding-bottom: 15px;

            img {
                height: 16px;
                margin-right: 5px;
            }
        }

    }
}

@media (min-width: 1536px) {
    #ideasSec {
        padding-bottom: 40px;

        #ideasCon {
            display: flex;
            flex-direction: column;
            padding: 80px 120px;
            padding-bottom: 10px;

            h1 {
                font-size: 80px;
                line-height: 95px;
            }

            .ideasproducts {
                margin-top: 80px;
                padding-top: 60px;

                p {
                    font-size: 32px;
                    line-height: normal;
                    margin-bottom: 80px;
                }

                .tabsflex {
                    margin-top: 40px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 40px;

                    a.LinkhoverGroup {
                        padding: 25px;
                        font-size: 32px;
                        line-height: 40px;
                        gap: 40px;
            
                    }
                }
            }
        }

        .idea-marquee-wrap {
            width: 100%;
            overflow: hidden;
            padding: 24px 0px;
            // m14py-10

            .idea-marquee-con {
                width: 100%;
                color: var(--light);
                line-height: normal;
                vertical-align: bottom;
                font-size: 54px;
                display: flex;
                flex-wrap: nowrap;
                font-family: var(--Nohemi);

                #idea-marquee {
                    flex: 1 1 0%;
                    flex-shrink: 0;
                    min-width: fit-content;
                    width: fit-content;
                    height: fit-content;
                    position: relative;
                    white-space: nowrap;

                    #idea-marquee-first {
                        width: fit-content;
                        display: flex;
                        flex-wrap: nowrap;
                        height: fit-content;
                        align-items: center;
                        padding-top: 12px;
                    }

                    #idea-marquee-second,
                    #idea-marquee-third {
                        width: 100%;
                        display: flex;
                        flex-wrap: nowrap;
                        height: fit-content;
                        position: absolute;
                        align-items: center;
                        top: 0%;
                        padding-top: 12px;
                    }

                    img {
                        margin: 0px 56px;
                        height: 66px;
                        width: 66px;
                    }
                }
            }
        }
    }


    #footer {
        width: 100%;
        height: fit-content;
        position: relative;
        overflow: hidden;
        background-color: var(--main);

        .footerCon {
            width: 80%;
            margin: 60px auto;
            display: flex;

            &>div:nth-child(1) {
                width: 40%;
                text-align: left;
            }

            &>div {
                width: 20%;
                display: flex;
                flex-direction: column;
                text-align: left;
            }

            h1 {
                font-size: 36px;
                line-height: 40px;
                font-family: var(--Nohemi);
                font-weight: 400 !important;
                padding-bottom: 30px;
            }

            p {
                font-size: 30px;
                line-height: 40px;
                font-family: var(--Satoshi);
                padding-bottom: 15px;

                img {
                    height: 20px;
                }
            }

            a {
                padding-bottom: 15px;
                font-size: 26px;
                text-decoration: none;
                line-height: 40px;
                font-family: var(--Satoshi);

                img {
                    height: 10px;
                    fill: #000;
                    margin-left: 10px;
                }
            }

        }
    }
}


// ------------mobile


@media (max-width: 750px) {
    #ideasSec {
        width: 100%;
        // height: 100vh;
        position: relative;
        overflow: hidden;
        z-index: 20;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--dark);
        color: var(--light);
        padding-bottom: 20px;
        border-radius: 30px;

        #ideasCon {
            display: flex;
            flex-direction: column;
            padding: 40px 24px;
            padding-bottom: 10px;

            h1 {
                font-size: 48px;
                line-height: 60px;
                font-weight: 300 !important;
            }

            .ideasproducts {
                margin-top: 30px;
                padding-top: 40px;
                border-top: 1px solid var(--gray-97);
                color: var(--gray-97);
                font-family: var(-Satoshi);
                font-weight: 400 !important;

                p {
                    font-size: 18px;
                    line-height: 27px;
                }

                .tabsflex {
                    margin-top: 30px;
                    display: flex;
                    flex-wrap: nowrap;
                    overflow-x: scroll;
                    padding: 20px 0;
                    gap: 30px;

                    &:last-of-type {
                        display: none;
                    }

                    a.LinkhoverGroup {
                        font-size: 20px;
                        padding: 15px 20px;
                        line-height: 20px;
                        gap: 20px;

                        &.mob-only {
                            display: flex !important;
                        }
                    }
                }
            }
        }

        .idea-marquee-wrap {
            width: 100%;
            overflow: hidden;
            padding: 24px 0px;
            // m14py-10

            .idea-marquee-con {
                width: 100%;
                color: var(--light);
                line-height: normal;
                vertical-align: bottom;
                font-size: 35px;
                display: flex;
                flex-wrap: nowrap;
                font-family: var(--NohemiL);

                #idea-marquee {
                    flex: 1 1 0%;
                    flex-shrink: 0;
                    min-width: fit-content;
                    width: fit-content;
                    height: fit-content;
                    position: relative;
                    white-space: nowrap;

                    #idea-marquee-first {
                        width: fit-content;
                        display: flex;
                        flex-wrap: nowrap;
                        height: fit-content;
                        align-items: center;
                        padding-top: 12px;
                    }

                    #idea-marquee-second,
                    #idea-marquee-third {
                        width: 100%;
                        display: flex;
                        flex-wrap: nowrap;
                        height: fit-content;
                        position: absolute;
                        align-items: center;
                        top: 0%;
                        padding-top: 12px;
                    }

                    img {
                        margin: 0px 24px;
                        height: 45px;
                        width: 45px;
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    #footer {
        width: 100%;
        height: fit-content;
        position: relative;
        overflow: hidden;
        background-color: var(--main);

        .footerCon {
            width: 100%;
            padding: 30px 24px;
            padding-bottom: 0;
            margin-top: 0px;
            display: flex;
            flex-wrap: wrap;

            &>div {
                display: flex;
                text-align: left;
                flex-direction: column;
                align-items: flex-start;
            }

            &>div>div {
                display: flex;
                flex-direction: column;
                width: fit-content;
                gap: 5px;
    
            }

            &>div:nth-child(1) {
                text-align: left;
                flex: 1 1 100%;
                padding-bottom: 30px;
            }

            &>div:nth-child(2) {
                flex: 1 1 50%;
            }

            &>div:nth-child(3) {
                flex: 1 1 50%;
                padding-left: 30px;
            }

            &>div:nth-child(4) {
                flex: 1 1 100%;
                padding-top: 30px;
            }

            h1 {
                font-size: 24px;
                line-height: 32px;
                font-family: var(--NohemiM);
                padding-bottom: 30px;
                font-weight: 500 !important;

            }

            p {
                font-size: 20px;
                line-height: 32px;
                font-family: var(--Satoshi);
                font-weight: 400;
                padding-bottom: 15px;

                img {
                    height: 16px;
                    margin-left: 10px;
                }
            }

            a {
                font-weight: 400;
                padding-bottom: 15px;
                color: var(--black);
                cursor: pointer;
                font-size: 20px;
                text-decoration: none;
                line-height: 32px;
                font-family: var(--Satoshi);

                img {
                    height: 10px;
                    fill: #000;
                    margin-left: 10px;
                }
            }

        }
    }
}