.UIUXCon {
  display: flex;
  padding-bottom: 160px;

  & > div {
    flex: 1 1 50%;
    display: flex;

    &:nth-child(1) {
      padding: 0px;
      align-items: center;
      justify-content: start;
    }
    &:nth-child(2) {
      justify-content: center;
      align-items: start;
    }
  }
  .bigiconAnim {
    .bigiconWrapper {
      position: relative;
      padding: 80px;

      #animCircle {
        border-radius: 100%;
        border: 2px dashed var(--gray-cd);
        position: absolute;
        left: 50%;
        width: 100%;
        height: 100%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);

        .animDot {
          background-color: var(--sec);
          height: 28px;
          aspect-ratio: 1;
          border-radius: 100%;
          position: absolute;
          top: 50%;

          &#AnimDot1 {
            left: 0px;
            transform: translate(-50%, -50%);
          }
          &#AnimDot2 {
            right: 0px;
            transform: translate(50%, -50%);
          }
        }
      }
      .animiconbig {
        width: 16vw;
        aspect-ratio: 1;
      }
    }
  }

  ul {
    color: var(--dark);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
    letter-spacing: -0.3px;
    list-style: disc;
    li:nth-child(1) {
      padding-bottom: 70px;
      max-width: 31ch;
    }
    li:nth-child(2) {
      max-width: 27ch;
    }
  }
}

.headerh1andicon {
  img,
  .animicon {
    display: none;
  }
}

.headerpandicon {
  display: flex;
  align-items: center;
  gap: 12px;

  img,
  .animicon {
    width: 60px !important;
    height: 60px !important;
  }
}

.ALLPROJECTS {
  display: flex;
  justify-content: space-between;
  h1 {
    width: fit-content !important;
  }
  & > div {
    display: flex;
    justify-content: end;
    align-items: end;
  }
  a {
    color: #000;
    font-family: var(--Satoshi);
    font-size: 20px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #000;
      bottom: 0px;
      left: 0;
      transition: all 300ms ease;
    }
  }
}

.imagerow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
  padding-top: 20px;
  & > div {
    img {
      display: block;
      width: 100%;
    }
    p {
      color: #000;
      font-family: var(--Satoshi);
      font-size: 32px;
      padding-top: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

#digitalDesign {
  width: 100%;
  color: var(--light);
  background: var(--dark);
  transition: all 300ms ease;
  position: relative;
  z-index: 10;

  #digitalDesignWrapper {
    display: flex;
    position: relative;
    height: fit-content;
    height: 100vh;
    overflow: hidden;

    .grid {
      position: absolute;
      width: 100%;
      height: 100vh;
      bottom: 0%;
      left: 0%;
      display: block;
      object-fit: cover;
      z-index: -2;
      opacity: 0 ;
      transition: all 0.3s ease;
    }
    .gridoverlay {
      transition: all 0.3s ease-out;
      position: absolute;
      width: 100%;
      height: 100vh;
      bottom: 0%;
      left: 0%;
      opacity: 0;
      z-index: -1;
      background: linear-gradient(to top, var(--sec) 30%, #ff262680);
    }

    & > div:nth-child(1) {
      margin: 80px auto;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: space-between;

      h1 {
        color: #fff;
        font-family: var(--NohemiL);
        font-size: max(4.1vw, 36px);
        line-height: 118.75%;
        font-style: normal;
        font-weight: 300;
        white-space: nowrap;
      }

      .buttoncon {
        display: flex;
        gap: 70px;
        align-items: center;
        height: fit-content;
        .hoverLine {
          font-size: 18px;
          line-height: normal;
          margin-top: 16px;
          font-family: var(--SatoshiM);
          text-transform: uppercase;
          display: flex;
          align-items: center;
          text-decoration: none;
          color: inherit;
          width: fit-content;

          & > div {
            position: relative;
            padding-bottom: 4px;

            & > div {
              background-color: var(--light);
              position: absolute;
              bottom: -6px;
              left: 50%;
              transform: translateX(-50%);
              height: 2px;
              width: 100%;
              transition: all 300ms;
            }
          }

          &:hover > div > div {
            width: 0;
          }
        }
        .arrowCircle {
          background-color: var(--sec);
          width: 8vw;
          max-width: 184px;
          aspect-ratio: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          transition: color 0.5s ease, background-color 0.5s ease;
          svg {
            color: #fff;
            fill: #fff;
            width: 25%;
            display: block;
          }
        }
      }
    }
    & > div:nth-child(2) {
      flex: 1;
      margin: 0 auto;

      #cardStack {
        margin-top: 55vh;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: column;
        gap: 0px;

        .stackCard {
          width: 630px;
          aspect-ratio: 1.6;
          padding-bottom: 60px;
          transform-origin: center center;
          overflow: hidden;
          
          .cardWrapper {
            width: 100%;
            position: relative;
            background-color: #fff;
            color: #000;
            padding: 40px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            box-shadow: 0 0 10px 0 #00000030;

            .overlay {
              width: 100%;
              height: 100%;
              left: 0;
              position: absolute;
              top: 0;
              z-index: 19;
              background-color: #fff;
              opacity: 0;
            }

            & > div:nth-child(1) {
              display: flex;
              justify-content: space-between;
              & > div:nth-child(1) {
                display: flex;
                flex-direction: column;
                gap: 40px;
              }
              small {
                color: #000;
                font-family: var(--Satoshi);
                font-size: 24px;
                font-weight: 400;
                line-height: normal;
              }
              p {
                color: #000;
                font-family: var(--SatoshiM);
                font-size: 26px;
                font-weight: 500;
                line-height: 18.667px; /* 71.795% */
              }
              img {
                display: block;
                aspect-ratio: 1;
                width: 70px;
              }
            }
            & > div:nth-child(2) {
              display: flex;
              justify-content: space-between;
              p {
                color: #333;
                font-family: var(--Satoshi);
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 34px; /* 154.545% */
                letter-spacing: -0.3px;
                width: 90%;
              }
            }
          }
        }
      }
    }
    .listcon {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 12%;
      padding-right: 80px;

      & > div {
        padding: 0px 20px;
        border-bottom: 1px solid var(--gray-97);
        height: 12vh;
        max-width: 285px;
        max-height: 145px;
        font-family: var(--Satoshi);
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        position: relative;
        color: var(--gray-97);
        transition: all 300ms ease;
        display: flex;
        align-items: center;

        span {
          position: relative;
          z-index: 10;
        }
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 0%;
          background-color: #fff;
          bottom: 0;
          left: 0;
          transition: all 300ms ease;
          z-index: 1;
        }

        &:hover {
          color: var(--dark);
          &::after {
            height: 100%;
          }
        }
      }
    }
  }
}

#aboutUsDiscoverMore {
  padding-bottom: 120px;
  position: relative;
  margin-bottom: 0vh;

  .spacer {
    display: none;
  }

  .discoverMoreWrapper {
    position: static;
    height: fit-content;
  }
}

#dragableSec {
  width: 100%;
  height: 100vh;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  user-select: none;

  .MatterWrapper {
    flex-grow: 1;
    position: relative;

    .matterContainer {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
      z-index: 10;
    }

    .matterContainer canvas {
      height: 100%;
      width: 100%;
    }

    .matterContainerOverlay {
      pointer-events: none;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0%;
      left: 0;

      .matterConHead {
        padding-top: 60px;
        display: flex;
        gap: 30px;
        padding-right: 3vw;

        & > div:nth-child(1) {
          flex: 1;
        }
        & > div:nth-child(2) {
          max-width: fit-content;
        }

        h1 {
          color: #fff;
          font-family: var(--NohemiL);
          font-size: 80px;
          font-style: normal;
          font-weight: 300;
          white-space: nowrap;
          line-height: 95px; /* 118.75% */
        }
        p {
          color: var(--gray-97);
          font-family: var(--Satoshi);
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 36px; /* 150% */
          max-width: 32ch;
        }

        a {
          // font-size: 14px;
          // line-height: 21px;
          display: none !important;

          font-size: 18px;
          line-height: 1;
          margin-top: 16px;
          font-family: var(--SatoshiM);
          text-transform: uppercase;
          display: flex;
          align-items: center;
          text-decoration: none;
          color: inherit;
          width: fit-content;

          & > div {
            position: relative;
            padding-bottom: 4px;

            & > div {
              background-color: var(--dark);
              position: absolute;
              // bottom: -2px;

              bottom: -6px;
              left: 50%;
              transform: translateX(-50%);
              height: 2px;
              width: 100%;
              transition: all 300ms;
            }
          }

          &:hover > div > div {
            width: 0;
          }

          span {
            color: var(--dark);
            transition: all 300ms;
            border: 1px dashed var(--dark);
            background-color: var(--light);
            border-radius: 100px;
            display: block;

            // margin-left: 24px;
            // padding: 4px 36px;
            // height: 36px;

            margin-left: 32px;
            padding: 6px 32px;
            height: 40px;

            img {
              vertical-align: middle;
            }
          }

          &:hover span {
            border: 1px dashed var(--light);
          }
        }
      }
    }
  }

  .boxList {
    display: flex;
    width: 100%;
    .Box_Item {
      flex: 1;
      padding: 20px 0;
      aspect-ratio: 1.7;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      border-right: 1px solid #4c4c4c;
      border-top: 1px solid #4c4c4c;

      &:last-of-type {
        border-right: none;
      }

      h2 {
        color: #fff;
        font-family: var(--Satoshi);
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      p {
        color: var(--gray-97);
        font-family: var(--SatoshiM);
        font-size: 22px;
        font-style: normal;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 24px; /* 109.091% */
      }
    }
  }

  .dragableLabels {
    position: absolute;
    left: -50vw;
    white-space: nowrap;
    border-radius: 200px;
    color: #FFF;
    text-align: center;
    font-family: var(--Satoshi);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 109.091% */
    padding: 1rem 2rem;
    text-transform: uppercase;
    pointer-events: none;
  }

  .whiteLabel{
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
  }
  .blackLabel{
    background-color: #000;
    border: 2px solid #fff;
    color: #fff;
  }
}

.p5Canvas{
  display: none !important;
}

.work {
  .workGrid {
    .workimage {
      #imgRef {
        #animatedline {
          height: 280% !important;
        }
      }
    }
  }
}

#otherServices {
  width: 100%;
  height: fit-content;
  position: relative;
  margin-bottom: -100vh;

  .border_top {
    height: 1px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    & > div {
      width: 100%;
      border-top: 1px solid var(--gray-c5);
    }
  }
  .spacer {
    height: 100vh;
  }

  .otherServicesWrapper {
    position: sticky;
    top: -250px;
    height: calc(100vh + 250px);
    padding-bottom: 170px;
    display: flex;
    flex-direction: column;

    .heading {
      padding-top: 70px;
      display: flex;
      justify-content: space-between;
      h1 {
        color: var(--dark);
        font-family: var(--NohemiL);
        font-size: 80px;
        font-style: normal;
        font-weight: 300;
        line-height: 95px; /* 118.75% */
      }

      & > div {
        padding-right: 100px;
        max-width: 40%;
        width: fit-content;
        p {
          color: #000;
          font-family: var(--Satoshi);
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 36px; /* 150% */
          margin-bottom: 20px;

        }
        a {
          font-size: 18px;
          line-height: 1;
          margin-top: 16px;
          font-weight: 600;
          font-family: var(--SatoshiM);
          text-transform: uppercase;
          display: flex;
          align-items: center;
          text-decoration: none;
          color: inherit;
          width: fit-content;

          & > div {
            position: relative;
            padding-bottom: 4px;

            & > div {
              background-color: var(--dark);
              position: absolute;
              bottom: -6px;
              left: 50%;
              transform: translateX(-50%);
              height: 2px;
              width: 100%;
              transition: all 300ms;
            }
          }

          &:hover > div > div {
            width: 0;
          }

          span {
            color: var(--dark);
            transition: all 300ms;
            border: 1px dashed var(--dark);
            background-color: var(--light);
            border-radius: 100px;
            display: block;

            margin-left: 32px;
            padding: 6px 32px;
            height: 40px;

            img {
              vertical-align: middle;
            }
          }

          &:hover span {
            border: 1px dashed var(--light);
          }
        }
      }
    }

    .otherServicesSec {
      flex: 1;

      #skillsBoxesRef {
        display: flex;
        gap: 30px;
        height: 100%;
        align-items: center;
        line-height: normal;

        .boxCard.iconBox {
          background-color: unset !important;
        }
        .boxCard {
          flex: 1 1 0%;
          background-color: var(--light);
          color: var(--dark);
          //padding: 48px 0px;

          &:nth-child(2) {
            // mt-24 2xl:mt-32
            margin-top: 40px;
          }
          &:nth-child(3) {
            // mt-48 2xl:mt-64
            margin-top: 80px;
          }

          &:hover .boxWrapper .arrow {
            transform: translateX(50%);
          }

          &:hover .boxWrapper .nameb p:nth-child(1) {
            transform: translateY(-100%);
          }
          &:hover .boxWrapper .nameb p:nth-child(2) {
            top: 0;
          }

          .iconWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              margin: 0 auto;
              display: block;
              width: 12vw;
            }
          }

          .boxWrapper {
            text-transform: uppercase;
            font-family: var(--Satoshi);
            font-size: 36px;
            line-height: 48px;
            aspect-ratio: 3/2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            cursor: pointer;

            .number {
              position: absolute;
              font-size: 12px;
              line-height: 12px;
              border-radius: 100px;
              border: 1px solid var(--dark);
              left: 24px;
              top: 24px;
              height: 20px;
              width: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .lable {
              position: absolute;
              font-size: 16px;
              line-height: normal;
              padding-right: 2px;
              right: 24px;
              top: 24px;
              color: var(--gray-79);
            }

            .arrow {
              transition: all 700ms;
              position: absolute;
              line-height: normal;
              left: 24px;
              bottom: 24px;
              height: 12px;
              display: flex;
              img {
                height: 12px;
              }
            }

            .namea {
              margin-bottom: 0px;
            }

            .nameb {
              position: relative;
              overflow: hidden;

              p {
                transition: all 500ms;

                &:nth-child(2) {
                  position: absolute;
                  top: 110%;
                  left: 0;
                  height: 100%;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

.boxesRef2 {
  .boxitem {
    border-top: 1px solid var(--gray-c5) !important;
  }
}
.boxesRef2:nth-child(2) {
  .boxitem {
    border-top: none !important;
  }
}

.inUIUX {
  .boxesRef2 {
    .boxitem {
      aspect-ratio: 1.7;
      & > div {
        aspect-ratio: 1.7;
      }
      img {
        display: block;
        max-width: 80px;
        max-height: 80px;
      }
    }
  }
}

.customPerksSecP{
  width: 50% !important; 
}

@media (min-width: 1536px) {
  #otherServices {
    .otherServicesWrapper {
      .otherServicesSec {
        #boxesRef {
          display: flex;
          gap: 30px;

          .boxCard {
            &:nth-child(2) {
              margin-top: 50px;
            }
            &:nth-child(3) {
              margin-top: 100px;
            }

            .boxWrapper {
              font-size: 48px;
              line-height: normal;

              .number {
                font-size: 12px;
                line-height: 12px;
              }

              .lable {
                font-size: 18px;
              }

              .arrow {
                height: 22px;
                img {
                  height: 22px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1536px) {
  #unseenStories .heading{
    padding-top: 80px !important;
  }
  .UIUXCon {
    display: flex;
    padding-bottom: 110px;


    & > div {
      flex: 1 1 50%;
      display: flex;

      &:nth-child(1) {
        align-items: center;
        justify-content: start;
      }
      &:nth-child(2) {
        justify-content: center;
        align-items: start;
      }
    }
    svg {
      width: 172.695px;
      height: 194.141px;
    }

    ul {
      font-size: 18px;
      line-height: 27px; /* 150% */
      li:nth-child(1) {
        padding-bottom: 60px;
      }
    }
  }

  .headerpandicon {
    img,
    .animicon {
      width: 40px !important;
      height: 40px !important;
    }
  }

  .ALLPROJECTS {
    h1 {
      width: fit-content !important;
    }

    & > div {
      display: flex;
      justify-content: end;
      align-items: end;
    }
    a {
      font-size: 16px;
      line-height: 27px; /* 140% */
    }
  }

  .imagerow {
    & > div {
      p {
        font-size: 24px;
      }
    }
  }

  .listcon {
    height: 100%;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 12%;

    & > div {
      padding: 40px 20px;
      font-size: 18px;

      &:hover::after {
        height: 100%;
      }
    }
  }


  #digitalDesign {
    #digitalDesignWrapper {
  
      & > div:nth-child(1) {
        margin: 60px auto;
  
        .buttoncon {
          gap: 40px;
          .hoverLine {
            font-size: 14px;
  
            & > div {
              & > div {
                bottom: -2px;
              }
            }
          }
        }
      }
      & > div:nth-child(2) {
  
        #cardStack {
          .stackCard {
            width: 477px;
            padding-bottom: 40px;
            .cardWrapper {
              padding: 30px;
              gap: 20px;
  
              & > div:nth-child(1) {
                & > div:nth-child(1) {
                  gap: 30px;
                }
                small {
                  font-size: 18px;
                }
                p {
                  font-size: 20px;
                  line-height: 20px; /* 71.795% */
                }
                img {
                  width: 52px;
                }
              }
              & > div:nth-child(2) {
                p {
                  line-height: 25px; /* 154.545% */
                  font-size: 16px;
                  width: 90%;
                }
              }
            }
          }
        }
      }
      .listcon {
        padding-right: 60px;
  
        & > div {
          padding: 40px 20px;
          font-size: 18px;

  
          span {
            position: relative;
            z-index: 10;
          }
        }
      }
    }
  }
  
  .inUIUX {
    .boxesRef2 {
      .boxitem {
        img {
          display: block;
          max-width: 70px;
          max-height: 70px;
        }
      }
    }
  }

  #dragableSec {
    .MatterWrapper {
      .matterContainerOverlay {
        .matterConHead {
  
          h1 {
            font-size: 60px;
            line-height: 71px; /* 118.75% */
          }
          p {
            font-size: 18px;
            line-height: 27px; /* 150% */
            max-width: 32ch;
          }
  
        }
      }
    }
  
    .boxList {
      .Box_Item {
        gap: 20px;
        h2 {
          font-size: 30px;
        }
        p {
          font-size: 16px;
          line-height: 18px; /* 109.091% */
        }
      }
    }

    .dragableLabels {
      font-size: 16px;
      line-height: 18px; /* 109.091% */
      padding: 14px 26px;
    }
  }

  #otherServices {
  
  
    
    .otherServicesWrapper {
      position: sticky;
      top: -150px;
      height: calc(100vh + 150px);
      padding-bottom: 110px;
      display: flex;
      flex-direction: column;
  
      .heading {
        padding-top: 60px;
        h1 {
          font-size: 60px;
          line-height: 71px; /* 118.75% */
        }
  
        & > div {
          padding-right: 80px;
          p {
            line-height: 27px; /* 150% */
            font-size: 18px;
            margin-bottom: 20px;
  
          }
          a {
            font-size: 14px;
  
            & > div {
              padding-bottom: 4px;
  
              & > div {
                bottom: -2px;
              }
            }
  
  
            span {
  
              height: 36px;
              margin-left: 24px;
              padding: 7px 30px;
            }
  
            &:hover span {
              border: 1px dashed var(--light);
            }
          }
        }
      }
  
      .otherServicesSec {
        flex: 1;
  
        #skillsBoxesRef {
          display: flex;
          gap: 30px;
          height: 100%;
          align-items: center;
          line-height: normal;
  
          .boxCard.iconBox {
            background-color: unset !important;
          }
          .boxCard {
            flex: 1 1 0%;
            background-color: var(--light);
            color: var(--dark);
            //padding: 48px 0px;
  
            &:nth-child(2) {
              // mt-24 2xl:mt-32
              margin-top: 40px;
            }
            &:nth-child(3) {
              // mt-48 2xl:mt-64
              margin-top: 80px;
            }
  
            &:hover .boxWrapper .arrow {
              transform: translateX(50%);
            }
  
            &:hover .boxWrapper .nameb p:nth-child(1) {
              transform: translateY(-100%);
            }
            &:hover .boxWrapper .nameb p:nth-child(2) {
              top: 0;
            }
  
            .iconWrapper {
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                margin: 0 auto;
                display: block;
                width: 12vw;
              }
            }
  
            .boxWrapper {
              text-transform: uppercase;
              font-family: var(--Satoshi);
              font-size: 36px;
              line-height: 48px;
              aspect-ratio: 3/2;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              position: relative;
              cursor: pointer;
  
              .number {
                position: absolute;
                font-size: 12px;
                line-height: 12px;
                border-radius: 100px;
                border: 1px solid var(--dark);
                left: 24px;
                top: 24px;
                height: 20px;
                width: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
  
              .lable {
                position: absolute;
                font-size: 16px;
                line-height: normal;
                padding-right: 2px;
                right: 24px;
                top: 24px;
                color: var(--gray-79);
              }
  
              .arrow {
                transition: all 700ms;
                position: absolute;
                line-height: normal;
                left: 24px;
                bottom: 24px;
                height: 12px;
                display: flex;
                img {
                  height: 12px;
                }
              }
  
              .namea {
                margin-bottom: 0px;
              }
  
              .nameb {
                position: relative;
                overflow: hidden;
  
                p {
                  transition: all 500ms;
  
                  &:nth-child(2) {
                    position: absolute;
                    top: 110%;
                    left: 0;
                    height: 100%;
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 750px) {
  #digitalDesign.active {
    background: var(--sec);
  
    #digitalDesignWrapper {
      .grid {
        opacity: 0.6;
      }
      .gridoverlay {
        opacity: 1;
      }
      & > div:nth-child(1) {
        .buttoncon {
          .arrowCircle {
            background-color: var(--light);
            svg {
              color: #000;
              fill: #000;
            }
          }
        }
      }
  
      .listcon {
        & > div {
          border-bottom: 1px solid var(--light);
          color: var(--light);
  
          &:hover {
            color: var(--dark);
            &::after {
              height: 100%;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 750px) {
  #unseenStories .heading{
    br{
      display: none;
    }
  }

  .UIUXCon {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;

    & > div {
      flex: 1 1 50%;
      display: flex;

      &:nth-child(1) {
        padding: 60px 10px;
        padding-top: 0;
        align-items: center;
        justify-content: start;
      }
      &:nth-child(2) {
        justify-content: center;
        align-items: start;
      }
    }
    .bigiconAnim {
      .bigiconWrapper {
        padding: 60px;
  
        #animCircle {
          .animDot {
            height: 22px;
          }
        }
        .animiconbig {
          width: 100%;
          aspect-ratio: 1;
        }
      }
    }

    ul {
      font-size: 16px;
      line-height: 24px; /* 150% */
      padding: 0 24px !important;
      li:nth-child(1) {
        padding-bottom: 35px;
        max-width: 31ch;
      }
      li:nth-child(2) {
        max-width: 27ch;
      }
    }
  }
  .headerh1andicon {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: start;
    img,
    .animicon {
      display: block;
      width: 50px !important;
      height: 50px !important;
      margin-bottom: 24px;
    }
  }

  .headerpandicon {
    display: flex;
    align-items: center;
    gap: 12px;
    img,
    .animicon {
      display: none;
    }
  }

  .ALLPROJECTS {
    a {
      font-size: 14px;
      white-space: nowrap;
      line-height: 21px; /* 140% */
    }
  }

  .imagerow {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 58px;
    padding-top: 20px;
    & > div {
      img {
        display: block;
        width: 100%;
      }
      p {
        font-size: 24px;
        padding-top: 5px;
      }
    }
  }

  .listcon {
    height: fit-content;
    padding: 60px 24px;
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;

    & > div {
      padding: 40px 15px;
      font-size: 18px;
      white-space: nowrap;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0%;
        background-color: #fff;
        bottom: 0;
        left: 0;
        transition: all 300ms ease;
        mix-blend-mode: difference;
      }

      &:hover::after {
        height: 100%;
      }
    }
  }

  #digitalDesign {
    height: 100dvh;

    #digitalDesignWrapper {
      height: 100dvh;

      flex-direction: column;
  
      & > div:nth-child(1) {
        margin: 60px 0;
        margin-bottom: 0px;
      flex: 0;
      h1 {
        font-size: 7vw;
        overflow: hidden;
        max-width: 100%;
        overflow-x: hidden;
      }

  
        .buttoncon {
          gap: 40px;
          .hoverLine {
            font-size: 14px;
  
            & > div {
              & > div {
                bottom: -2px;
              }
            }

          }
          .arrowCircle {
            width: 84px;
          }
        }
      }
      & > div:nth-child(2) {
  
        #cardStack {
        margin-top: 65%;
          .stackCard {
            width: 95%;
            padding-bottom: 20px;
            aspect-ratio: 1.4;
            .cardWrapper {
              padding: 20px;
              gap: 20px;
              overflow: hidden;
  
              & > div:nth-child(1) {
                & > div:nth-child(1) {
                  gap: 30px;
                }
                small {
                  font-size: 18px;
                }
                p {
                  font-size: 20px;
                  line-height: 20px; /* 71.795% */
                }
                img {
                  width: 52px;
                }
              }
              & > div:nth-child(2) {
                p {
                  line-height: 24px; /* 154.545% */
                  font-size: 16px;
                  width: 100%;
                }
              }
            }
          }
        }
      }
      .listcon {
        padding: 0px;
        padding-bottom: 20px;
  
        & > div {
          padding: 0px 10px;
          height: 11vh;
  
        }
      }
    }
  }

  .customPerksSecP{
    width: 100% !important; 
  }

  .stickybutton{
    width: fit-content !important;
    height: fit-content !important;
  }
  .boxesRef2 {
    .boxitem {
      border-top: none !important;
    }
    .boxitemEmpty{
      display: none !important;
    }
  }

  .inUIUX {
    .boxesRef2 {
      .boxitem {
        aspect-ratio: 1;
        img {
          display: block;
          max-width: 70px;
          max-height: 70px;
        }
      }
    }
  }

  #dragableSec {
    .MatterWrapper {
      .matterContainerOverlay {
        .matterConHead {
          flex-direction: column;
  
          h1 {
            font-size: 36px;
            line-height: 41px; /* 118.75% */
          }
          p {
            font-size: 16px;
            line-height: 27px; /* 150% */
            max-width: 95%;
          }
  
        }
      }
    }
  
    .boxList {
      flex-wrap: wrap;
      .Box_Item {
        flex: 1 1 45%;
        gap: 10px;
        aspect-ratio: 1.3;
        h2 {
          font-size: 25px;
          line-height: normal;
        }
        p {
          font-family: var(--Satoshi);
          font-size: 14px;
          line-height: 18px; /* 109.091% */
        }
      }
    }

    .dragableLabels {
      font-size: 14px;
      line-height: 16px; /* 109.091% */
      padding: 12px 22px;
    }
  
  }


  #otherServices {
  
  
    
    .otherServicesWrapper {
      position: sticky;
      top: -350px;
      height: fit-content;
      padding-bottom: 200px;
      display: flex;
      flex-direction: column;
  
      .heading {
        padding-top: 60px;
        flex-direction: column;
        gap: 30px;
        h1 {
          font-size: 36px;
          line-height: 41px; /* 118.75% */

          br{
            display: none;
          }
        }
  
        & > div {
          max-width: 100%;
          padding-right: 00px;
          p {
            line-height: 27px; /* 150% */
            font-size: 16px;
            margin-bottom: 20px;
  
          }
         
        }
      }
  
      .otherServicesSec {
        flex: 1;
  
        #skillsBoxesRef {
          display: flex;
          flex-direction: column;
          gap: 40px;
        height: fit-content;
          height: 100%;
          align-items: stretch;
          line-height: normal;
          margin-top: 80px;
          position: relative;

          
          .boxCard.iconBox {
            background-color: unset !important;
          }
          
          .boxCard {
            flex: 1 1 0%;
            background-color: var(--light);
            color: var(--dark);
            //padding: 48px 0px;
  
            &:nth-child(1) {
              position: absolute;
              right: 20px;
              top: -120px;

              
            }
            &:nth-child(2) {
              // mt-24 2xl:mt-32
              margin-top: 0px;
            }
            &:nth-child(3) {
              // mt-48 2xl:mt-64
              margin-top: 0px;
            }
  
            &:hover .boxWrapper .arrow {
              transform: translateX(50%);
            }
  
            &:hover .boxWrapper .nameb p:nth-child(1) {
              transform: translateY(-100%);
            }
            &:hover .boxWrapper .nameb p:nth-child(2) {
              top: 0;
            }
  
            .iconWrapper {
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                margin: 0 auto;
                display: block;
                width: 90px;
              }
            }
  
            .boxWrapper {
              text-transform: uppercase;
              font-family: var(--Satoshi);
              font-size: 36px;
              line-height: 48px;
              aspect-ratio: 3/2;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              position: relative;
              cursor: pointer;
  
              .number {
                position: absolute;
                font-size: 12px;
                line-height: 12px;
                border-radius: 100px;
                border: 1px solid var(--dark);
                left: 24px;
                top: 24px;
                height: 20px;
                width: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
  
              .lable {
                position: absolute;
                font-size: 16px;
                line-height: normal;
                padding-right: 2px;
                right: 24px;
                top: 24px;
                color: var(--gray-79);
              }
  
              .arrow {
                transition: all 700ms;
                position: absolute;
                line-height: normal;
                left: 24px;
                bottom: 24px;
                height: 12px;
                display: flex;
                img {
                  height: 12px;
                }
              }
  
              .namea {
                margin-bottom: 0px;
              }
  
              .nameb {
                position: relative;
                overflow: hidden;
  
                p {
                  transition: all 500ms;
  
                  &:nth-child(2) {
                    position: absolute;
                    top: 110%;
                    left: 0;
                    height: 100%;
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
}
