.UIUXCon {
  display: flex;
  padding-bottom: 160px;

  & > div {
    flex: 1 1 50%;
    display: flex;

    &:nth-child(1) {
      padding: 110px;
      align-items: center;
      justify-content: start;
    }
    &:nth-child(2) {
      justify-content: center;
      align-items: start;
    }
  }
  svg {
    width: 229.685px;
    height: 258.207px;
  }

  ul {
    color: var(--dark);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
    letter-spacing: -0.3px;
    list-style: disc;
    li:nth-child(1) {
      padding-bottom: 70px;
      max-width: 31ch;
    }
    li:nth-child(2) {
      max-width: 27ch;
    }
  }
}

.headerh1andicon{
  img, .animicon{
        display: none;
    }
  }

.headerpandicon {
  display: flex;
  align-items: center;
  gap: 12px;

  img, .animicon {
    width: 60px !important;
    height: 60px !important;
  }
}

.ALLPROJECTS {
    display: flex;
    justify-content: space-between;
    h1{
        width: fit-content !important;
    }
  & > div {
    display: flex;
    justify-content: end;
    align-items: end;
  }
  a {
    color: #000;
    font-family: var(--Satoshi);
    font-size: 20px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #000;
      bottom: 0px;
      left: 0;
      transition: all 300ms ease;
    }
  }
}

.imagerow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
  padding-top: 20px;
  & > div {
    img {
      display: block;
      width: 100%;
    }
    p {
      color: #000;
      font-family: var(--Satoshi);
      font-size: 32px;
      padding-top: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.listcon {
  height: 100%;
  padding: 160px 120px;
  padding-top: 120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 12%;

  & > div {
    padding: 50px 20px;
    border-bottom: 1px solid #979797;
    color: #ffffff60;
    font-family: var(--SatoshiM);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 0%;
      background-color: #fff;
      bottom: 0;
      left: 0;
      transition: all 300ms ease;
      mix-blend-mode: difference;
    }

    &:hover::after {
      height: 100%;
    }
  }
}

#aboutUsDiscoverMore {
    padding-bottom: 120px;
    height: fit-content;
    position: relative;
    margin-bottom: -100vh;
  
    .spacer {
      height: 100vh;
    }
  
    .discoverMoreWrapper {
      position: sticky;
      top: 0%;
      height: fit-content;
    }
}

@media (max-width: 1536px) {
    
    .UIUXCon {
        display: flex;
        padding-bottom: 110px;
      
        & > div {
          flex: 1 1 50%;
          display: flex;
      
          &:nth-child(1) {
            padding: 90px;
            align-items: center;
            justify-content: start;
          }
          &:nth-child(2) {
            justify-content: center;
            align-items: start;
          }
        }
        svg {
            width: 172.695px;
            height: 194.141px;
        }
      
        ul {
          font-size: 18px;
          line-height: 27px; /* 150% */
          li:nth-child(1) {
            padding-bottom: 60px;
          }
        }
      }
      
      .headerpandicon {
        img, .animicon {
          width: 40px !important;
          height: 40px !important;
        }
      }
      
      .ALLPROJECTS {
        h1{
            width: fit-content !important;
        }

        & > div {
          display: flex;
          justify-content: end;
          align-items: end;
        }
        a {
          font-size: 16px;
          line-height: 27px; /* 140% */
        }
      }
      
      .imagerow {
        & > div {
          p {
            font-size: 24px;
        }
        }
      }
      
      .listcon {
        height: 100%;
        padding: 160px 100px;
         padding-top: 120px;
        align-content: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 12%;
      
        & > div {
          padding: 40px 20px;
          font-size: 18px;
      
          &:hover::after {
            height: 100%;
          }
        }
      }
      
}


@media (max-width: 750px) {
    
    .UIUXCon {
        display: flex;
        flex-direction: column;
        padding-bottom: 60px;
      
        & > div {
          flex: 1 1 50%;
          display: flex;
      
          &:nth-child(1) {
            padding: 60px;
            padding-top: 0;
            align-items: center;
            justify-content: start;
          }
          &:nth-child(2) {
            justify-content: center;
            align-items: start;
          }
        }
        svg {
            width: 266px;
            height: 266px;
        }
      
        ul {
            font-size: 16px;
            line-height: 24px; /* 150% */
            padding: 0 24px !important;
          li:nth-child(1) {
            padding-bottom: 35px;
            max-width: 31ch;
          }
          li:nth-child(2) {
            max-width: 27ch;
          }
        }
      }
      .headerh1andicon{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: start;
        img, .animicon{
            display: block;
            width: 50px !important;
            height: 50px !important;
            margin-bottom: 24px;
        }
      }
      
      .headerpandicon {
        display: flex;
        align-items: center;
        gap: 12px;
        img, .animicon {
            display: none;
        }
      }
      
      .ALLPROJECTS {
         
        a {
          font-size: 14px;
          white-space: nowrap;
          line-height: 21px; /* 140% */
        }
      }
      
      .imagerow {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 58px;
        padding-top: 20px;
        & > div {
          img {
            display: block;
            width: 100%;
          }
          p {
            font-size: 24px;
            padding-top: 5px;
          }
        }
      }
      
      .listcon {
        height:  fit-content;
        padding: 60px 24px;
        padding-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
      
        & > div {
          padding: 40px 15px;
          font-size: 18px;
          white-space: nowrap;
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 0%;
            background-color: #fff;
            bottom: 0;
            left: 0;
            transition: all 300ms ease;
            mix-blend-mode: difference;
          }
      
          &:hover::after {
            height: 100%;
          }
        }
      }
      
      #aboutUsDiscoverMore {
          padding-bottom: 120px;
          height: fit-content;
          position: relative;
          margin-bottom: -100vh;
        
          .spacer {
            height: 100vh;
          }
        
          .discoverMoreWrapper {
            position: sticky;
            top: -100%;
            height: fit-content;
          }
      }
      
}